# Assignment 3 "SQL Queries"

This assignment is based on Chapters 2 and 4 in John L. Viesca's "SQL Queries for Mere Mortals."

### Connect to the database server

In [1]:
import json
import pymysql 

pymysql.install_as_MySQLdb()

with open('cred.json') as f:
    creds = json.load(f)

connection_string = "mysql://{user}:{password}@{host}".format(**creds)

In [2]:
%load_ext sql
%config SqlMagic.autocommit=True
%sql $connection_string

'Connected: dimitri@None'

### Show all available databases

Note the shared schemas `shared_bowling`, `shared_sales`, `shared_recipes`, `schared_schedule`, and `shared_entertain`.

Review their [Diagrams](https://github.com/msds-5315/Database-Systems-for-Data-Science/blob/master/Schemas.pdf) and use it to understand the relationships between entities in each database as reviewed in class.

In [3]:
%%sql

SHOW DATABASES;

 * mysql://dimitri:***@db.data-science-ust.net
12 rows affected.

[('information_schema',),
 ('dimitri_enroll',),
 ('dimitri_hw2',),
 ('dimitri_recipes',),
 ('dimitri_uni',),
 ('dimitri_university',),
 ('shared_bowling',),
 ('shared_entertain',),
 ('shared_recipes',),
 ('shared_sales',),
 ('shared_schedule',),
 ('shared_uni',)]

## List tables in a given schema

In [4]:
%%sql

SHOW TABLES IN shared_sales;

 * mysql://dimitri:***@db.data-science-ust.net
13 rows affected.

[('~log',),
 ('categories',),
 ('customers',),
 ('employees',),
 ('order_details',),
 ('orders',),
 ('product_vendors',),
 ('products',),
 ('vendors',),
 ('ztblMonths',),
 ('ztblPriceRanges',),
 ('ztblPurchaseCoupons',),
 ('ztblSeqNumbers',)]

### Ispect the definition of a given tables

In [5]:
%%sql

SHOW CREATE TABLE shared_sales.order_details;

 * mysql://dimitri:***@db.data-science-ust.net
1 rows affected.

[('order_details', "CREATE TABLE `order_details` (\n  `OrderNumber` int(11) NOT NULL DEFAULT '0',\n  `ProductNumber` int(11) NOT NULL DEFAULT '0',\n  `QuotedPrice` decim ... (308 characters truncated) ... r`),\n  CONSTRAINT `Order_Details_FK01` FOREIGN KEY (`ProductNumber`) REFERENCES `products` (`ProductNumber`)\n) ENGINE=InnoDB DEFAULT CHARSET=latin1")]

You can also retreive the output into a python object for nicer printing. Just use a single percent sign `%sql` rather than two `%%sql`

In [6]:
result = %sql SHOW CREATE TABLE shared_sales.order_details;

 * mysql://dimitri:***@db.data-science-ust.net
1 rows affected.

In [7]:
print(result[0]['Create Table'])

CREATE TABLE `order_details` (
  `OrderNumber` int(11) NOT NULL DEFAULT '0',
  `ProductNumber` int(11) NOT NULL DEFAULT '0',
  `QuotedPrice` decimal(15,2) DEFAULT '0.00',
  `QuantityOrdered` smallint(6) DEFAULT '0',
  PRIMARY KEY (`OrderNumber`,`ProductNumber`),
  KEY `OrdersOrderDetails` (`OrderNumber`),
  KEY `ProductsOrderDetails` (`ProductNumber`),
  CONSTRAINT `Order_Details_FK00` FOREIGN KEY (`OrderNumber`) REFERENCES `orders` (`OrderNumber`),
  CONSTRAINT `Order_Details_FK01` FOREIGN KEY (`ProductNumber`) REFERENCES `products` (`ProductNumber`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1

Review the table declarations and compare them to the schema diagrams.

# Simple queries from Chapter 4

Which cities do our customers live in?

In [8]:
%%sql
USE shared_sales;

SHOW TABLES;

 * mysql://dimitri:***@db.data-science-ust.net
0 rows affected.
13 rows affected.

[('~log',),
 ('categories',),
 ('customers',),
 ('employees',),
 ('order_details',),
 ('orders',),
 ('product_vendors',),
 ('products',),
 ('vendors',),
 ('ztblMonths',),
 ('ztblPriceRanges',),
 ('ztblPurchaseCoupons',),
 ('ztblSeqNumbers',)]

In [9]:
%%sql 
-- Which cities do our customers live in?

SELECT CustCity FROM customers;

 * mysql://dimitri:***@db.data-science-ust.net
28 rows affected.

[('Redmond',),
 ('Duvall',),
 ('Auburn',),
 ('Houston',),
 ('Redmond',),
 ('Redmond',),
 ('Portland',),
 ('San Diego',),
 ('Seattle',),
 ('Austin',),
 ('Woodinville',),
 ('Bellevue',),
 ('San Diego',),
 ('Palm Springs',),
 ('Chico',),
 ('Salem',),
 ('Medford',),
 ('Fremont',),
 ('Glendale',),
 ('Bellevue',),
 ('Dallas',),
 ('Long Beach',),
 ('Seattle',),
 ('El Paso',),
 ('El Paso',),
 ('San Antonio',),
 ('Portland',),
 ('Bothell',)]

In [10]:
%%sql

-- What are the names and addresses of all our employees

SELECT EmpFirstName, EmpLastName, EmpStreetAddress FROM employees;

 * mysql://dimitri:***@db.data-science-ust.net
8 rows affected.

[('Ann', 'Patterson', '16 Maple Lane'),
 ('Mary', 'Thompson', '122 Spring River Drive'),
 ('Matt', 'Berg', '908 W. Capital Way'),
 ('Carol', 'Viescas', '722 Moss Bay Blvd.'),
 ('Kirk', 'DeGrasse', '455 West Palm Ave'),
 ('David', 'Viescas', '16679 NE 42nd Court'),
 ('Kathryn', 'Patterson', '554 E. Wilshire\nApt. 2A'),
 ('Susan', 'McLain', '511 Lenora Ave')]

In [11]:
%%sql

SELECT * FROM employees;

 * mysql://dimitri:***@db.data-science-ust.net
8 rows affected.

[(701, 'Ann', 'Patterson', '16 Maple Lane', 'Auburn', 'WA', '98002', 253, '555-2591', datetime.date(1958, 3, 18)),
 (702, 'Mary', 'Thompson', '122 Spring River Drive', 'Duvall', 'WA', '98019', 425, '555-2516', datetime.date(1990, 6, 21)),
 (703, 'Matt', 'Berg', '908 W. Capital Way', 'Tacoma', 'WA', '98413', 253, '555-2581', datetime.date(1964, 11, 2)),
 (704, 'Carol', 'Viescas', '722 Moss Bay Blvd.', 'Kirkland', 'WA', '98033', 425, '555-2576', datetime.date(1987, 12, 23)),
 (705, 'Kirk', 'DeGrasse', '455 West Palm Ave', 'San Antonio', 'TX', '78284', 210, '5552311', datetime.date(1985, 10, 5)),
 (706, 'David', 'Viescas', '16679 NE 42nd Court', 'Redmond', 'WA', '98052', 425, '555-2661', datetime.date(1968, 1, 1)),
 (707, 'Kathryn', 'Patterson', '554 E. Wilshire\nApt. 2A', 'Seattle', 'WA', '98105', 206, '555-2697', datetime.date(1982, 12, 12)),
 (708, 'Susan', 'McLain', '511 Lenora Ave', 'Bellevue', 'WA', '98006', 425, '555-2301', datetime.date(1967, 10, 15))]

In [12]:
%%sql

USE shared_schedule;

show tables;

 * mysql://dimitri:***@db.data-science-ust.net
0 rows affected.
22 rows affected.

[('~log',),
 ('Buildings',),
 ('Categories',),
 ('Class_Rooms',),
 ('Classes',),
 ('Departments',),
 ('Faculty',),
 ('Faculty_Categories',),
 ('Faculty_Classes',),
 ('Faculty_Subjects',),
 ('Majors',),
 ('Staff',),
 ('Student_Class_Status',),
 ('Student_Schedules',),
 ('Students',),
 ('Subjects',),
 ('ztblGenderMatrix',),
 ('ztblLetterGrades',),
 ('ztblMaritalStatusMatrix',),
 ('ztblProfRatings',),
 ('ztblSemesterDays',),
 ('ztblSeqNumbers',)]

In [13]:
%%sql

SELECT * FROM Subjects;

 * mysql://dimitri:***@db.data-science-ust.net
56 rows affected.

[(1, 'ACC', 'ACC 210', 'Financial Accounting Fundamentals I', None, 'Introduces basic accounting concepts, principles and prodcedures for recording business transactions and developing financial accounting reports. Excel spreadsheet component.', 100),
 (2, 'ACC', 'ACC 220', 'Financial Accounting Fundamentals II', 'ACC 210', 'Applications of basic accounting concepts, principles and procedures to more complex business situations and to different forms of enterprise ownership. Includes computerized element. Prereq: ACC 210 or instructor permission.', 60),
 (3, 'ACC', 'ACC 230', 'Fundamentals of Managerial Accounting', 'ACC 220', 'Analysis of accounting data as part of the managerial process of planning, decision making and control. Concentrates on economic decision making in enterprises. Includes computerized element. Prereq: ACC 220 or instructor permission.', 20),
 (4, 'ACC', 'ACC 251', 'Intermediate Accounting', 'ACC 220', 'In-depth review of financial accounting principles. Emphasizes the conceptual framework of accounting, revenue and expense recognition. Accounts Receivable, Depreciation, and Amortization, etc. Prereq: ACC 220 or instructor permission.', 30),
 (5, 'ACC', 'ACC 257', 'Business Tax Accounting', 'ACC 220', 'Basic principles, practices and governmental regulations (Federal, Washington, State, and local) involved in business tax accounting including filing returns, record keeping, tax planning, and registrations and business licenses. Prereq: ACC 220 or instructors permissions.', 15),
 (6, 'BUS', 'BUS 101', 'Introduction to Business', None, 'Survey of businss practices. Covers business terminology, forms of business ownership, franchising, small and international businesses, leadership and management, marketing principles, financing and investment methods, and business environment.', 80),
 (7, 'BUS', 'BUS 155', 'Developing A Feasibility Plan', None, 'With the aid of a counselor, a feasibility plan will be developed which will be the basis or start of your business plan. Must be concurrently enrolled in BUS 151.', 15),
 (8, 'BUS', 'BUS 151', 'Introduction to Entrepreneurship', None, 'Overview of the entrepreneurial process, examination of the marketplace, and discussion of successful business strategies. Product selection, selling and marketing strategies. Sources of information and assistance. Must be concurrently enrolled in BUS 155.', 15),
 (9, 'BUS', 'BUS 170', 'Information Technology I', None, 'Uses Word for Windows word processing skills, document formatting, keyboarding, and 10-key keypad skills. Emphasis on preparing letters, memos, reports, and tables. Introduces Excel spreadsheet basics.', 50),
 (10, 'BUS', 'BUS 171', 'Information Technology II', 'BUS 170', 'Uses intermediate Word features including formatting and production, mail merge, macros, text columns, graphics, and fonts; Excel spreadsheet; and introduction to PowerPoint presentation software, Internet and email. Prereq: BUS 170 or permission from instructor.', 35),
 (11, 'ART', 'ART 100', 'Introduction to Art', None, 'Historical backgrounds and design fundamentals which have affected art. Includes slide lectures, reading and practical studio applications.', 40),
 (12, 'ART', 'ART 101', 'Design', None, 'Studio sudies in the fundamentals of two-dimensional art with problems based on line, space, texture, shape and color theories. Includes practical applications of these theories to design.', 12),
 (13, 'ART', 'ART 111', 'Drawing', None, 'Study of line, value, space, perspective, and compostion through the use o charcoal, pencil, pen, and brush.', 12),
 (14, 'ART', 'ART 201', 'Painting', None, 'Beginning painting in oil or synthetic media using still life. Emphasis on basics such as composition, value studies, color mixing, canvas preparation, and various styles and techniques. No prerequisite; some drawing background important.', 15),
 (15, 'ART', 'ART 210', 'Computer Art', None, 'Explore the elements of art such as line, value, space, composition, and color through the use of the computer. Sudents will create works of art using the computer.', 18),
 (16, 'ART', 'ART 251', 'Art History', None, 'Surveys major forms of visual expression from the Paleolithic, Egyptian, Mesopotamian, Greek, Roman, and Early Christian periods. Includes painting, sculpture, architecture, lectures, slides, and readings.', 75),
 (17, 'BIO', 'BIO 100', 'Biological Principles', None, 'An introductory biology course with lab for the non-science major. May include maintenance of the balance between man and his environment, nutrition, genetics and inheritence, ecological principles, plant and animal diversity, and evolution.', 60),
 (18, 'BIO', 'BIO 101', 'General Biology', None, 'Basic bilogical concepts with emphasis on general cell processes, plant and animal diversity, morphyology, limited reproduction, phylogeny of the living organisms, exploration of molecular genetics.', 50),
 (19, 'BIO', 'BIO 280', 'Microbiology', None, 'Introduction to micro-organisms including microbial cell structure and function; metabolism; microbial genetics; and the role of micro-organisms in disease, immunity, and other selected applied areas.', 25),
 (20, 'CHE', 'CHE 101', 'Chemistry', None, 'General chemistry for non-science majors. Completion of CHE 101 fulfills chemistry requirements for many health science majors.', 30),
 (21, 'CHE', 'CHE 139', 'Fundamentals of Chemistry', None, 'Prepatory for the science major chemistry courses for students without prior chemistry experience. This lecture format will include chemical mathematics, basic atomic structure, chemical bonding, chemical equation balancing and mole concept, and chemical stoichiometry.', 100),
 (22, 'CHE', 'CHE 231', 'Organic Chemistry', None, 'Structure, nomenclature, reactions, and synthesis of the main types of organic compounds.', 40),
 (23, 'CIS', 'CIS 101', 'Microcomputer Applications', None, 'This is a "hands-on" course. Students will learn how to use word processing, spreadsheet, and database applications. General operation systems activities such as deleting files, renaming files, and creating and navigating directory structures will also be covered.', 20),
 (24, 'CIS', 'CIS 102', 'Information Systems Concepts', None, 'Provides a broad introduction to computers and information systems. Includes coverage of hardware, software, data organization, data communications, and systems development. Also covers the evolving role of computers in society.', 80),
 (25, 'CIS', 'CIS 114', 'Problem Solving and Structured Programming', None, 'Covers design, documentation, and coding of programs using top-down design and structured programming principles. Includes introduction to multi-user systems, text editors, data access and storage techniques.', 25),
 (26, 'CIS', 'CIS 236', 'Database Management', None, 'Includes database concepts, data management techniques, database environment, record relationships, and advantages and limitations of the database approach. Includes data modeling and database design.', 20),
 (27, 'CSC', 'CSC 110', 'Programming in BASIC', None, 'Computer programming and program design using the Visual Basic programming language. Emphasis is on Program Design and Algorithm Development while writing programs primarily about mathematical and scientific applications.', 20),
 (28, 'CSC', 'CIS 142', 'Computer Programming', None, 'Introduction to computer science using the C programming language. Emphasizes design, algorithmics, abstraction, and analysis.', 25),
 (29, 'JRN', 'JRN 104', 'College Publications', None, 'Hands-on course in college publishing. Covers basics of reporting and writing through work on college newspaper and other assignments.', 20),
 (30, 'ECO', 'ECO 100', 'Survey of Economics', None, 'Economics applied to various comtemporary social problems and issues. Provides an introduction to economic principles concerning national prosperity, market behavior, income inequality, the role of government, and economic fluctuations.', 70),
 (31, 'ECO', 'ECO 200', 'Principles of Economics: Microeconomics', 'MAT 098', 'Covers resource allocation and income distribution with emphasis on price determination, production costs, and market structures. Intermediate algebra or equivalent required.', 35),
 (32, 'ECO', 'ECO 201', 'Principles of Economics: Macroeconomics', None, 'Analysis of the aggregate economy: GDP, inflation, business cycles, trade and finance. Intermediate algebra or equivalent required.', 35),
 (33, 'MUS', 'MUS 100', 'Music in the Western World', None, 'An introduction to music. Features music from a global perspective with a focus on Western Music. Many musical examples, listening, videos on great musicians of the past.', 40),
 (34, 'MUS', 'MUS 101', 'First Year Theory and Ear Training', None, 'Rudiments of music - notation, scales, intervals, and triads, rhythmic and melodic sight-reading and dictation. Studies of historical periods.', 15),
 (35, 'MUS', 'MUS 201', 'Second Year Music Theory', 'MUS 101', 'Continuation of MUS 101. Chromatic harmony, modulations and related modern concepts. Prereq: MUS 101 or instructor permission.', 15),
 (36, 'MUS', 'MUS 204', 'History of Jazz', None, 'Traces the roots of jazz in America from New Orleans, New York, Chicago, Kansas City, the Big Band Era, Be-Bop to modern jazz through films, lectures, recordings and live performances.', 30),
 (37, 'ENG', 'ENG 101', 'Composition - Fundamentals', None, 'Introduces the nature of the writing process in its various stages: gathering, shaping, establishing audience, editing, revising, polishing, and proffreading. Writing assignments concentrate on the major strategies of nonfiction prose - narration, description, and exposition.', 60),
 (38, 'ENG', 'ENG 102', 'Composition - Intermediate', 'ENG 101', 'Continues instruction on the writing process, extending it to include source-based writing of the kind typically done in academic settings. Topics for reading and writing will vary instructor to instructor. Prereq: ENG 101 or instructor permission.', 35),
 (39, 'ENG', 'ENG 104', 'Advanced English Grammar', None, 'Study of the grammar and rhetoric of the English sentence. Not a remedial course.', 20),
 (40, 'GEG', 'GEG 100', 'Introduction to Geography', None, 'An introduction to the major cultures of the world (Hebrew, Christian, Islamic, Hindu, Buddhist), their origins, values, heroes, rituals, scriptures and cross-cultural influences.', 70),
 (41, 'GEG', 'GEG 205', 'Physical Geography', None, 'Study of the Earth, the materials that make it up, and plate tectonics. Special attention to the Pacific Northwest. Includes laboratory and field trip work.', 20),
 (42, 'HIS', 'HIS 101', 'World History to 1500', None, 'Historic foundations and development of the great civilizations from prehistoric days to the Renaissance with emphasis on social, political, economic and geographic aspects. Attention to the nature of history as an intellectual and academic discipline.', 60),
 (43, 'HIS', 'HIS 111', 'U.S. History to 1877', None, 'American history from the colonial period through Reconstruction. Emphasis on the American Revolution, the National Period, slavery, territorial expansion, the Civil War and Reconstruction.', 60),
 (44, 'HIS', 'HIS 112', 'U.S. History Since 1865', None, "Includes Reconstruction, industrialization, urbanization, westward movement, political reform movements, agrarian protest, progressive period, 1920's Great Depressioin and the New Deal, WWII, the conservative 50's, liberalism of the 60's and 70's, and into the next century.", 60),
 (45, 'MAT', 'MAT 080', 'Preparatory Mathematics', None, 'Individualized instruction in Arithmetic, Algebra I and II, Geometry, nad Intermediate Algebra.', 80),
 (46, 'MAT', 'MAT 097', 'Elementary Algebra', None, 'First course in Algebra includes signed numbers, linear equations, linear inequalities, products and factorization of polynomials, and operations with quotients of polynomials.', 25),
 (47, 'MAT', 'MAT 098', 'Intermediate Algebra', None, 'Sets and the real number system, polynomial and rational expressions, exponents and radicals, first and second degree equations, linear systems of equations, and graphs.', 20),
 (48, 'MAT', 'MAT 103', 'Geometry and Visualization', None, 'Basic plane geometry concepts, emphasizing problem-solving. Right triangle trigonometry. Introduction to 3-D geometry/spatial thinking. Directed towards students with no high school geometry but who plan a career in science/engineering.', 25),
 (49, 'MAT', 'MAT 104', 'Trigonometry', None, 'Elementary plane goemetry, right triangle tirgonometry, general angels, identities, equations, word problems, and selected topics.', 20),
 (50, 'PHY', 'PHY 100', 'Survey Of Physics', None, 'Basic laws of phyics from the laws of motion through nuclear physics. Also examines the origins and impact on society of the basic physics concepts.', 80),
 (51, 'PHY', 'PHY 101', 'General Physics', None, 'Classical mechanics; kinematics and dynamics. Includes development of concepts of force, work/energy, impulse/momentum, and the conservation laws.', 40),
 (52, 'PHY', 'PHY 201', 'Engineering Physics I', None, "Development of the basic principles of classical mechanics. A calculus approach is used to introduce kinematics, Newton's laws, the work-energy theorem, and conservation laws.", 20),
 (53, 'PHY', 'PHY 203', 'Engineering Physics II', 'PHY 201', 'Waves and oscillations. Mechanical waves and sound are studied as well as geometric and physical optics. The wave aspect of an electron is introduced as it applies to the stationary states of the hydrogen atom. Prereq: PHY 201.', 15),
 (54, 'POL', 'POL 101', 'Introduction to Political Science', None, 'Introduction to theory, organization, politics and administration of government. Includes political theory, comparative systems, political socialization, public administration, political parties and elections, and international relations.', 90),
 (55, 'POL', 'POL 102', 'American Government', None, 'Origin and development of the U.S. government. Covers the stucture and function of Congress, the Presidency and courts as well as civil liberties, political behavior and political parties.', 50),
 (56, 'POL', 'POL 213', 'Women and Politics', None, "Introduction to concepts of power and policy issues as they relate to women. Theoretical, historical and empirical studies of women's participation i ... (9 characters truncated) ... and political movements nationally and internationally. Study of women's diverse roles in relations to family, economics, labor, government, and law.", 30)]

In [14]:
%%sql

-- What Categories of classes do we offer

SELECT distinct CategoryID FROM Subjects;

 * mysql://dimitri:***@db.data-science-ust.net
16 rows affected.

[('ACC',),
 ('ART',),
 ('BIO',),
 ('BUS',),
 ('CHE',),
 ('CIS',),
 ('CSC',),
 ('ECO',),
 ('ENG',),
 ('GEG',),
 ('HIS',),
 ('JRN',),
 ('MAT',),
 ('MUS',),
 ('PHY',),
 ('POL',)]

In [15]:
%%sql

USE shared_bowling;

 * mysql://dimitri:***@db.data-science-ust.net
0 rows affected.

[]

In [16]:
%%sql

SHOW TABLES

 * mysql://dimitri:***@db.data-science-ust.net
10 rows affected.

[('~log',),
 ('Bowler_Scores',),
 ('Bowlers',),
 ('Match_Games',),
 ('Teams',),
 ('Tournaments',),
 ('Tourney_Matches',),
 ('ztblBowlerRatings',),
 ('ztblSkipLabels',),
 ('ztblWeeks',)]

In [17]:
%%sql

SELECT * FROM Bowlers;

 * mysql://dimitri:***@db.data-science-ust.net
32 rows affected.

[(1, 'Fournier', 'Barbara', None, '67 Willow Drive', 'Bothell', 'WA', '98123', '(206) 555-9876', 1),
 (2, 'Fournier', 'David', None, '67 Willow Drive', 'Bothell', 'WA', '98123', '(206) 555-9876', 1),
 (3, 'Kennedy', 'John', 'A', '2957 W 33rd', 'Ballard', 'WA', '98099', '(206) 555-7854', 1),
 (4, 'Sheskey', 'Sara', 'J', '17950 N 59th', 'Seattle', 'WA', '98011', '(206) 555-9893', 1),
 (5, 'Patterson', 'Ann', 'K', '16 Maple Lane', 'Auburn', 'WA', '98002', '(206) 555-3487', 2),
 (6, 'Patterson', 'Neil', None, '16 Maple Lane', 'Auburn', 'WA', '98002', '(206) 555-3487', 2),
 (7, 'Viescas', 'David', 'A', '16679 NE 42nd Court', 'Redmond', 'WA', '98052', '(206) 882-8878', 2),
 (8, 'Viescas', 'Stephanie', None, '16679 NE 42nd Court', 'Redmond', 'WA', '98052', '(206) 882-8878', 2),
 (9, 'Black', 'Alastair', None, '4726 - 11th Ave. N.E.', 'Seattle', 'WA', '98105', '(206) 555-1189', 3),
 (10, 'Steele', 'Doug', None, '4110 Old Redmond Rd.', 'Redmond', 'WA', '98052', '(206) 555-8122', 3),
 (11, 'Kennedy', 'Angel', None, '2957 W 33rd', 'Ballard', 'WA', '98099', '(206) 555-7854', 3),
 (12, 'Viescas', 'Carol', 'M', '16345 NE 32nd Street', 'Bellevue', 'WA', '98004', '(206) 555-7295', 3),
 (13, 'Hallmark', 'Elizabeth', None, 'Route 2, Box 203B', 'Woodinville', 'WA', '98072', '(206) 555-8990', 4),
 (14, 'Hallmark', 'Gary', None, 'Route 2, Box 203B', 'Woodinville', 'WA', '98072', '(206) 555-8990', 4),
 (15, 'Patterson', 'Kathryn', None, '16 Maple Lane', 'Auburn', 'WA', '98002', '(206) 555-3487', 4),
 (16, 'Sheskey', 'Richard', None, '17950 N 59th', 'Seattle', 'WA', '98011', '(206) 555-9893', 4),
 (17, 'Hernandez', 'Kendra', None, '47 Harvard Drive', 'Kirkland', 'WA', '98033', '(206) 889-9191', 5),
 (18, 'Hernandez', 'Michael', None, '47 Harvard Drive', 'Kirkland', 'WA', '98033', '(206) 889-9191', 5),
 (19, 'Viescas', 'John', 'L', '218 Main Street', 'Redmond', 'WA', '98052', '(206) 881-5596', 5),
 (20, 'Viescas', 'Suzanne', 'L', '218 Main Street', 'Redmond', 'WA', '98052', '(206) 881-5596', 5),
 (21, 'Ehrlich', 'Zachary', None, '507 - 20th Ave. E.', 'Seattle', 'WA', '98122', '(206) 555-9857', 6),
 (22, 'Hallmark', 'Alaina', None, 'Route 2, Box 203B', 'Woodinville', 'WA', '98072', '(206) 555-8990', 6),
 (23, 'Viescas', 'Caleb', None, '16679 NE 42nd Court', 'Redmond', 'WA', '98052', '(206) 882-8878', 6),
 (24, 'Thompson', 'Sarah', 'L', '122 Spring Valley Drive', 'Duvall', 'WA', '98019', '(206) 555-8989', 6),
 (25, 'Patterson', 'Megan', None, '16 Maple Lane', 'Auburn', 'WA', '98002', '(206) 555-3487', 7),
 (26, 'Thompson', 'Mary', 'K', '122 Spring Valley Drive', 'Duvall', 'WA', '98019', '(206) 555-8989', 7),
 (27, 'Thompson', 'William', 'G', '122 Spring Valley Drive', 'Duvall', 'WA', '98019', '(206) 555-8989', 7),
 (28, 'Viescas', 'Michael', 'L', '218 Main Street', 'Redmond', 'WA', '98052', '(206) 881-5596', 7),
 (29, 'Hallmark', 'Bailey', None, 'Route 2, Box 203B', 'Woodinville', 'WA', '98072', '(206) 555-8990', 8),
 (30, 'Patterson', 'Rachel', None, '16 Maple Lane', 'Auburn', 'WA', '98002', '(206) 555-3487', 8),
 (31, 'Clothier', 'Ben', None, '722 Moss Bay Blvd.', 'Kirkland', 'WA', '98033', '(206) 555-3412', 8),
 (32, 'Rosales', 'Joe', None, '908 W. Capital Way', 'Tacoma', 'WA', '98401', '(206) 555-9482', 8)]

In [18]:
%%sql

-- Which cities are represented by our bowling league membership?

SELECT DISTINCT BowlerCity, BowlerState FROM Bowlers;

 * mysql://dimitri:***@db.data-science-ust.net
10 rows affected.

[('Bothell', 'WA'),
 ('Ballard', 'WA'),
 ('Seattle', 'WA'),
 ('Auburn', 'WA'),
 ('Redmond', 'WA'),
 ('Bellevue', 'WA'),
 ('Woodinville', 'WA'),
 ('Kirkland', 'WA'),
 ('Duvall', 'WA'),
 ('Tacoma', 'WA')]

In [19]:
%%sql

USE shared_sales;

SHOW TABLES;

 * mysql://dimitri:***@db.data-science-ust.net
0 rows affected.
13 rows affected.

[('~log',),
 ('categories',),
 ('customers',),
 ('employees',),
 ('order_details',),
 ('orders',),
 ('product_vendors',),
 ('products',),
 ('vendors',),
 ('ztblMonths',),
 ('ztblPriceRanges',),
 ('ztblPurchaseCoupons',),
 ('ztblSeqNumbers',)]

In [20]:
%%sql

SELECT * FROM vendors;

 * mysql://dimitri:***@db.data-science-ust.net
10 rows affected.

[(1, 'Shinoman, Incorporated', '3042 19th Avenue South', 'Bellevue', 'WA', '98001', '(425) 888-1234', '(425) 888-1235', '#http://www.shinoman.com/#', 'Sales@Shiniman.com'),
 (2, 'Viscount', '1911 Commerce Way', 'St. Louis', 'MO', '63127', '(314) 777-1234', '(314) 777-1235', '#http://www.viscountbikes.com/#', 'Orders@ViscountBikes.com'),
 (3, 'Nikoma of America', '88 Old North Road Ave', 'Ballard', 'WA', '91324', '(206) 666-1234', '(314) 666-1235', '#http://www.nikomabikes.com/#', 'BuyBikes@NikomaBikes.com'),
 (4, 'ProFormance', '29 N. Quail St.', 'Albany', 'NY', '12012', '(518) 444-1234', '(518) 444-1235', '#http://www.ProFormBikes.com/#', 'Sales@ProFormBikes.com'),
 (5, 'Kona, Incorporated', 'PO Box 10429', 'Redmond', 'WA', '98052', '(425) 333-1234', '(425) 333-1235', '#http://www.konabikes.com/#', 'Sales@KonaBikes.com'),
 (6, 'Big Sky Mountain Bikes', 'Glacier Bay South', 'Anchorage', 'AK', '99209', '(907) 222-1234', '(907) 222-1235', None, None),
 (7, 'Dog Ear', '575 Madison Ave.', 'New York', 'NY', '10003', '(212) 888-9876', '(212) 888-9877', None, None),
 (8, 'Sun Sports Suppliers', 'PO Box 8082', 'Santa Monica', 'CA', '91003', '(310) 777-9876', '(310) 777-9877', None, None),
 (9, 'Lone Star Bike Supply', '7402 Kingman Drive', 'El Paso', 'TX', '79915', '(915) 666-9876', '(915) 666-9877', None, None),
 (10, 'Armadillo Brand', '12330 Side Road Lane', 'Dallas', 'TX', '75137', '(214) 444-9876', '(214) 444-9877', '#http://www.DilloBikes.com/#', 'BikeProducts@DilloBikes.com')]

In [21]:
%%sql

-- List vendors in zipcode order

SELECT VendName, VendZipCode 
    FROM vendors
    ORDER BY VendZipCode

 * mysql://dimitri:***@db.data-science-ust.net
10 rows affected.

[('Dog Ear', '10003'),
 ('ProFormance', '12012'),
 ('Viscount', '63127'),
 ('Armadillo Brand', '75137'),
 ('Lone Star Bike Supply', '79915'),
 ('Sun Sports Suppliers', '91003'),
 ('Nikoma of America', '91324'),
 ('Shinoman, Incorporated', '98001'),
 ('Kona, Incorporated', '98052'),
 ('Big Sky Mountain Bikes', '99209')]

In [22]:
%%sql

SELECT *
    FROM products;

 * mysql://dimitri:***@db.data-science-ust.net
40 rows affected.

[(1, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (2, 'Eagle FS-3 Mountain Bike', None, Decimal('1800.00'), 8, 2),
 (3, 'Dog Ear Cyclecomputer', None, Decimal('75.00'), 20, 1),
 (4, 'Victoria Pro All Weather Tires', None, Decimal('54.95'), 20, 4),
 (5, 'Dog Ear Helmet Mount Mirrors', None, Decimal('7.45'), 12, 1),
 (6, 'Viscount Mountain Bike', None, Decimal('635.00'), 5, 2),
 (7, 'Viscount C-500 Wireless Bike Computer', None, Decimal('49.00'), 30, 1),
 (8, 'Kryptonite Advanced 2000 U-Lock', None, Decimal('50.00'), 20, 1),
 (9, 'Nikoma Lok-Tight U-Lock', None, Decimal('33.00'), 12, 1),
 (10, 'Viscount Microshell Helmet', None, Decimal('36.00'), 20, 1),
 (11, 'GT RTS-2 Mountain Bike', None, Decimal('1650.00'), 5, 2),
 (12, 'Shinoman 105 SC Brakes', None, Decimal('23.50'), 16, 4),
 (13, 'Shinoman Dura-Ace Headset', None, Decimal('67.50'), 20, 4),
 (14, 'Eagle SA-120 Clipless Pedals', None, Decimal('139.95'), 20, 4),
 (15, 'ProFormance Toe-Klips 2G', None, Decimal('4.99'), 40, 4),
 (16, 'ProFormance ATB All-Terrain Pedal', None, Decimal('28.00'), 40, 4),
 (17, 'Shinoman Deluxe TX-30 Pedal', None, Decimal('45.00'), 60, 4),
 (18, 'Viscount CardioSport Sport Watch', None, Decimal('179.00'), 12, 1),
 (19, 'Viscount Tru-Beat Heart Transmitter', None, Decimal('47.00'), 20, 1),
 (20, 'Dog Ear Monster Grip Gloves', None, Decimal('15.00'), 30, 1),
 (21, 'Dog Ear Aero-Flow Floor Pump', None, Decimal('55.00'), 25, 1),
 (22, "Pro-Sport 'Dillo Shades", None, Decimal('82.00'), 18, 1),
 (23, 'Ultra-Pro Rain Jacket', None, Decimal('85.00'), 30, 3),
 (24, 'StaDry Cycling Pants', None, Decimal('69.00'), 22, 3),
 (25, 'King Cobra Helmet', None, Decimal('139.00'), 30, 1),
 (26, 'Glide-O-Matic Cycling Helmet', None, Decimal('125.00'), 24, 1),
 (27, 'X-Pro All Weather Tires', None, Decimal('24.00'), 20, 6),
 (28, 'Turbo Twin Tires', None, Decimal('29.00'), 18, 6),
 (29, 'Ultra-2K Competition Tire', None, Decimal('34.00'), 22, 6),
 (30, 'Clear Shade 85-T Glasses', None, Decimal('45.00'), 14, 1),
 (31, 'True Grip Competition Gloves', None, Decimal('22.00'), 20, 1),
 (32, 'Kool-Breeze Rocket Top Jersey', None, Decimal('32.00'), 12, 3),
 (33, 'Wonder Wool Cycle Socks', None, Decimal('19.00'), 30, 3),
 (34, 'TransPort Bicycle Rack', None, Decimal('27.00'), 14, 1),
 (35, 'HP Deluxe Panniers', None, Decimal('39.00'), 10, 1),
 (36, 'Cosmic Elite Road Warrior Wheels', None, Decimal('165.00'), 22, 4),
 (37, 'AeroFlo ATB Wheels', None, Decimal('189.00'), 40, 4),
 (38, 'Cycle-Doc Pro Repair Stand', None, Decimal('166.00'), 12, 1),
 (39, 'Road Warrior Hitch Pack', None, Decimal('175.00'), 6, 5),
 (40, 'Ultimate Export 2G Car Rack', None, Decimal('180.00'), 8, 5)]

In [23]:
%%sql

-- What are the names and prices of our products?

SELECT ProductName, RetailPrice
    FROM products

 * mysql://dimitri:***@db.data-science-ust.net
40 rows affected.

[('Trek 9000 Mountain Bike', Decimal('1200.00')),
 ('Eagle FS-3 Mountain Bike', Decimal('1800.00')),
 ('Dog Ear Cyclecomputer', Decimal('75.00')),
 ('Victoria Pro All Weather Tires', Decimal('54.95')),
 ('Dog Ear Helmet Mount Mirrors', Decimal('7.45')),
 ('Viscount Mountain Bike', Decimal('635.00')),
 ('Viscount C-500 Wireless Bike Computer', Decimal('49.00')),
 ('Kryptonite Advanced 2000 U-Lock', Decimal('50.00')),
 ('Nikoma Lok-Tight U-Lock', Decimal('33.00')),
 ('Viscount Microshell Helmet', Decimal('36.00')),
 ('GT RTS-2 Mountain Bike', Decimal('1650.00')),
 ('Shinoman 105 SC Brakes', Decimal('23.50')),
 ('Shinoman Dura-Ace Headset', Decimal('67.50')),
 ('Eagle SA-120 Clipless Pedals', Decimal('139.95')),
 ('ProFormance Toe-Klips 2G', Decimal('4.99')),
 ('ProFormance ATB All-Terrain Pedal', Decimal('28.00')),
 ('Shinoman Deluxe TX-30 Pedal', Decimal('45.00')),
 ('Viscount CardioSport Sport Watch', Decimal('179.00')),
 ('Viscount Tru-Beat Heart Transmitter', Decimal('47.00')),
 ('Dog Ear Monster Grip Gloves', Decimal('15.00')),
 ('Dog Ear Aero-Flow Floor Pump', Decimal('55.00')),
 ("Pro-Sport 'Dillo Shades", Decimal('82.00')),
 ('Ultra-Pro Rain Jacket', Decimal('85.00')),
 ('StaDry Cycling Pants', Decimal('69.00')),
 ('King Cobra Helmet', Decimal('139.00')),
 ('Glide-O-Matic Cycling Helmet', Decimal('125.00')),
 ('X-Pro All Weather Tires', Decimal('24.00')),
 ('Turbo Twin Tires', Decimal('29.00')),
 ('Ultra-2K Competition Tire', Decimal('34.00')),
 ('Clear Shade 85-T Glasses', Decimal('45.00')),
 ('True Grip Competition Gloves', Decimal('22.00')),
 ('Kool-Breeze Rocket Top Jersey', Decimal('32.00')),
 ('Wonder Wool Cycle Socks', Decimal('19.00')),
 ('TransPort Bicycle Rack', Decimal('27.00')),
 ('HP Deluxe Panniers', Decimal('39.00')),
 ('Cosmic Elite Road Warrior Wheels', Decimal('165.00')),
 ('AeroFlo ATB Wheels', Decimal('189.00')),
 ('Cycle-Doc Pro Repair Stand', Decimal('166.00')),
 ('Road Warrior Hitch Pack', Decimal('175.00')),
 ('Ultimate Export 2G Car Rack', Decimal('180.00'))]

# Problems to Solve

In [24]:
%%sql

SHOW SCHEMAS LIKE "shared%"

 * mysql://dimitri:***@db.data-science-ust.net
6 rows affected.

[('shared_bowling',),
 ('shared_entertain',),
 ('shared_recipes',),
 ('shared_sales',),
 ('shared_schedule',),
 ('shared_uni',)]

## Sales database `shared_sales`

**Problem 1**. (`shared_sales`) *Show all information on our employees.*

**Problem 2.** (`shared_sales`) Show vendor names and their cities, sorted by city.

## Entertainment database `shared_entertain`

**Problem 3.** Give the names and phone numbers of all agents ordered by last name/first name.

**Problem 4.** Give me the information on all our engagements

**Problem 5.** List all engagements and their start dates, sort by date in descending order and by engagement in ascending order.

## School Scheduling Database `shared_schedule`

**Problem 6**. Show the subjects

**Problem 7.** What kinds of titles are associated with our faculty

**Problem 8.** List the names and phone numbers of all our staff, sorted by last name/first name.

## Bowling league database `shared_bowling`

**Problem 9.** List the teams in alpabetical order

**Problem 10.** Show bowling score information for each of our members

**Problem 11.** Show the names and addresses of bowlers, sorted by name in alphabetical order

## Recipes database `shared_recipes`

**Problem 12.** Show all ingredients

**Problem 13.** Show all recipes sorted by recipe name