# Assignment 2: `SELECT` statements

This assignment is based on Chapters 4 in John L. Viesca's "SQL Queries for Mere Mortals."

### Connect to the database server and set up SQL Magic

In [ ]:
import json
import pymysql 

pymysql.install_as_MySQLdb()

with open('cred.json') as f:
    creds = json.load(f)

connection_string = "mysql://{user}:{password}@{host}".format(**creds)

In [ ]:
%load_ext sql
%config SqlMagic.autocommit=True
%sql $connection_string

### Show all available databases

Note the shared schemas `shared_bowling`, `shared_sales`, `shared_recipes`, `schared_schedule`, and `shared_entertain`.

Review their [Diagrams](https://github.com/msds-5315/Database-Systems-for-Data-Science/blob/master/Schemas.pdf) and use it to understand the relationships between entities in each database as reviewed in class.

In [ ]:
%%sql

SHOW DATABASES LIKE "shared%";

## List tables in a given schema

In [ ]:
%%sql

use shared_bowling

In [ ]:
%%sql

show tables;

In [ ]:
%%sql

SHOW TABLES IN shared_sales;

### Ispect the definition of a given tables

In [ ]:
%%sql

SHOW CREATE TABLE shared_sales.Order_Details;

You can also retreive the output into a python object for nicer printing. Just use a single percent sign `%sql` rather than two `%%sql`

In [ ]:
result = %sql SHOW CREATE TABLE shared_sales.Employees;

In [ ]:
print(result[0]['Create Table'])

In [ ]:
%%timeit -n 1 -r 5

In [ ]:
result = %sql SHOW CREATE TABLE shared_sales.Order_Details;
print(result[0]['Create Table'])

Review the table declarations and compare them to the schema diagrams.

In [ ]:
result = %sql SHOW CREATE TABLE shared_bowling.Match_Games;
print(result[0]['Create Table'])

# Simple queries from Chapter 4

Which cities do our customers live in?

In [ ]:
%%sql

USE shared_sales;

SHOW TABLES;

In [ ]:
%%sql

SELECT * 
    FROM Customers 
    WHERE CustState='WA'

In [ ]:
%%sql 
-- Which cities do our customers live in?

SELECT DISTINCT CustCity, CustState FROM Customers;

In [ ]:
%%sql
SELECT * FROM Customers;

In [ ]:
%%sql

-- What are the names and addresses of all our Employees

SELECT EmpFirstName, EmpLastName, EmpStreetAddress 
    FROM Employees;

In [ ]:
%%sql

SELECT * FROM Employees;

In [ ]:
%%sql

USE shared_school;

show tables;

In [ ]:
%%sql

SELECT BowlerCity FROM shared_bowling.Bowlers;

In [ ]:
%%sql

-- What is our most expensive product

use shared_sales;

SELECT * 
    FROM Products 
    ORDER BY RetailPrice DESC LIMIT 1;

In [ ]:
%%sql

SELECT * FROM Subjects;

In [ ]:
%%sql

SHOW TABLES FROM shared_school;

In [ ]:
%%sql

-- What Categories of classes do we offer

SELECT DISTINCT CategoryID FROM shared_school.Subjects;

In [ ]:
%%sql 

use shared_sales;

SELECT ProductName Product, RetailPrice * QuantityOnHand Stock
    FROM Products
    ORDER BY Stock DESC

In [ ]:
%%sql
SELECT count(*) total_products, sum(QuantityOnHand) as total_quantity, 
  round(avg(RetailPrice * QuantityOnHand), 2) average_stock
    FROM Products

In [ ]:
%%sql
SELECT * FROM Products

In [ ]:
%%sql
-- should throw an error but does not.

SELECT count(*) total_products, ProductNumber FROM Products

In [ ]:
%%sql

SELECT * FROM Products LIMIT 1

In [ ]:
%%sql
INSERT INTO Products Values (10000, "Fake", "No description", NULL, 1, 2)

In [ ]:
%%sql 
SELECT count(*) FROM Products;

In [ ]:
%%sql

SELECT * FROM Products WHERE

In [ ]:
%%sql

SELECT avg(days_to_ship) FROM (
    SELECT DATEDIFF(ShipDate, OrderDate) AS days_to_ship
        FROM shared_sales.Orders) as s;

In [ ]:
%%sql

USE shared_bowling;

In [ ]:
%%sql

SHOW TABLES

In [ ]:
%%sql

SELECT * FROM Bowlers;

In [ ]:
%%sql

-- Which cities are represented by our bowling league membership?

SELECT DISTINCT BowlerCity, BowlerState FROM Bowlers;

In [ ]:
%%sql

USE shared_sales;

SHOW TABLES;

In [ ]:
%%sql

SELECT * FROM Vendors;

In [ ]:
%%sql

-- List vendors in zipcode order

SELECT VendName, VendZipCode 
    FROM Vendors
    ORDER BY VendZipCode

In [ ]:
%%sql

SELECT *
    FROM Products;

In [ ]:
%%sql

-- What are the names and prices of our products?

SELECT ProductName, RetailPrice
    FROM Products

# Problems to Solve

In [ ]:
%%sql

SHOW SCHEMAS LIKE "shared%"

## Sales database `shared_sales`

**Problem 1**. (`shared_sales`) *Show all information on our employees.*

**Problem 2.** (`shared_sales`) Show vendor names and their cities, sorted by city.

## Entertainment database `shared_entertain`

**Problem 3.** Give the names and phone numbers of all agents ordered by last name/first name.

**Problem 4.** Give me the information on all our engagements

**Problem 5.** List all engagements and their start dates, sort by date in descending order and by engagement in ascending order.

## School Scheduling Database `shared_school`

**Problem 6**. Show the subjects

**Problem 7.** What kinds of titles are associated with our faculty

In [ ]:
%%sql

SELECT DISTINCT Title, Status 
    FROM Faculty 
    ORDER BY Title

In [ ]:
%%sql

SELECT * FROM Faculty LIMIT 3

**Problem 8.** List the names and phone numbers of all our staff, sorted by last name/first name.

In [ ]:
%%sql

SELECT * FROM Staff

## Bowling league database `shared_bowling`

**Problem 9.** List the teams in alpabetical order

**Problem 10.** Show bowling score information for each of our members

**Problem 11.** Show the names and addresses of bowlers, sorted by name in alphabetical order

In [ ]:
%%sql

use shared_bowling

In [ ]:
%%sql

SELECT * FROM Bowlers LIMIT 3

In [ ]:
%%sql

SELECT CONCAT(BowlerLastName, ', ', BowlerFirstName, ' ', IFNULL(BowlerMiddleInit, "")) as name, BowlerAddress
    FROM Bowlers
    ORDER BY BowlerLastName ASC, BowlerLastName DESC
    LIMIT 5 OFFSET 5

## Recipes database `shared_recipes`

**Problem 12.** Show all ingredients

**Problem 13.** Show all recipes sorted by recipe name