# Assignment 5.  
## Queries combining multiple tables

In this assigment, we will fetch data from a relational database server directly into Python variables. Using these new skills, we will complete the problems from Chapters 8, 9, and 11 in *SQL Queries for Mere Mortals*.

In [1]:
import json
import pymysql 

pymysql.install_as_MySQLdb()

with open('cred.json') as f:
    creds = json.load(f)

connection_string = "mysql://{user}:{password}@{host}".format(**creds)

In [2]:
%load_ext sql
%config SqlMagic.autocommit=True
%sql $connection_string

'Connected: dimitri@None'

### Increasing complexity of queries

In [4]:
%%sql

USE shared_sales

 * mysql://dimitri:***@db.data-science-ust.net
0 rows affected.

[]

In [13]:
%%sql

-- Step 1 Show product info on bikes

SELECT * FROM products
    WHERE ProductName LIKE "%Bike"

 * mysql://dimitri:***@db.data-science-ust.net
4 rows affected.

[(1, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (2, 'Eagle FS-3 Mountain Bike', None, Decimal('1800.00'), 8, 2),
 (6, 'Viscount Mountain Bike', None, Decimal('635.00'), 5, 2),
 (11, 'GT RTS-2 Mountain Bike', None, Decimal('1650.00'), 5, 2)]

In [15]:
%%sql

-- Step 2. Order items for bikes

SELECT * FROM order_details
WHERE ProductNumber in (
    SELECT ProductNumber 
    FROM products
    WHERE ProductName LIKE "%Bike")

 * mysql://dimitri:***@db.data-science-ust.net
909 rows affected.

[(1, 1, Decimal('1200.00'), 2),
 (3, 1, Decimal('1164.00'), 5),
 (4, 1, Decimal('1200.00'), 4),
 (5, 1, Decimal('1200.00'), 4),
 (10, 1, Decimal('1200.00'), 2),
 (11, 1, Decimal('1200.00'), 1),
 (13, 1, Decimal('1200.00'), 2),
 (14, 1, Decimal('1164.00'), 5),
 (15, 1, Decimal('1200.00'), 2),
 (17, 1, Decimal('1200.00'), 2),
 (19, 1, Decimal('1164.00'), 5),
 (20, 1, Decimal('1200.00'), 3),
 (22, 1, Decimal('1164.00'), 5),
 (23, 1, Decimal('1164.00'), 6),
 (25, 1, Decimal('1200.00'), 4),
 (26, 1, Decimal('1164.00'), 5),
 (27, 1, Decimal('1164.00'), 6),
 (30, 1, Decimal('1164.00'), 5),
 (32, 1, Decimal('1164.00'), 6),
 (33, 1, Decimal('1200.00'), 1),
 (35, 1, Decimal('1200.00'), 4),
 (39, 1, Decimal('1164.00'), 6),
 (42, 1, Decimal('1164.00'), 5),
 (43, 1, Decimal('1200.00'), 2),
 (44, 1, Decimal('1200.00'), 1),
 (45, 1, Decimal('1164.00'), 5),
 (47, 1, Decimal('1164.00'), 5),
 (48, 1, Decimal('1200.00'), 1),
 (51, 1, Decimal('1200.00'), 1),
 (53, 1, Decimal('1164.00'), 6),
 (57, 1, Decimal('1200.00'), 2),
 (58, 1, Decimal('1200.00'), 2),
 (59, 1, Decimal('1200.00'), 4),
 (60, 1, Decimal('1200.00'), 1),
 (61, 1, Decimal('1200.00'), 3),
 (63, 1, Decimal('1164.00'), 6),
 (64, 1, Decimal('1200.00'), 1),
 (65, 1, Decimal('1200.00'), 3),
 (66, 1, Decimal('1200.00'), 1),
 (71, 1, Decimal('1200.00'), 1),
 (73, 1, Decimal('1164.00'), 5),
 (74, 1, Decimal('1200.00'), 2),
 (75, 1, Decimal('1200.00'), 4),
 (77, 1, Decimal('1200.00'), 1),
 (78, 1, Decimal('1200.00'), 3),
 (79, 1, Decimal('1164.00'), 6),
 (80, 1, Decimal('1200.00'), 3),
 (82, 1, Decimal('1164.00'), 6),
 (86, 1, Decimal('1200.00'), 2),
 (87, 1, Decimal('1164.00'), 5),
 (91, 1, Decimal('1164.00'), 5),
 (92, 1, Decimal('1200.00'), 3),
 (94, 1, Decimal('1200.00'), 2),
 (96, 1, Decimal('1200.00'), 4),
 (97, 1, Decimal('1200.00'), 2),
 (98, 1, Decimal('1200.00'), 4),
 (99, 1, Decimal('1200.00'), 4),
 (102, 1, Decimal('1200.00'), 3),
 (103, 1, Decimal('1164.00'), 5),
 (104, 1, Decimal('1200.00'), 3),
 (113, 1, Decimal('1200.00'), 4),
 (116, 1, Decimal('1200.00'), 3),
 (117, 1, Decimal('1164.00'), 6),
 (119, 1, Decimal('1164.00'), 6),
 (120, 1, Decimal('1200.00'), 2),
 (121, 1, Decimal('1200.00'), 2),
 (122, 1, Decimal('1200.00'), 3),
 (124, 1, Decimal('1164.00'), 6),
 (125, 1, Decimal('1200.00'), 3),
 (127, 1, Decimal('1164.00'), 6),
 (130, 1, Decimal('1164.00'), 5),
 (131, 1, Decimal('1164.00'), 6),
 (132, 1, Decimal('1200.00'), 2),
 (136, 1, Decimal('1200.00'), 3),
 (140, 1, Decimal('1200.00'), 3),
 (141, 1, Decimal('1200.00'), 2),
 (142, 1, Decimal('1200.00'), 3),
 (144, 1, Decimal('1164.00'), 6),
 (145, 1, Decimal('1200.00'), 3),
 (147, 1, Decimal('1200.00'), 2),
 (148, 1, Decimal('1200.00'), 1),
 (149, 1, Decimal('1200.00'), 4),
 (150, 1, Decimal('1164.00'), 6),
 (156, 1, Decimal('1164.00'), 6),
 (157, 1, Decimal('1164.00'), 6),
 (160, 1, Decimal('1200.00'), 1),
 (161, 1, Decimal('1200.00'), 2),
 (163, 1, Decimal('1164.00'), 6),
 (164, 1, Decimal('1164.00'), 6),
 (165, 1, Decimal('1164.00'), 6),
 (167, 1, Decimal('1164.00'), 5),
 (168, 1, Decimal('1200.00'), 1),
 (170, 1, Decimal('1200.00'), 3),
 (172, 1, Decimal('1200.00'), 2),
 (174, 1, Decimal('1164.00'), 6),
 (175, 1, Decimal('1164.00'), 5),
 (177, 1, Decimal('1200.00'), 4),
 (179, 1, Decimal('1164.00'), 5),
 (181, 1, Decimal('1200.00'), 3),
 (182, 1, Decimal('1164.00'), 6),
 (183, 1, Decimal('1200.00'), 2),
 (184, 1, Decimal('1200.00'), 3),
 (185, 1, Decimal('1200.00'), 4),
 (188, 1, Decimal('1164.00'), 6),
 (193, 1, Decimal('1200.00'), 2),
 (194, 1, Decimal('1200.00'), 3),
 (196, 1, Decimal('1200.00'), 1),
 (200, 1, Decimal('1164.00'), 5),
 (203, 1, Decimal('1200.00'), 2),
 (205, 1, Decimal('1164.00'), 6),
 (206, 1, Decimal('1200.00'), 3),
 (210, 1, Decimal('1164.00'), 5),
 (215, 1, Decimal('1200.00'), 3),
 (217, 1, Decimal('1164.00'), 6),
 (218, 1, Decimal('1164.00'), 5),
 (219, 1, Decimal('1200.00'), 1),
 (220, 1, Decimal('1200.00'), 2),
 (222, 1, Decimal('1200.00'), 3),
 (223, 1, Decimal('1164.00'), 6),
 (224, 1, Decimal('1164.00'), 5),
 (225, 1, Decimal('1200.00'), 3),
 (227, 1, Decimal('1200.00'), 2),
 (233, 1, Decimal('1200.00'), 3),
 (238, 1, Decimal('1200.00'), 3),
 (239, 1, Decimal('1200.00'), 3),
 (242, 1, Decimal('1200.00'), 3),
 (243, 1, Decimal('1200.00'), 3),
 (246, 1, Decimal('1164.00'), 5),
 (247, 1, Decimal('1200.00'), 2),
 (248, 1, Decimal('1200.00'), 4),
 (249, 1, Decimal('1164.00'), 5),
 (250, 1, Decimal('1200.00'), 1),
 (252, 1, Decimal('1200.00'), 3),
 (253, 1, Decimal('1164.00'), 6),
 (256, 1, Decimal('1200.00'), 4),
 (257, 1, Decimal('1164.00'), 6),
 (258, 1, Decimal('1200.00'), 1),
 (260, 1, Decimal('1200.00'), 3),
 (261, 1, Decimal('1200.00'), 1),
 (263, 1, Decimal('1164.00'), 5),
 (266, 1, Decimal('1164.00'), 6),
 (267, 1, Decimal('1200.00'), 3),
 (268, 1, Decimal('1164.00'), 6),
 (269, 1, Decimal('1200.00'), 2),
 (270, 1, Decimal('1200.00'), 1),
 (271, 1, Decimal('1200.00'), 2),
 (272, 1, Decimal('1164.00'), 6),
 (273, 1, Decimal('1200.00'), 4),
 (276, 1, Decimal('1200.00'), 4),
 (278, 1, Decimal('1200.00'), 1),
 (279, 1, Decimal('1200.00'), 2),
 (280, 1, Decimal('1200.00'), 4),
 (281, 1, Decimal('1164.00'), 6),
 (282, 1, Decimal('1200.00'), 2),
 (284, 1, Decimal('1164.00'), 5),
 (285, 1, Decimal('1200.00'), 1),
 (286, 1, Decimal('1164.00'), 5),
 (290, 1, Decimal('1200.00'), 2),
 (291, 1, Decimal('1200.00'), 4),
 (292, 1, Decimal('1200.00'), 2),
 (293, 1, Decimal('1200.00'), 2),
 (294, 1, Decimal('1200.00'), 3),
 (295, 1, Decimal('1164.00'), 5),
 (296, 1, Decimal('1200.00'), 2),
 (298, 1, Decimal('1164.00'), 6),
 (300, 1, Decimal('1164.00'), 6),
 (301, 1, Decimal('1200.00'), 2),
 (302, 1, Decimal('1200.00'), 4),
 (306, 1, Decimal('1200.00'), 4),
 (307, 1, Decimal('1200.00'), 4),
 (308, 1, Decimal('1200.00'), 4),
 (310, 1, Decimal('1200.00'), 2),
 (313, 1, Decimal('1164.00'), 5),
 (315, 1, Decimal('1164.00'), 6),
 (317, 1, Decimal('1200.00'), 2),
 (319, 1, Decimal('1200.00'), 2),
 (321, 1, Decimal('1164.00'), 5),
 (323, 1, Decimal('1200.00'), 4),
 (325, 1, Decimal('1200.00'), 3),
 (327, 1, Decimal('1200.00'), 2),
 (329, 1, Decimal('1200.00'), 3),
 (331, 1, Decimal('1164.00'), 6),
 (332, 1, Decimal('1200.00'), 1),
 (334, 1, Decimal('1200.00'), 2),
 (335, 1, Decimal('1200.00'), 2),
 (336, 1, Decimal('1200.00'), 1),
 (337, 1, Decimal('1200.00'), 2),
 (338, 1, Decimal('1164.00'), 6),
 (339, 1, Decimal('1200.00'), 4),
 (340, 1, Decimal('1200.00'), 3),
 (342, 1, Decimal('1200.00'), 3),
 (343, 1, Decimal('1164.00'), 6),
 (345, 1, Decimal('1200.00'), 4),
 (351, 1, Decimal('1164.00'), 6),
 (353, 1, Decimal('1200.00'), 1),
 (354, 1, Decimal('1200.00'), 3),
 (355, 1, Decimal('1164.00'), 6),
 (358, 1, Decimal('1200.00'), 4),
 (359, 1, Decimal('1164.00'), 5),
 (360, 1, Decimal('1200.00'), 3),
 (362, 1, Decimal('1200.00'), 2),
 (363, 1, Decimal('1200.00'), 3),
 (366, 1, Decimal('1164.00'), 6),
 (367, 1, Decimal('1200.00'), 2),
 (368, 1, Decimal('1200.00'), 4),
 (370, 1, Decimal('1200.00'), 2),
 (372, 1, Decimal('1164.00'), 6),
 (373, 1, Decimal('1200.00'), 1),
 (374, 1, Decimal('1164.00'), 5),
 (378, 1, Decimal('1164.00'), 5),
 (379, 1, Decimal('1200.00'), 3),
 (381, 1, Decimal('1200.00'), 3),
 (383, 1, Decimal('1200.00'), 4),
 (384, 1, Decimal('1200.00'), 2),
 (385, 1, Decimal('1200.00'), 2),
 (386, 1, Decimal('1164.00'), 6),
 (387, 1, Decimal('1200.00'), 4),
 (388, 1, Decimal('1200.00'), 3),
 (390, 1, Decimal('1200.00'), 2),
 (392, 1, Decimal('1200.00'), 4),
 (393, 1, Decimal('1200.00'), 3),
 (398, 1, Decimal('1164.00'), 5),
 (399, 1, Decimal('1164.00'), 6),
 (400, 1, Decimal('1164.00'), 5),
 (402, 1, Decimal('1200.00'), 2),
 (403, 1, Decimal('1164.00'), 6),
 (405, 1, Decimal('1164.00'), 5),
 (406, 1, Decimal('1164.00'), 5),
 (409, 1, Decimal('1164.00'), 5),
 (411, 1, Decimal('1164.00'), 6),
 (414, 1, Decimal('1200.00'), 4),
 (415, 1, Decimal('1200.00'), 3),
 (416, 1, Decimal('1200.00'), 3),
 (418, 1, Decimal('1200.00'), 1),
 (420, 1, Decimal('1200.00'), 2),
 (422, 1, Decimal('1164.00'), 5),
 (423, 1, Decimal('1200.00'), 1),
 (428, 1, Decimal('1200.00'), 1),
 (431, 1, Decimal('1200.00'), 1),
 (433, 1, Decimal('1164.00'), 6),
 (434, 1, Decimal('1200.00'), 3),
 (437, 1, Decimal('1200.00'), 4),
 (439, 1, Decimal('1164.00'), 5),
 (440, 1, Decimal('1200.00'), 1),
 (441, 1, Decimal('1164.00'), 6),
 (445, 1, Decimal('1200.00'), 2),
 (447, 1, Decimal('1200.00'), 4),
 (449, 1, Decimal('1164.00'), 5),
 (450, 1, Decimal('1200.00'), 1),
 (453, 1, Decimal('1200.00'), 1),
 (454, 1, Decimal('1200.00'), 1),
 (461, 1, Decimal('1200.00'), 1),
 (465, 1, Decimal('1200.00'), 1),
 (466, 1, Decimal('1164.00'), 5),
 (467, 1, Decimal('1200.00'), 4),
 (468, 1, Decimal('1164.00'), 5),
 (472, 1, Decimal('1164.00'), 6),
 (477, 1, Decimal('1200.00'), 4),
 (479, 1, Decimal('1164.00'), 6),
 (487, 1, Decimal('1200.00'), 2),
 (490, 1, Decimal('1200.00'), 2),
 (491, 1, Decimal('1200.00'), 4),
 (492, 1, Decimal('1200.00'), 1),
 (493, 1, Decimal('1200.00'), 3),
 (495, 1, Decimal('1164.00'), 5),
 (496, 1, Decimal('1200.00'), 1),
 (498, 1, Decimal('1164.00'), 5),
 (499, 1, Decimal('1164.00'), 6),
 (500, 1, Decimal('1200.00'), 1),
 (502, 1, Decimal('1200.00'), 3),
 (503, 1, Decimal('1200.00'), 2),
 (505, 1, Decimal('1200.00'), 2),
 (506, 1, Decimal('1164.00'), 5),
 (508, 1, Decimal('1164.00'), 5),
 (509, 1, Decimal('1200.00'), 4),
 (511, 1, Decimal('1200.00'), 3),
 (513, 1, Decimal('1200.00'), 4),
 (514, 1, Decimal('1164.00'), 6),
 (516, 1, Decimal('1200.00'), 3),
 (520, 1, Decimal('1200.00'), 1),
 (521, 1, Decimal('1200.00'), 2),
 (529, 1, Decimal('1164.00'), 6),
 (530, 1, Decimal('1200.00'), 3),
 (531, 1, Decimal('1200.00'), 3),
 (533, 1, Decimal('1200.00'), 3),
 (535, 1, Decimal('1200.00'), 4),
 (538, 1, Decimal('1200.00'), 3),
 (539, 1, Decimal('1200.00'), 2),
 (540, 1, Decimal('1164.00'), 6),
 (541, 1, Decimal('1164.00'), 6),
 (544, 1, Decimal('1200.00'), 3),
 (545, 1, Decimal('1200.00'), 2),
 (547, 1, Decimal('1200.00'), 1),
 (548, 1, Decimal('1200.00'), 4),
 (552, 1, Decimal('1164.00'), 5),
 (553, 1, Decimal('1200.00'), 3),
 (554, 1, Decimal('1164.00'), 5),
 (556, 1, Decimal('1164.00'), 5),
 (557, 1, Decimal('1200.00'), 3),
 (558, 1, Decimal('1164.00'), 6),
 (559, 1, Decimal('1200.00'), 3),
 (560, 1, Decimal('1164.00'), 5),
 (561, 1, Decimal('1200.00'), 3),
 (563, 1, Decimal('1200.00'), 3),
 (565, 1, Decimal('1200.00'), 2),
 (569, 1, Decimal('1200.00'), 4),
 (571, 1, Decimal('1200.00'), 1),
 (575, 1, Decimal('1200.00'), 1),
 (579, 1, Decimal('1164.00'), 5),
 (582, 1, Decimal('1200.00'), 1),
 (584, 1, Decimal('1200.00'), 4),
 (585, 1, Decimal('1200.00'), 1),
 (590, 1, Decimal('1164.00'), 6),
 (591, 1, Decimal('1200.00'), 2),
 (592, 1, Decimal('1200.00'), 2),
 (594, 1, Decimal('1200.00'), 4),
 (597, 1, Decimal('1200.00'), 3),
 (598, 1, Decimal('1200.00'), 3),
 (599, 1, Decimal('1200.00'), 3),
 (600, 1, Decimal('1200.00'), 2),
 (604, 1, Decimal('1164.00'), 6),
 (605, 1, Decimal('1164.00'), 6),
 (606, 1, Decimal('1164.00'), 6),
 (607, 1, Decimal('1164.00'), 6),
 (609, 1, Decimal('1200.00'), 3),
 (610, 1, Decimal('1164.00'), 5),
 (611, 1, Decimal('1200.00'), 4),
 (612, 1, Decimal('1200.00'), 4),
 (614, 1, Decimal('1200.00'), 2),
 (615, 1, Decimal('1200.00'), 2),
 (617, 1, Decimal('1164.00'), 6),
 (618, 1, Decimal('1164.00'), 6),
 (620, 1, Decimal('1200.00'), 2),
 (622, 1, Decimal('1164.00'), 5),
 (625, 1, Decimal('1164.00'), 5),
 (626, 1, Decimal('1164.00'), 5),
 (627, 1, Decimal('1200.00'), 1),
 (630, 1, Decimal('1164.00'), 6),
 (631, 1, Decimal('1200.00'), 4),
 (633, 1, Decimal('1200.00'), 4),
 (634, 1, Decimal('1200.00'), 2),
 (636, 1, Decimal('1200.00'), 4),
 (637, 1, Decimal('1200.00'), 2),
 (639, 1, Decimal('1164.00'), 6),
 (641, 1, Decimal('1200.00'), 1),
 (642, 1, Decimal('1200.00'), 2),
 (643, 1, Decimal('1200.00'), 4),
 (650, 1, Decimal('1200.00'), 4),
 (651, 1, Decimal('1200.00'), 2),
 (654, 1, Decimal('1164.00'), 6),
 (655, 1, Decimal('1164.00'), 5),
 (658, 1, Decimal('1200.00'), 4),
 (659, 1, Decimal('1200.00'), 2),
 (660, 1, Decimal('1200.00'), 1),
 (662, 1, Decimal('1200.00'), 1),
 (663, 1, Decimal('1200.00'), 4),
 (665, 1, Decimal('1200.00'), 1),
 (668, 1, Decimal('1164.00'), 6),
 (669, 1, Decimal('1164.00'), 6),
 (671, 1, Decimal('1164.00'), 6),
 (672, 1, Decimal('1164.00'), 5),
 (674, 1, Decimal('1200.00'), 2),
 (675, 1, Decimal('1164.00'), 5),
 (676, 1, Decimal('1200.00'), 1),
 (677, 1, Decimal('1200.00'), 4),
 (678, 1, Decimal('1200.00'), 2),
 (679, 1, Decimal('1164.00'), 5),
 (682, 1, Decimal('1164.00'), 5),
 (684, 1, Decimal('1200.00'), 3),
 (685, 1, Decimal('1164.00'), 5),
 (686, 1, Decimal('1164.00'), 5),
 (687, 1, Decimal('1200.00'), 4),
 (688, 1, Decimal('1200.00'), 4),
 (690, 1, Decimal('1200.00'), 4),
 (691, 1, Decimal('1164.00'), 5),
 (693, 1, Decimal('1200.00'), 4),
 (694, 1, Decimal('1200.00'), 1),
 (695, 1, Decimal('1164.00'), 6),
 (696, 1, Decimal('1164.00'), 6),
 (697, 1, Decimal('1200.00'), 3),
 (700, 1, Decimal('1200.00'), 3),
 (702, 1, Decimal('1200.00'), 4),
 (704, 1, Decimal('1200.00'), 1),
 (708, 1, Decimal('1200.00'), 1),
 (710, 1, Decimal('1164.00'), 6),
 (711, 1, Decimal('1200.00'), 1),
 (712, 1, Decimal('1200.00'), 3),
 (714, 1, Decimal('1164.00'), 6),
 (715, 1, Decimal('1200.00'), 1),
 (717, 1, Decimal('1200.00'), 3),
 (719, 1, Decimal('1200.00'), 1),
 (722, 1, Decimal('1164.00'), 5),
 (724, 1, Decimal('1200.00'), 4),
 (725, 1, Decimal('1164.00'), 5),
 (727, 1, Decimal('1200.00'), 1),
 (729, 1, Decimal('1164.00'), 6),
 (730, 1, Decimal('1200.00'), 4),
 (731, 1, Decimal('1164.00'), 5),
 (734, 1, Decimal('1200.00'), 4),
 (735, 1, Decimal('1200.00'), 2),
 (738, 1, Decimal('1200.00'), 2),
 (740, 1, Decimal('1164.00'), 6),
 (743, 1, Decimal('1200.00'), 3),
 (744, 1, Decimal('1164.00'), 6),
 (745, 1, Decimal('1200.00'), 4),
 (746, 1, Decimal('1200.00'), 3),
 (747, 1, Decimal('1164.00'), 6),
 (750, 1, Decimal('1200.00'), 1),
 (751, 1, Decimal('1164.00'), 6),
 (752, 1, Decimal('1200.00'), 2),
 (756, 1, Decimal('1200.00'), 1),
 (757, 1, Decimal('1200.00'), 4),
 (760, 1, Decimal('1200.00'), 1),
 (761, 1, Decimal('1200.00'), 1),
 (762, 1, Decimal('1164.00'), 5),
 (763, 1, Decimal('1200.00'), 3),
 (765, 1, Decimal('1200.00'), 4),
 (766, 1, Decimal('1164.00'), 5),
 (767, 1, Decimal('1200.00'), 4),
 (769, 1, Decimal('1164.00'), 6),
 (771, 1, Decimal('1164.00'), 6),
 (772, 1, Decimal('1200.00'), 1),
 (774, 1, Decimal('1200.00'), 2),
 (776, 1, Decimal('1164.00'), 6),
 (777, 1, Decimal('1200.00'), 1),
 (781, 1, Decimal('1200.00'), 3),
 (784, 1, Decimal('1164.00'), 5),
 (785, 1, Decimal('1164.00'), 6),
 (787, 1, Decimal('1200.00'), 2),
 (788, 1, Decimal('1200.00'), 2),
 (789, 1, Decimal('1200.00'), 3),
 (790, 1, Decimal('1200.00'), 4),
 (791, 1, Decimal('1200.00'), 2),
 (792, 1, Decimal('1200.00'), 4),
 (794, 1, Decimal('1164.00'), 5),
 (795, 1, Decimal('1200.00'), 1),
 (796, 1, Decimal('1200.00'), 4),
 (797, 1, Decimal('1200.00'), 3),
 (799, 1, Decimal('1200.00'), 1),
 (800, 1, Decimal('1200.00'), 2),
 (801, 1, Decimal('1200.00'), 4),
 (805, 1, Decimal('1164.00'), 6),
 (806, 1, Decimal('1200.00'), 4),
 (807, 1, Decimal('1200.00'), 4),
 (809, 1, Decimal('1200.00'), 2),
 (812, 1, Decimal('1164.00'), 5),
 (813, 1, Decimal('1164.00'), 5),
 (818, 1, Decimal('1200.00'), 2),
 (819, 1, Decimal('1200.00'), 1),
 (821, 1, Decimal('1200.00'), 3),
 (822, 1, Decimal('1200.00'), 1),
 (824, 1, Decimal('1164.00'), 5),
 (825, 1, Decimal('1200.00'), 1),
 (826, 1, Decimal('1200.00'), 4),
 (828, 1, Decimal('1200.00'), 4),
 (829, 1, Decimal('1200.00'), 2),
 (830, 1, Decimal('1200.00'), 3),
 (831, 1, Decimal('1200.00'), 4),
 (833, 1, Decimal('1200.00'), 2),
 (835, 1, Decimal('1164.00'), 6),
 (837, 1, Decimal('1164.00'), 6),
 (838, 1, Decimal('1200.00'), 1),
 (839, 1, Decimal('1164.00'), 6),
 (841, 1, Decimal('1200.00'), 4),
 (842, 1, Decimal('1200.00'), 2),
 (843, 1, Decimal('1200.00'), 2),
 (844, 1, Decimal('1200.00'), 3),
 (847, 1, Decimal('1164.00'), 5),
 (848, 1, Decimal('1200.00'), 2),
 (849, 1, Decimal('1164.00'), 6),
 (852, 1, Decimal('1200.00'), 2),
 (853, 1, Decimal('1164.00'), 5),
 (856, 1, Decimal('1200.00'), 2),
 (858, 1, Decimal('1200.00'), 1),
 (861, 1, Decimal('1164.00'), 5),
 (863, 1, Decimal('1164.00'), 5),
 (864, 1, Decimal('1200.00'), 2),
 (865, 1, Decimal('1200.00'), 2),
 (867, 1, Decimal('1200.00'), 2),
 (869, 1, Decimal('1200.00'), 2),
 (870, 1, Decimal('1164.00'), 6),
 (871, 1, Decimal('1164.00'), 5),
 (872, 1, Decimal('1200.00'), 2),
 (873, 1, Decimal('1200.00'), 3),
 (874, 1, Decimal('1200.00'), 3),
 (878, 1, Decimal('1164.00'), 5),
 (879, 1, Decimal('1164.00'), 5),
 (880, 1, Decimal('1200.00'), 4),
 (881, 1, Decimal('1200.00'), 1),
 (882, 1, Decimal('1200.00'), 3),
 (883, 1, Decimal('1164.00'), 6),
 (884, 1, Decimal('1200.00'), 2),
 (888, 1, Decimal('1164.00'), 6),
 (891, 1, Decimal('1164.00'), 5),
 (894, 1, Decimal('1200.00'), 3),
 (895, 1, Decimal('1200.00'), 2),
 (896, 1, Decimal('1164.00'), 5),
 (899, 1, Decimal('1200.00'), 3),
 (900, 1, Decimal('1200.00'), 1),
 (901, 1, Decimal('1200.00'), 2),
 (903, 1, Decimal('1200.00'), 3),
 (904, 1, Decimal('1164.00'), 6),
 (905, 1, Decimal('1200.00'), 2),
 (906, 1, Decimal('1200.00'), 2),
 (908, 1, Decimal('1200.00'), 1),
 (909, 1, Decimal('1200.00'), 1),
 (910, 1, Decimal('1200.00'), 1),
 (912, 1, Decimal('1164.00'), 5),
 (913, 1, Decimal('1200.00'), 2),
 (917, 1, Decimal('1200.00'), 4),
 (919, 1, Decimal('1200.00'), 1),
 (921, 1, Decimal('1200.00'), 4),
 (922, 1, Decimal('1164.00'), 5),
 (924, 1, Decimal('1200.00'), 3),
 (926, 1, Decimal('1200.00'), 4),
 (929, 1, Decimal('1200.00'), 3),
 (932, 1, Decimal('1200.00'), 1),
 (933, 1, Decimal('1164.00'), 6),
 (935, 1, Decimal('1200.00'), 3),
 (936, 1, Decimal('1164.00'), 5),
 (937, 1, Decimal('1164.00'), 6),
 (938, 1, Decimal('1164.00'), 5),
 (940, 1, Decimal('1200.00'), 2),
 (941, 1, Decimal('1200.00'), 2),
 (942, 1, Decimal('1200.00'), 2),
 (943, 1, Decimal('1200.00'), 1),
 (944, 1, Decimal('1164.00'), 6),
 (6, 2, Decimal('1746.00'), 5),
 (105, 2, Decimal('1746.00'), 5),
 (111, 2, Decimal('1746.00'), 6),
 (152, 2, Decimal('1800.00'), 3),
 (237, 2, Decimal('1800.00'), 2),
 (265, 2, Decimal('1800.00'), 4),
 (356, 2, Decimal('1800.00'), 1),
 (375, 2, Decimal('1800.00'), 2),
 (404, 2, Decimal('1746.00'), 5),
 (457, 2, Decimal('1800.00'), 1),
 (469, 2, Decimal('1746.00'), 5),
 (528, 2, Decimal('1800.00'), 3),
 (661, 2, Decimal('1800.00'), 3),
 (666, 2, Decimal('1800.00'), 3),
 (741, 2, Decimal('1800.00'), 4),
 (783, 2, Decimal('1800.00'), 3),
 (854, 2, Decimal('1746.00'), 5),
 (862, 2, Decimal('1746.00'), 6),
 (902, 2, Decimal('1800.00'), 4),
 (1, 6, Decimal('635.00'), 3),
 (3, 6, Decimal('615.95'), 5),
 (11, 6, Decimal('615.95'), 6),
 (19, 6, Decimal('635.00'), 2),
 (23, 6, Decimal('635.00'), 3),
 (39, 6, Decimal('615.95'), 5),
 (40, 6, Decimal('635.00'), 1),
 (43, 6, Decimal('635.00'), 3),
 (45, 6, Decimal('635.00'), 2),
 (53, 6, Decimal('635.00'), 4),
 (56, 6, Decimal('635.00'), 4),
 (59, 6, Decimal('635.00'), 4),
 (60, 6, Decimal('635.00'), 1),
 (64, 6, Decimal('615.95'), 5),
 (66, 6, Decimal('635.00'), 4),
 (69, 6, Decimal('635.00'), 3),
 (74, 6, Decimal('635.00'), 4),
 (80, 6, Decimal('615.95'), 5),
 (82, 6, Decimal('635.00'), 4),
 (86, 6, Decimal('615.95'), 6),
 (91, 6, Decimal('635.00'), 2),
 (103, 6, Decimal('635.00'), 4),
 (117, 6, Decimal('635.00'), 4),
 (119, 6, Decimal('615.95'), 5),
 (123, 6, Decimal('615.95'), 5),
 (130, 6, Decimal('615.95'), 5),
 (135, 6, Decimal('615.95'), 5),
 (140, 6, Decimal('615.95'), 5),
 (148, 6, Decimal('615.95'), 5),
 (156, 6, Decimal('635.00'), 1),
 (160, 6, Decimal('635.00'), 1),
 (165, 6, Decimal('615.95'), 5),
 (175, 6, Decimal('615.95'), 6),
 (179, 6, Decimal('635.00'), 2),
 (182, 6, Decimal('615.95'), 5),
 (184, 6, Decimal('635.00'), 2),
 (193, 6, Decimal('615.95'), 5),
 (203, 6, Decimal('635.00'), 4),
 (205, 6, Decimal('635.00'), 3),
 (210, 6, Decimal('635.00'), 3),
 (211, 6, Decimal('615.95'), 5),
 (215, 6, Decimal('635.00'), 2),
 (220, 6, Decimal('635.00'), 1),
 (221, 6, Decimal('635.00'), 1),
 (227, 6, Decimal('615.95'), 5),
 (229, 6, Decimal('615.95'), 5),

In [19]:
%%sql

-- Step 3. Show orders containing bikes

SELECT * 
FROM orders
WHERE OrderNumber in (
    SELECT OrderNumber FROM order_details
    WHERE ProductNumber in (
        SELECT ProductNumber 
        FROM products
        WHERE ProductName LIKE "%Bike"))

 * mysql://dimitri:***@db.data-science-ust.net
586 rows affected.

[(1, datetime.date(2017, 9, 2), datetime.date(2017, 9, 5), 1018, 707),
 (3, datetime.date(2017, 9, 2), datetime.date(2017, 9, 5), 1002, 707),
 (4, datetime.date(2017, 9, 2), datetime.date(2017, 9, 4), 1009, 703),
 (5, datetime.date(2017, 9, 2), datetime.date(2017, 9, 2), 1024, 708),
 (10, datetime.date(2017, 9, 2), datetime.date(2017, 9, 5), 1012, 701),
 (11, datetime.date(2017, 9, 3), datetime.date(2017, 9, 5), 1020, 706),
 (13, datetime.date(2017, 9, 3), datetime.date(2017, 9, 3), 1024, 704),
 (14, datetime.date(2017, 9, 3), datetime.date(2017, 9, 4), 1013, 704),
 (15, datetime.date(2017, 9, 3), datetime.date(2017, 9, 7), 1004, 701),
 (17, datetime.date(2017, 9, 3), datetime.date(2017, 9, 4), 1014, 702),
 (19, datetime.date(2017, 9, 3), datetime.date(2017, 9, 7), 1027, 707),
 (20, datetime.date(2017, 9, 3), datetime.date(2017, 9, 3), 1011, 706),
 (22, datetime.date(2017, 9, 4), datetime.date(2017, 9, 8), 1026, 702),
 (23, datetime.date(2017, 9, 4), datetime.date(2017, 9, 5), 1017, 705),
 (25, datetime.date(2017, 9, 4), datetime.date(2017, 9, 5), 1017, 708),
 (26, datetime.date(2017, 9, 5), datetime.date(2017, 9, 9), 1013, 707),
 (27, datetime.date(2017, 9, 5), datetime.date(2017, 9, 6), 1014, 703),
 (30, datetime.date(2017, 9, 5), datetime.date(2017, 9, 9), 1010, 708),
 (32, datetime.date(2017, 9, 6), datetime.date(2017, 9, 10), 1012, 704),
 (33, datetime.date(2017, 9, 6), datetime.date(2017, 9, 7), 1024, 704),
 (35, datetime.date(2017, 9, 7), datetime.date(2017, 9, 7), 1012, 701),
 (39, datetime.date(2017, 9, 8), datetime.date(2017, 9, 11), 1004, 704),
 (42, datetime.date(2017, 9, 8), datetime.date(2017, 9, 11), 1012, 704),
 (43, datetime.date(2017, 9, 8), datetime.date(2017, 9, 12), 1020, 705),
 (44, datetime.date(2017, 9, 8), datetime.date(2017, 9, 9), 1005, 701),
 (45, datetime.date(2017, 9, 9), datetime.date(2017, 9, 9), 1008, 708),
 (47, datetime.date(2017, 9, 9), datetime.date(2017, 9, 11), 1023, 708),
 (48, datetime.date(2017, 9, 9), datetime.date(2017, 9, 12), 1004, 707),
 (51, datetime.date(2017, 9, 9), datetime.date(2017, 9, 9), 1018, 707),
 (53, datetime.date(2017, 9, 10), datetime.date(2017, 9, 10), 1004, 706),
 (57, datetime.date(2017, 9, 10), datetime.date(2017, 9, 11), 1009, 703),
 (58, datetime.date(2017, 9, 10), datetime.date(2017, 9, 14), 1006, 701),
 (59, datetime.date(2017, 9, 10), datetime.date(2017, 9, 10), 1004, 704),
 (60, datetime.date(2017, 9, 10), datetime.date(2017, 9, 14), 1013, 708),
 (61, datetime.date(2017, 9, 10), datetime.date(2017, 9, 11), 1009, 706),
 (63, datetime.date(2017, 9, 11), datetime.date(2017, 9, 14), 1023, 708),
 (64, datetime.date(2017, 9, 11), datetime.date(2017, 9, 15), 1027, 708),
 (65, datetime.date(2017, 9, 11), datetime.date(2017, 9, 14), 1021, 703),
 (66, datetime.date(2017, 9, 11), datetime.date(2017, 9, 12), 1026, 703),
 (71, datetime.date(2017, 9, 13), datetime.date(2017, 9, 15), 1016, 708),
 (73, datetime.date(2017, 9, 13), datetime.date(2017, 9, 16), 1005, 705),
 (74, datetime.date(2017, 9, 13), datetime.date(2017, 9, 14), 1002, 703),
 (75, datetime.date(2017, 9, 13), datetime.date(2017, 9, 15), 1014, 706),
 (77, datetime.date(2017, 9, 13), datetime.date(2017, 9, 14), 1008, 706),
 (78, datetime.date(2017, 9, 14), datetime.date(2017, 9, 17), 1007, 701),
 (79, datetime.date(2017, 9, 14), datetime.date(2017, 9, 18), 1006, 703),
 (80, datetime.date(2017, 9, 14), datetime.date(2017, 9, 17), 1025, 708),
 (82, datetime.date(2017, 9, 14), datetime.date(2017, 9, 17), 1005, 701),
 (86, datetime.date(2017, 9, 14), datetime.date(2017, 9, 17), 1009, 701),
 (87, datetime.date(2017, 9, 14), datetime.date(2017, 9, 15), 1002, 704),
 (91, datetime.date(2017, 9, 15), datetime.date(2017, 9, 19), 1010, 703),
 (92, datetime.date(2017, 9, 15), datetime.date(2017, 9, 18), 1011, 704),
 (94, datetime.date(2017, 9, 15), datetime.date(2017, 9, 15), 1010, 701),
 (96, datetime.date(2017, 9, 16), datetime.date(2017, 9, 17), 1025, 703),
 (97, datetime.date(2017, 9, 16), datetime.date(2017, 9, 19), 1026, 703),
 (98, datetime.date(2017, 9, 16), datetime.date(2017, 9, 17), 1009, 706),
 (99, datetime.date(2017, 9, 16), datetime.date(2017, 9, 19), 1002, 703),
 (102, datetime.date(2017, 9, 16), datetime.date(2017, 9, 18), 1010, 705),
 (103, datetime.date(2017, 9, 16), datetime.date(2017, 9, 17), 1025, 702),
 (104, datetime.date(2017, 9, 16), datetime.date(2017, 9, 16), 1017, 708),
 (113, datetime.date(2017, 9, 19), datetime.date(2017, 9, 23), 1010, 702),
 (116, datetime.date(2017, 9, 20), datetime.date(2017, 9, 22), 1004, 701),
 (117, datetime.date(2017, 9, 21), datetime.date(2017, 9, 23), 1005, 705),
 (119, datetime.date(2017, 9, 21), datetime.date(2017, 9, 21), 1013, 701),
 (120, datetime.date(2017, 9, 21), datetime.date(2017, 9, 22), 1024, 702),
 (121, datetime.date(2017, 9, 21), datetime.date(2017, 9, 22), 1025, 701),
 (122, datetime.date(2017, 9, 21), datetime.date(2017, 9, 25), 1009, 707),
 (124, datetime.date(2017, 9, 22), datetime.date(2017, 9, 24), 1007, 705),
 (125, datetime.date(2017, 9, 22), datetime.date(2017, 9, 22), 1011, 707),
 (127, datetime.date(2017, 9, 23), datetime.date(2017, 9, 26), 1009, 705),
 (130, datetime.date(2017, 9, 23), datetime.date(2017, 9, 25), 1011, 705),
 (131, datetime.date(2017, 9, 23), datetime.date(2017, 9, 23), 1014, 706),
 (132, datetime.date(2017, 9, 23), datetime.date(2017, 9, 26), 1007, 705),
 (136, datetime.date(2017, 9, 24), datetime.date(2017, 9, 27), 1008, 707),
 (140, datetime.date(2017, 9, 25), datetime.date(2017, 9, 25), 1002, 706),
 (141, datetime.date(2017, 9, 25), datetime.date(2017, 9, 28), 1014, 706),
 (142, datetime.date(2017, 9, 26), datetime.date(2017, 9, 30), 1018, 702),
 (144, datetime.date(2017, 9, 26), datetime.date(2017, 9, 30), 1018, 704),
 (145, datetime.date(2017, 9, 27), datetime.date(2017, 10, 1), 1027, 701),
 (147, datetime.date(2017, 9, 27), datetime.date(2017, 9, 27), 1026, 708),
 (148, datetime.date(2017, 9, 27), datetime.date(2017, 10, 1), 1027, 704),
 (149, datetime.date(2017, 9, 28), datetime.date(2017, 9, 29), 1004, 707),
 (150, datetime.date(2017, 9, 28), datetime.date(2017, 9, 28), 1024, 701),
 (156, datetime.date(2017, 9, 30), datetime.date(2017, 10, 1), 1004, 703),
 (157, datetime.date(2017, 9, 30), datetime.date(2017, 10, 2), 1010, 707),
 (160, datetime.date(2017, 10, 1), datetime.date(2017, 10, 1), 1021, 706),
 (161, datetime.date(2017, 10, 1), datetime.date(2017, 10, 1), 1011, 707),
 (163, datetime.date(2017, 10, 1), datetime.date(2017, 10, 1), 1004, 707),
 (164, datetime.date(2017, 10, 2), datetime.date(2017, 10, 5), 1021, 707),
 (165, datetime.date(2017, 10, 3), datetime.date(2017, 10, 3), 1017, 702),
 (167, datetime.date(2017, 10, 4), datetime.date(2017, 10, 4), 1017, 706),
 (168, datetime.date(2017, 10, 4), datetime.date(2017, 10, 6), 1027, 706),
 (170, datetime.date(2017, 10, 5), datetime.date(2017, 10, 5), 1004, 704),
 (172, datetime.date(2017, 10, 5), datetime.date(2017, 10, 8), 1018, 704),
 (174, datetime.date(2017, 10, 5), datetime.date(2017, 10, 9), 1006, 703),
 (175, datetime.date(2017, 10, 5), datetime.date(2017, 10, 8), 1013, 706),
 (177, datetime.date(2017, 10, 5), datetime.date(2017, 10, 9), 1008, 706),
 (179, datetime.date(2017, 10, 5), datetime.date(2017, 10, 9), 1017, 708),
 (181, datetime.date(2017, 10, 6), datetime.date(2017, 10, 6), 1017, 708),
 (182, datetime.date(2017, 10, 6), datetime.date(2017, 10, 7), 1002, 702),
 (183, datetime.date(2017, 10, 6), datetime.date(2017, 10, 6), 1020, 708),
 (184, datetime.date(2017, 10, 6), datetime.date(2017, 10, 10), 1023, 707),
 (185, datetime.date(2017, 10, 6), datetime.date(2017, 10, 10), 1017, 702),
 (188, datetime.date(2017, 10, 7), datetime.date(2017, 10, 8), 1002, 706),
 (193, datetime.date(2017, 10, 7), datetime.date(2017, 10, 7), 1025, 708),
 (194, datetime.date(2017, 10, 7), datetime.date(2017, 10, 9), 1017, 708),
 (196, datetime.date(2017, 10, 8), datetime.date(2017, 10, 12), 1009, 707),
 (200, datetime.date(2017, 10, 8), datetime.date(2017, 10, 9), 1026, 706),
 (203, datetime.date(2017, 10, 9), datetime.date(2017, 10, 9), 1023, 708),
 (205, datetime.date(2017, 10, 9), datetime.date(2017, 10, 13), 1006, 706),
 (206, datetime.date(2017, 10, 9), datetime.date(2017, 10, 13), 1021, 704),
 (210, datetime.date(2017, 10, 11), datetime.date(2017, 10, 13), 1024, 701),
 (215, datetime.date(2017, 10, 12), datetime.date(2017, 10, 12), 1002, 708),
 (217, datetime.date(2017, 10, 13), datetime.date(2017, 10, 15), 1020, 703),
 (218, datetime.date(2017, 10, 13), datetime.date(2017, 10, 16), 1014, 707),
 (219, datetime.date(2017, 10, 13), datetime.date(2017, 10, 14), 1018, 706),
 (220, datetime.date(2017, 10, 13), datetime.date(2017, 10, 15), 1014, 705),
 (222, datetime.date(2017, 10, 13), datetime.date(2017, 10, 17), 1007, 703),
 (223, datetime.date(2017, 10, 13), datetime.date(2017, 10, 16), 1025, 708),
 (224, datetime.date(2017, 10, 13), datetime.date(2017, 10, 16), 1011, 705),
 (225, datetime.date(2017, 10, 14), datetime.date(2017, 10, 14), 1017, 704),
 (227, datetime.date(2017, 10, 15), datetime.date(2017, 10, 18), 1006, 704),
 (233, datetime.date(2017, 10, 17), datetime.date(2017, 10, 19), 1014, 708),
 (238, datetime.date(2017, 10, 18), datetime.date(2017, 10, 21), 1005, 705),
 (239, datetime.date(2017, 10, 18), datetime.date(2017, 10, 19), 1012, 703),
 (242, datetime.date(2017, 10, 19), datetime.date(2017, 10, 21), 1010, 705),
 (243, datetime.date(2017, 10, 19), datetime.date(2017, 10, 22), 1020, 708),
 (246, datetime.date(2017, 10, 20), datetime.date(2017, 10, 23), 1004, 703),
 (247, datetime.date(2017, 10, 20), datetime.date(2017, 10, 23), 1005, 702),
 (248, datetime.date(2017, 10, 20), datetime.date(2017, 10, 21), 1021, 705),
 (249, datetime.date(2017, 10, 20), datetime.date(2017, 10, 23), 1016, 703),
 (250, datetime.date(2017, 10, 20), datetime.date(2017, 10, 22), 1023, 707),
 (252, datetime.date(2017, 10, 20), datetime.date(2017, 10, 21), 1010, 702),
 (253, datetime.date(2017, 10, 21), datetime.date(2017, 10, 21), 1024, 706),
 (256, datetime.date(2017, 10, 22), datetime.date(2017, 10, 22), 1016, 705),
 (257, datetime.date(2017, 10, 22), datetime.date(2017, 10, 22), 1007, 708),
 (258, datetime.date(2017, 10, 23), datetime.date(2017, 10, 23), 1016, 705),
 (260, datetime.date(2017, 10, 23), datetime.date(2017, 10, 23), 1006, 701),
 (261, datetime.date(2017, 10, 23), datetime.date(2017, 10, 27), 1020, 708),
 (263, datetime.date(2017, 10, 23), datetime.date(2017, 10, 26), 1011, 705),
 (266, datetime.date(2017, 10, 23), datetime.date(2017, 10, 27), 1021, 708),
 (267, datetime.date(2017, 10, 23), datetime.date(2017, 10, 24), 1004, 706),
 (268, datetime.date(2017, 10, 24), datetime.date(2017, 10, 25), 1021, 704),
 (269, datetime.date(2017, 10, 24), datetime.date(2017, 10, 25), 1016, 706),
 (270, datetime.date(2017, 10, 24), datetime.date(2017, 10, 27), 1007, 703),
 (271, datetime.date(2017, 10, 25), datetime.date(2017, 10, 25), 1010, 702),
 (272, datetime.date(2017, 10, 25), datetime.date(2017, 10, 27), 1005, 701),
 (273, datetime.date(2017, 10, 25), datetime.date(2017, 10, 25), 1024, 704),
 (276, datetime.date(2017, 10, 25), datetime.date(2017, 10, 25), 1018, 702),
 (278, datetime.date(2017, 10, 25), datetime.date(2017, 10, 26), 1024, 707),
 (279, datetime.date(2017, 10, 26), datetime.date(2017, 10, 30), 1017, 706),
 (280, datetime.date(2017, 10, 26), datetime.date(2017, 10, 28), 1016, 702),
 (281, datetime.date(2017, 10, 26), datetime.date(2017, 10, 28), 1006, 708),
 (282, datetime.date(2017, 10, 27), datetime.date(2017, 10, 29), 1005, 702),
 (284, datetime.date(2017, 10, 27), datetime.date(2017, 10, 31), 1016, 701),
 (285, datetime.date(2017, 10, 27), datetime.date(2017, 10, 28), 1024, 705),
 (286, datetime.date(2017, 10, 27), datetime.date(2017, 10, 28), 1019, 705),
 (290, datetime.date(2017, 10, 29), datetime.date(2017, 10, 29), 1018, 706),
 (291, datetime.date(2017, 10, 29), datetime.date(2017, 11, 2), 1025, 705),
 (292, datetime.date(2017, 10, 29), datetime.date(2017, 10, 29), 1013, 708),
 (293, datetime.date(2017, 10, 29), datetime.date(2017, 10, 30), 1025, 706),
 (294, datetime.date(2017, 10, 30), datetime.date(2017, 10, 31), 1017, 706),
 (295, datetime.date(2017, 10, 30), datetime.date(2017, 10, 30), 1012, 701),
 (296, datetime.date(2017, 10, 30), datetime.date(2017, 10, 30), 1014, 707),
 (298, datetime.date(2017, 10, 30), datetime.date(2017, 11, 2), 1005, 701),
 (300, datetime.date(2017, 10, 31), datetime.date(2017, 10, 31), 1011, 706),
 (301, datetime.date(2017, 10, 31), datetime.date(2017, 11, 4), 1025, 704),
 (302, datetime.date(2017, 10, 31), datetime.date(2017, 11, 2), 1007, 702),
 (306, datetime.date(2017, 11, 1), datetime.date(2017, 11, 3), 1026, 701),
 (307, datetime.date(2017, 11, 1), datetime.date(2017, 11, 2), 1013, 704),
 (308, datetime.date(2017, 11, 1), datetime.date(2017, 11, 2), 1002, 701),
 (310, datetime.date(2017, 11, 1), datetime.date(2017, 11, 3), 1025, 703),
 (313, datetime.date(2017, 11, 2), datetime.date(2017, 11, 2), 1024, 701),
 (315, datetime.date(2017, 11, 2), datetime.date(2017, 11, 6), 1024, 702),
 (317, datetime.date(2017, 11, 2), datetime.date(2017, 11, 2), 1012, 703),
 (319, datetime.date(2017, 11, 3), datetime.date(2017, 11, 4), 1005, 701),
 (321, datetime.date(2017, 11, 3), datetime.date(2017, 11, 5), 1011, 701),
 (323, datetime.date(2017, 11, 3), datetime.date(2017, 11, 5), 1011, 706),
 (325, datetime.date(2017, 11, 3), datetime.date(2017, 11, 4), 1002, 706),
 (327, datetime.date(2017, 11, 3), datetime.date(2017, 11, 3), 1012, 703),
 (329, datetime.date(2017, 11, 4), datetime.date(2017, 11, 6), 1004, 708),
 (331, datetime.date(2017, 11, 4), datetime.date(2017, 11, 6), 1018, 702),
 (332, datetime.date(2017, 11, 5), datetime.date(2017, 11, 5), 1006, 704),
 (334, datetime.date(2017, 11, 5), datetime.date(2017, 11, 9), 1009, 707),
 (335, datetime.date(2017, 11, 5), datetime.date(2017, 11, 6), 1020, 703),
 (336, datetime.date(2017, 11, 6), datetime.date(2017, 11, 7), 1020, 703),
 (337, datetime.date(2017, 11, 6), datetime.date(2017, 11, 7), 1011, 706),
 (338, datetime.date(2017, 11, 6), datetime.date(2017, 11, 6), 1009, 708),
 (339, datetime.date(2017, 11, 6), datetime.date(2017, 11, 10), 1005, 705),
 (340, datetime.date(2017, 11, 6), datetime.date(2017, 11, 10), 1026, 707),
 (342, datetime.date(2017, 11, 8), datetime.date(2017, 11, 10), 1013, 702),
 (343, datetime.date(2017, 11, 8), datetime.date(2017, 11, 11), 1025, 708),
 (345, datetime.date(2017, 11, 8), datetime.date(2017, 11, 11), 1008, 701),
 (351, datetime.date(2017, 11, 10), datetime.date(2017, 11, 14), 1012, 704),
 (353, datetime.date(2017, 11, 10), datetime.date(2017, 11, 14), 1026, 704),
 (354, datetime.date(2017, 11, 11), datetime.date(2017, 11, 12), 1021, 706),
 (355, datetime.date(2017, 11, 11), datetime.date(2017, 11, 12), 1014, 702),
 (358, datetime.date(2017, 11, 11), datetime.date(2017, 11, 15), 1012, 701),
 (359, datetime.date(2017, 11, 12), datetime.date(2017, 11, 13), 1024, 707),
 (360, datetime.date(2017, 11, 12), datetime.date(2017, 11, 14), 1013, 707),
 (362, datetime.date(2017, 11, 12), datetime.date(2017, 11, 13), 1012, 701),
 (363, datetime.date(2017, 11, 12), datetime.date(2017, 11, 13), 1010, 706),
 (366, datetime.date(2017, 11, 12), datetime.date(2017, 11, 13), 1004, 708),
 (367, datetime.date(2017, 11, 12), datetime.date(2017, 11, 12), 1011, 703),
 (368, datetime.date(2017, 11, 13), datetime.date(2017, 11, 14), 1017, 708),
 (370, datetime.date(2017, 11, 13), datetime.date(2017, 11, 13), 1025, 708),
 (372, datetime.date(2017, 11, 13), datetime.date(2017, 11, 15), 1025, 707),
 (373, datetime.date(2017, 11, 13), datetime.date(2017, 11, 16), 1014, 701),
 (374, datetime.date(2017, 11, 13), datetime.date(2017, 11, 13), 1005, 701),
 (378, datetime.date(2017, 11, 14), datetime.date(2017, 11, 15), 1014, 707),
 (379, datetime.date(2017, 11, 14), datetime.date(2017, 11, 18), 1025, 706),
 (381, datetime.date(2017, 11, 15), datetime.date(2017, 11, 17), 1012, 701),
 (383, datetime.date(2017, 11, 17), datetime.date(2017, 11, 20), 1017, 702),
 (384, datetime.date(2017, 11, 17), datetime.date(2017, 11, 17), 1021, 708),
 (385, datetime.date(2017, 11, 18), datetime.date(2017, 11, 21), 1019, 701),
 (386, datetime.date(2017, 11, 18), datetime.date(2017, 11, 18), 1021, 705),
 (387, datetime.date(2017, 11, 18), datetime.date(2017, 11, 22), 1010, 708),
 (388, datetime.date(2017, 11, 18), datetime.date(2017, 11, 22), 1008, 705),
 (390, datetime.date(2017, 11, 18), datetime.date(2017, 11, 21), 1016, 708),
 (392, datetime.date(2017, 11, 18), datetime.date(2017, 11, 22), 1006, 708),
 (393, datetime.date(2017, 11, 19), datetime.date(2017, 11, 21), 1011, 704),
 (398, datetime.date(2017, 11, 21), datetime.date(2017, 11, 23), 1004, 708),
 (399, datetime.date(2017, 11, 21), datetime.date(2017, 11, 24), 1007, 704),
 (400, datetime.date(2017, 11, 21), datetime.date(2017, 11, 25), 1026, 705),
 (402, datetime.date(2017, 11, 21), datetime.date(2017, 11, 23), 1017, 704),
 (403, datetime.date(2017, 11, 21), datetime.date(2017, 11, 21), 1006, 702),
 (405, datetime.date(2017, 11, 21), datetime.date(2017, 11, 24), 1023, 702),
 (406, datetime.date(2017, 11, 22), datetime.date(2017, 11, 26), 1012, 706),
 (409, datetime.date(2017, 11, 24), datetime.date(2017, 11, 25), 1024, 704),
 (411, datetime.date(2017, 11, 25), datetime.date(2017, 11, 26), 1002, 708),
 (414, datetime.date(2017, 11, 25), datetime.date(2017, 11, 29), 1020, 703),
 (415, datetime.date(2017, 11, 25), datetime.date(2017, 11, 28), 1013, 705),
 (416, datetime.date(2017, 11, 25), datetime.date(2017, 11, 26), 1024, 705),
 (418, datetime.date(2017, 11, 25), datetime.date(2017, 11, 25), 1012, 705),
 (420, datetime.date(2017, 11, 26), datetime.date(2017, 11, 26), 1024, 704),
 (422, datetime.date(2017, 11, 26), datetime.date(2017, 11, 27), 1027, 707),
 (423, datetime.date(2017, 11, 26), datetime.date(2017, 11, 30), 1010, 708),
 (428, datetime.date(2017, 11, 27), datetime.date(2017, 11, 28), 1024, 703),
 (431, datetime.date(2017, 11, 28), datetime.date(2017, 12, 1), 1016, 705),
 (433, datetime.date(2017, 11, 28), datetime.date(2017, 11, 28), 1017, 708),
 (434, datetime.date(2017, 11, 28), datetime.date(2017, 11, 30), 1012, 703),
 (437, datetime.date(2017, 11, 28), datetime.date(2017, 11, 30), 1002, 705),
 (439, datetime.date(2017, 11, 29), datetime.date(2017, 12, 3), 1025, 703),
 (440, datetime.date(2017, 11, 29), datetime.date(2017, 11, 30), 1027, 708),
 (441, datetime.date(2017, 11, 29), datetime.date(2017, 11, 29), 1010, 701),
 (445, datetime.date(2017, 11, 30), datetime.date(2017, 12, 1), 1007, 705),
 (447, datetime.date(2017, 11, 30), datetime.date(2017, 12, 1), 1018, 702),
 (449, datetime.date(2017, 11, 30), datetime.date(2017, 11, 30), 1025, 707),
 (450, datetime.date(2017, 12, 1), datetime.date(2017, 12, 5), 1004, 705),
 (453, datetime.date(2017, 12, 1), datetime.date(2017, 12, 5), 1027, 708),
 (454, datetime.date(2017, 12, 1), datetime.date(2017, 12, 3), 1010, 703),
 (461, datetime.date(2017, 12, 4), datetime.date(2017, 12, 8), 1021, 703),
 (465, datetime.date(2017, 12, 5), datetime.date(2017, 12, 5), 1012, 706),
 (466, datetime.date(2017, 12, 6), datetime.date(2017, 12, 7), 1026, 704),
 (467, datetime.date(2017, 12, 6), datetime.date(2017, 12, 6), 1013, 706),
 (468, datetime.date(2017, 12, 6), datetime.date(2017, 12, 7), 1010, 708),
 (472, datetime.date(2017, 12, 6), datetime.date(2017, 12, 10), 1023, 707),
 (477, datetime.date(2017, 12, 7), datetime.date(2017, 12, 7), 1009, 708),
 (479, datetime.date(2017, 12, 7), datetime.date(2017, 12, 10), 1024, 705),
 (487, datetime.date(2017, 12, 9), datetime.date(2017, 12, 11), 1009, 704),
 (490, datetime.date(2017, 12, 9), datetime.date(2017, 12, 11), 1009, 702),
 (491, datetime.date(2017, 12, 9), datetime.date(2017, 12, 10), 1007, 708),
 (492, datetime.date(2017, 12, 10), datetime.date(2017, 12, 12), 1008, 702),
 (493, datetime.date(2017, 12, 10), datetime.date(2017, 12, 14), 1005, 708),
 (495, datetime.date(2017, 12, 10), datetime.date(2017, 12, 11), 1012, 702),

In [22]:
%%sql

-- Step 4. Show customer info who have ordered bikes

SELECT * 
FROM customers
WHERE CustomerID IN (
   SELECT CustomerID
   FROM orders
   WHERE OrderNumber in (
       SELECT OrderNumber FROM order_details
       WHERE ProductNumber in (
           SELECT ProductNumber 
           FROM products
           WHERE ProductName LIKE "%Bike")))

 * mysql://dimitri:***@db.data-science-ust.net
23 rows affected.

[(1002, 'William', 'Thompson', '122 Spring River Drive', 'Duvall', 'WA', '98019', 425, '555-2681'),
 (1004, 'Robert', 'Brown', '672 Lamont Ave', 'Houston', 'TX', '77201', 713, '555-2491'),
 (1005, 'Dean', 'McCrae', '4110 Old Redmond Rd.', 'Redmond', 'WA', '98052', 425, '555-2506'),
 (1006, 'John', 'Viescas', '15127 NE 24th, #383', 'Redmond', 'WA', '98052', 425, '555-2511'),
 (1007, 'Mariya', 'Sergienko', '901 Pine Avenue', 'Portland', 'OR', '97208', 503, '555-2526'),
 (1008, 'Neil', 'Patterson', '233 West Valley Hwy', 'San Diego', 'CA', '92199', 619, '555-2541'),
 (1009, 'Andrew', 'Cencini', '507 - 20th Ave. E.\nApt. 2A', 'Seattle', 'WA', '98105', 206, '555-2601'),
 (1010, 'Angel', 'Kennedy', '667 Red River Road', 'Austin', 'TX', '78710', 512, '555-2571'),
 (1011, 'Alaina', 'Hallmark', 'Route 2, Box 203B', 'Woodinville', 'WA', '98072', 425, '555-2631'),
 (1012, 'Liz', 'Keyser', '13920 S.E. 40th Street', 'Bellevue', 'WA', '98006', 425, '555-2556'),
 (1013, 'Rachel', 'Patterson', '2114 Longview Lane', 'San Diego', 'CA', '92199', 619, '555-2546'),
 (1014, 'Sam', 'Abolrous', '611 Alpine Drive', 'Palm Springs', 'CA', '92263', 760, '555-2611'),
 (1016, 'Jim', 'Wilson', '101 NE 88th', 'Salem', 'OR', '97301', 503, '555-2636'),
 (1017, 'Manuela', 'Seidel', '66 Spring Valley Drive', 'Medford', 'OR', '97501', 541, '555-2641'),
 (1018, 'David', 'Smith', '311 20th Ave. N.E.', 'Fremont', 'CA', '94538', 510, '555-2646'),
 (1019, 'Zachary', 'Ehrlich', '12330 Kingman Drive', 'Glendale', 'CA', '91209', 818, '555-2721'),
 (1020, 'Joyce', 'Bonnicksen', '2424 Thames Drive', 'Bellevue', 'WA', '98006', 425, '555-2726'),
 (1021, 'Estella', 'Pundt', '2500 Rosales Lane', 'Dallas', 'TX', '75260', 972, '555-9938'),
 (1023, 'Julia', 'Schnebly', '2343 Harmony Lane', 'Seattle', 'WA', '99837', 206, '555-9936'),
 (1024, 'Mark', 'Rosales', '323 Advocate Lane', 'El Paso', 'TX', '79915', 915, '555-2286'),
 (1025, 'Maria', 'Patterson', '3445 Cheyenne Road', 'El Paso', 'TX', '79915', 915, '555-2291'),
 (1026, 'Kirk', 'DeGrasse', '455 West Palm Ave', 'San Antonio', 'TX', '78284', 210, '555-2311'),
 (1027, 'Luke', 'Patterson', '877 145th Ave SE', 'Portland', 'OR', '97208', 503, '555-2316')]

In [28]:
%%sql

-- Steps 1-3 Alternative 
-- Show all detailed order info for bicycles
-- We can use the NATURAL JOIN because the foreign key columns 
-- have the same names as the primary key columns they are referencing

SELECT * 
FROM orders NATURAL JOIN order_details NATURAL JOIN products
WHERE ProductName LIKE "%Bike"

 * mysql://dimitri:***@db.data-science-ust.net
909 rows affected.

[(1, 1, datetime.date(2017, 9, 2), datetime.date(2017, 9, 5), 1018, 707, Decimal('1200.00'), 2, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 3, datetime.date(2017, 9, 2), datetime.date(2017, 9, 5), 1002, 707, Decimal('1164.00'), 5, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 4, datetime.date(2017, 9, 2), datetime.date(2017, 9, 4), 1009, 703, Decimal('1200.00'), 4, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 5, datetime.date(2017, 9, 2), datetime.date(2017, 9, 2), 1024, 708, Decimal('1200.00'), 4, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 10, datetime.date(2017, 9, 2), datetime.date(2017, 9, 5), 1012, 701, Decimal('1200.00'), 2, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 11, datetime.date(2017, 9, 3), datetime.date(2017, 9, 5), 1020, 706, Decimal('1200.00'), 1, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 13, datetime.date(2017, 9, 3), datetime.date(2017, 9, 3), 1024, 704, Decimal('1200.00'), 2, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 14, datetime.date(2017, 9, 3), datetime.date(2017, 9, 4), 1013, 704, Decimal('1164.00'), 5, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 15, datetime.date(2017, 9, 3), datetime.date(2017, 9, 7), 1004, 701, Decimal('1200.00'), 2, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 17, datetime.date(2017, 9, 3), datetime.date(2017, 9, 4), 1014, 702, Decimal('1200.00'), 2, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 19, datetime.date(2017, 9, 3), datetime.date(2017, 9, 7), 1027, 707, Decimal('1164.00'), 5, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 20, datetime.date(2017, 9, 3), datetime.date(2017, 9, 3), 1011, 706, Decimal('1200.00'), 3, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 22, datetime.date(2017, 9, 4), datetime.date(2017, 9, 8), 1026, 702, Decimal('1164.00'), 5, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 23, datetime.date(2017, 9, 4), datetime.date(2017, 9, 5), 1017, 705, Decimal('1164.00'), 6, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 25, datetime.date(2017, 9, 4), datetime.date(2017, 9, 5), 1017, 708, Decimal('1200.00'), 4, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 26, datetime.date(2017, 9, 5), datetime.date(2017, 9, 9), 1013, 707, Decimal('1164.00'), 5, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 27, datetime.date(2017, 9, 5), datetime.date(2017, 9, 6), 1014, 703, Decimal('1164.00'), 6, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 30, datetime.date(2017, 9, 5), datetime.date(2017, 9, 9), 1010, 708, Decimal('1164.00'), 5, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 32, datetime.date(2017, 9, 6), datetime.date(2017, 9, 10), 1012, 704, Decimal('1164.00'), 6, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 33, datetime.date(2017, 9, 6), datetime.date(2017, 9, 7), 1024, 704, Decimal('1200.00'), 1, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 35, datetime.date(2017, 9, 7), datetime.date(2017, 9, 7), 1012, 701, Decimal('1200.00'), 4, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 39, datetime.date(2017, 9, 8), datetime.date(2017, 9, 11), 1004, 704, Decimal('1164.00'), 6, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 42, datetime.date(2017, 9, 8), datetime.date(2017, 9, 11), 1012, 704, Decimal('1164.00'), 5, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 43, datetime.date(2017, 9, 8), datetime.date(2017, 9, 12), 1020, 705, Decimal('1200.00'), 2, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 44, datetime.date(2017, 9, 8), datetime.date(2017, 9, 9), 1005, 701, Decimal('1200.00'), 1, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 45, datetime.date(2017, 9, 9), datetime.date(2017, 9, 9), 1008, 708, Decimal('1164.00'), 5, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 47, datetime.date(2017, 9, 9), datetime.date(2017, 9, 11), 1023, 708, Decimal('1164.00'), 5, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 48, datetime.date(2017, 9, 9), datetime.date(2017, 9, 12), 1004, 707, Decimal('1200.00'), 1, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 51, datetime.date(2017, 9, 9), datetime.date(2017, 9, 9), 1018, 707, Decimal('1200.00'), 1, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 53, datetime.date(2017, 9, 10), datetime.date(2017, 9, 10), 1004, 706, Decimal('1164.00'), 6, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 57, datetime.date(2017, 9, 10), datetime.date(2017, 9, 11), 1009, 703, Decimal('1200.00'), 2, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 58, datetime.date(2017, 9, 10), datetime.date(2017, 9, 14), 1006, 701, Decimal('1200.00'), 2, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 59, datetime.date(2017, 9, 10), datetime.date(2017, 9, 10), 1004, 704, Decimal('1200.00'), 4, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 60, datetime.date(2017, 9, 10), datetime.date(2017, 9, 14), 1013, 708, Decimal('1200.00'), 1, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 61, datetime.date(2017, 9, 10), datetime.date(2017, 9, 11), 1009, 706, Decimal('1200.00'), 3, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 63, datetime.date(2017, 9, 11), datetime.date(2017, 9, 14), 1023, 708, Decimal('1164.00'), 6, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 64, datetime.date(2017, 9, 11), datetime.date(2017, 9, 15), 1027, 708, Decimal('1200.00'), 1, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 65, datetime.date(2017, 9, 11), datetime.date(2017, 9, 14), 1021, 703, Decimal('1200.00'), 3, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 66, datetime.date(2017, 9, 11), datetime.date(2017, 9, 12), 1026, 703, Decimal('1200.00'), 1, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 71, datetime.date(2017, 9, 13), datetime.date(2017, 9, 15), 1016, 708, Decimal('1200.00'), 1, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 73, datetime.date(2017, 9, 13), datetime.date(2017, 9, 16), 1005, 705, Decimal('1164.00'), 5, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 74, datetime.date(2017, 9, 13), datetime.date(2017, 9, 14), 1002, 703, Decimal('1200.00'), 2, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 75, datetime.date(2017, 9, 13), datetime.date(2017, 9, 15), 1014, 706, Decimal('1200.00'), 4, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 77, datetime.date(2017, 9, 13), datetime.date(2017, 9, 14), 1008, 706, Decimal('1200.00'), 1, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 78, datetime.date(2017, 9, 14), datetime.date(2017, 9, 17), 1007, 701, Decimal('1200.00'), 3, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 79, datetime.date(2017, 9, 14), datetime.date(2017, 9, 18), 1006, 703, Decimal('1164.00'), 6, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 80, datetime.date(2017, 9, 14), datetime.date(2017, 9, 17), 1025, 708, Decimal('1200.00'), 3, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 82, datetime.date(2017, 9, 14), datetime.date(2017, 9, 17), 1005, 701, Decimal('1164.00'), 6, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 86, datetime.date(2017, 9, 14), datetime.date(2017, 9, 17), 1009, 701, Decimal('1200.00'), 2, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 87, datetime.date(2017, 9, 14), datetime.date(2017, 9, 15), 1002, 704, Decimal('1164.00'), 5, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 91, datetime.date(2017, 9, 15), datetime.date(2017, 9, 19), 1010, 703, Decimal('1164.00'), 5, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 92, datetime.date(2017, 9, 15), datetime.date(2017, 9, 18), 1011, 704, Decimal('1200.00'), 3, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 94, datetime.date(2017, 9, 15), datetime.date(2017, 9, 15), 1010, 701, Decimal('1200.00'), 2, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 96, datetime.date(2017, 9, 16), datetime.date(2017, 9, 17), 1025, 703, Decimal('1200.00'), 4, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 97, datetime.date(2017, 9, 16), datetime.date(2017, 9, 19), 1026, 703, Decimal('1200.00'), 2, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 98, datetime.date(2017, 9, 16), datetime.date(2017, 9, 17), 1009, 706, Decimal('1200.00'), 4, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 99, datetime.date(2017, 9, 16), datetime.date(2017, 9, 19), 1002, 703, Decimal('1200.00'), 4, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 102, datetime.date(2017, 9, 16), datetime.date(2017, 9, 18), 1010, 705, Decimal('1200.00'), 3, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 103, datetime.date(2017, 9, 16), datetime.date(2017, 9, 17), 1025, 702, Decimal('1164.00'), 5, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 104, datetime.date(2017, 9, 16), datetime.date(2017, 9, 16), 1017, 708, Decimal('1200.00'), 3, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 113, datetime.date(2017, 9, 19), datetime.date(2017, 9, 23), 1010, 702, Decimal('1200.00'), 4, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 116, datetime.date(2017, 9, 20), datetime.date(2017, 9, 22), 1004, 701, Decimal('1200.00'), 3, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 117, datetime.date(2017, 9, 21), datetime.date(2017, 9, 23), 1005, 705, Decimal('1164.00'), 6, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 119, datetime.date(2017, 9, 21), datetime.date(2017, 9, 21), 1013, 701, Decimal('1164.00'), 6, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 120, datetime.date(2017, 9, 21), datetime.date(2017, 9, 22), 1024, 702, Decimal('1200.00'), 2, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 121, datetime.date(2017, 9, 21), datetime.date(2017, 9, 22), 1025, 701, Decimal('1200.00'), 2, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 122, datetime.date(2017, 9, 21), datetime.date(2017, 9, 25), 1009, 707, Decimal('1200.00'), 3, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 124, datetime.date(2017, 9, 22), datetime.date(2017, 9, 24), 1007, 705, Decimal('1164.00'), 6, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 125, datetime.date(2017, 9, 22), datetime.date(2017, 9, 22), 1011, 707, Decimal('1200.00'), 3, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 127, datetime.date(2017, 9, 23), datetime.date(2017, 9, 26), 1009, 705, Decimal('1164.00'), 6, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 130, datetime.date(2017, 9, 23), datetime.date(2017, 9, 25), 1011, 705, Decimal('1164.00'), 5, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 131, datetime.date(2017, 9, 23), datetime.date(2017, 9, 23), 1014, 706, Decimal('1164.00'), 6, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 132, datetime.date(2017, 9, 23), datetime.date(2017, 9, 26), 1007, 705, Decimal('1200.00'), 2, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 136, datetime.date(2017, 9, 24), datetime.date(2017, 9, 27), 1008, 707, Decimal('1200.00'), 3, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 140, datetime.date(2017, 9, 25), datetime.date(2017, 9, 25), 1002, 706, Decimal('1200.00'), 3, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 141, datetime.date(2017, 9, 25), datetime.date(2017, 9, 28), 1014, 706, Decimal('1200.00'), 2, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 142, datetime.date(2017, 9, 26), datetime.date(2017, 9, 30), 1018, 702, Decimal('1200.00'), 3, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 144, datetime.date(2017, 9, 26), datetime.date(2017, 9, 30), 1018, 704, Decimal('1164.00'), 6, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 145, datetime.date(2017, 9, 27), datetime.date(2017, 10, 1), 1027, 701, Decimal('1200.00'), 3, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 147, datetime.date(2017, 9, 27), datetime.date(2017, 9, 27), 1026, 708, Decimal('1200.00'), 2, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 148, datetime.date(2017, 9, 27), datetime.date(2017, 10, 1), 1027, 704, Decimal('1200.00'), 1, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 149, datetime.date(2017, 9, 28), datetime.date(2017, 9, 29), 1004, 707, Decimal('1200.00'), 4, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 150, datetime.date(2017, 9, 28), datetime.date(2017, 9, 28), 1024, 701, Decimal('1164.00'), 6, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 156, datetime.date(2017, 9, 30), datetime.date(2017, 10, 1), 1004, 703, Decimal('1164.00'), 6, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 157, datetime.date(2017, 9, 30), datetime.date(2017, 10, 2), 1010, 707, Decimal('1164.00'), 6, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 160, datetime.date(2017, 10, 1), datetime.date(2017, 10, 1), 1021, 706, Decimal('1200.00'), 1, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 161, datetime.date(2017, 10, 1), datetime.date(2017, 10, 1), 1011, 707, Decimal('1200.00'), 2, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 163, datetime.date(2017, 10, 1), datetime.date(2017, 10, 1), 1004, 707, Decimal('1164.00'), 6, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 164, datetime.date(2017, 10, 2), datetime.date(2017, 10, 5), 1021, 707, Decimal('1164.00'), 6, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 165, datetime.date(2017, 10, 3), datetime.date(2017, 10, 3), 1017, 702, Decimal('1164.00'), 6, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 167, datetime.date(2017, 10, 4), datetime.date(2017, 10, 4), 1017, 706, Decimal('1164.00'), 5, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 168, datetime.date(2017, 10, 4), datetime.date(2017, 10, 6), 1027, 706, Decimal('1200.00'), 1, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 170, datetime.date(2017, 10, 5), datetime.date(2017, 10, 5), 1004, 704, Decimal('1200.00'), 3, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 172, datetime.date(2017, 10, 5), datetime.date(2017, 10, 8), 1018, 704, Decimal('1200.00'), 2, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 174, datetime.date(2017, 10, 5), datetime.date(2017, 10, 9), 1006, 703, Decimal('1164.00'), 6, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 175, datetime.date(2017, 10, 5), datetime.date(2017, 10, 8), 1013, 706, Decimal('1164.00'), 5, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 177, datetime.date(2017, 10, 5), datetime.date(2017, 10, 9), 1008, 706, Decimal('1200.00'), 4, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 179, datetime.date(2017, 10, 5), datetime.date(2017, 10, 9), 1017, 708, Decimal('1164.00'), 5, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 181, datetime.date(2017, 10, 6), datetime.date(2017, 10, 6), 1017, 708, Decimal('1200.00'), 3, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 182, datetime.date(2017, 10, 6), datetime.date(2017, 10, 7), 1002, 702, Decimal('1164.00'), 6, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 183, datetime.date(2017, 10, 6), datetime.date(2017, 10, 6), 1020, 708, Decimal('1200.00'), 2, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 184, datetime.date(2017, 10, 6), datetime.date(2017, 10, 10), 1023, 707, Decimal('1200.00'), 3, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 185, datetime.date(2017, 10, 6), datetime.date(2017, 10, 10), 1017, 702, Decimal('1200.00'), 4, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 188, datetime.date(2017, 10, 7), datetime.date(2017, 10, 8), 1002, 706, Decimal('1164.00'), 6, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 193, datetime.date(2017, 10, 7), datetime.date(2017, 10, 7), 1025, 708, Decimal('1200.00'), 2, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 194, datetime.date(2017, 10, 7), datetime.date(2017, 10, 9), 1017, 708, Decimal('1200.00'), 3, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 196, datetime.date(2017, 10, 8), datetime.date(2017, 10, 12), 1009, 707, Decimal('1200.00'), 1, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 200, datetime.date(2017, 10, 8), datetime.date(2017, 10, 9), 1026, 706, Decimal('1164.00'), 5, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 203, datetime.date(2017, 10, 9), datetime.date(2017, 10, 9), 1023, 708, Decimal('1200.00'), 2, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 205, datetime.date(2017, 10, 9), datetime.date(2017, 10, 13), 1006, 706, Decimal('1164.00'), 6, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 206, datetime.date(2017, 10, 9), datetime.date(2017, 10, 13), 1021, 704, Decimal('1200.00'), 3, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 210, datetime.date(2017, 10, 11), datetime.date(2017, 10, 13), 1024, 701, Decimal('1164.00'), 5, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 215, datetime.date(2017, 10, 12), datetime.date(2017, 10, 12), 1002, 708, Decimal('1200.00'), 3, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 217, datetime.date(2017, 10, 13), datetime.date(2017, 10, 15), 1020, 703, Decimal('1164.00'), 6, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 218, datetime.date(2017, 10, 13), datetime.date(2017, 10, 16), 1014, 707, Decimal('1164.00'), 5, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 219, datetime.date(2017, 10, 13), datetime.date(2017, 10, 14), 1018, 706, Decimal('1200.00'), 1, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 220, datetime.date(2017, 10, 13), datetime.date(2017, 10, 15), 1014, 705, Decimal('1200.00'), 2, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 222, datetime.date(2017, 10, 13), datetime.date(2017, 10, 17), 1007, 703, Decimal('1200.00'), 3, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 223, datetime.date(2017, 10, 13), datetime.date(2017, 10, 16), 1025, 708, Decimal('1164.00'), 6, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 224, datetime.date(2017, 10, 13), datetime.date(2017, 10, 16), 1011, 705, Decimal('1164.00'), 5, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 225, datetime.date(2017, 10, 14), datetime.date(2017, 10, 14), 1017, 704, Decimal('1200.00'), 3, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 227, datetime.date(2017, 10, 15), datetime.date(2017, 10, 18), 1006, 704, Decimal('1200.00'), 2, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 233, datetime.date(2017, 10, 17), datetime.date(2017, 10, 19), 1014, 708, Decimal('1200.00'), 3, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 238, datetime.date(2017, 10, 18), datetime.date(2017, 10, 21), 1005, 705, Decimal('1200.00'), 3, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),
 (1, 239, datetime.date(2017, 10, 18), datetime.date(2017, 10, 19), 1012, 703, Decimal('1200.00'), 3, 'Trek 9000 Mountain Bike', None, Decimal('1200.00'), 6, 2),

In [32]:
%%sql

-- Step 4: Alternative
-- Show Customer info for customers who have ordered bikes

SELECT * 
FROM customers 
WHERE CustomerID IN (
    SELECT CustomerID 
    FROM orders NATURAL JOIN order_details NATURAL JOIN products
    WHERE ProductName LIKE "%Bike")

 * mysql://dimitri:***@db.data-science-ust.net
23 rows affected.

[(1002, 'William', 'Thompson', '122 Spring River Drive', 'Duvall', 'WA', '98019', 425, '555-2681'),
 (1004, 'Robert', 'Brown', '672 Lamont Ave', 'Houston', 'TX', '77201', 713, '555-2491'),
 (1005, 'Dean', 'McCrae', '4110 Old Redmond Rd.', 'Redmond', 'WA', '98052', 425, '555-2506'),
 (1006, 'John', 'Viescas', '15127 NE 24th, #383', 'Redmond', 'WA', '98052', 425, '555-2511'),
 (1007, 'Mariya', 'Sergienko', '901 Pine Avenue', 'Portland', 'OR', '97208', 503, '555-2526'),
 (1008, 'Neil', 'Patterson', '233 West Valley Hwy', 'San Diego', 'CA', '92199', 619, '555-2541'),
 (1009, 'Andrew', 'Cencini', '507 - 20th Ave. E.\nApt. 2A', 'Seattle', 'WA', '98105', 206, '555-2601'),
 (1010, 'Angel', 'Kennedy', '667 Red River Road', 'Austin', 'TX', '78710', 512, '555-2571'),
 (1011, 'Alaina', 'Hallmark', 'Route 2, Box 203B', 'Woodinville', 'WA', '98072', 425, '555-2631'),
 (1012, 'Liz', 'Keyser', '13920 S.E. 40th Street', 'Bellevue', 'WA', '98006', 425, '555-2556'),
 (1013, 'Rachel', 'Patterson', '2114 Longview Lane', 'San Diego', 'CA', '92199', 619, '555-2546'),
 (1014, 'Sam', 'Abolrous', '611 Alpine Drive', 'Palm Springs', 'CA', '92263', 760, '555-2611'),
 (1016, 'Jim', 'Wilson', '101 NE 88th', 'Salem', 'OR', '97301', 503, '555-2636'),
 (1017, 'Manuela', 'Seidel', '66 Spring Valley Drive', 'Medford', 'OR', '97501', 541, '555-2641'),
 (1018, 'David', 'Smith', '311 20th Ave. N.E.', 'Fremont', 'CA', '94538', 510, '555-2646'),
 (1019, 'Zachary', 'Ehrlich', '12330 Kingman Drive', 'Glendale', 'CA', '91209', 818, '555-2721'),
 (1020, 'Joyce', 'Bonnicksen', '2424 Thames Drive', 'Bellevue', 'WA', '98006', 425, '555-2726'),
 (1021, 'Estella', 'Pundt', '2500 Rosales Lane', 'Dallas', 'TX', '75260', 972, '555-9938'),
 (1023, 'Julia', 'Schnebly', '2343 Harmony Lane', 'Seattle', 'WA', '99837', 206, '555-9936'),
 (1024, 'Mark', 'Rosales', '323 Advocate Lane', 'El Paso', 'TX', '79915', 915, '555-2286'),
 (1025, 'Maria', 'Patterson', '3445 Cheyenne Road', 'El Paso', 'TX', '79915', 915, '555-2291'),
 (1026, 'Kirk', 'DeGrasse', '455 West Palm Ave', 'San Antonio', 'TX', '78284', 210, '555-2311'),
 (1027, 'Luke', 'Patterson', '877 145th Ave SE', 'Portland', 'OR', '97208', 503, '555-2316')]

In [ ]:
%%sql

-- Solution from the book

SELECT DISTINCT customers.CustomerID, customers.CustFirstName, customers.CustLastName
FROM

# Assignment Problems

Note that table names and column names may differ from those in the book. Use `SHOW DATABASES`, `USE <database>`, and `SHOW TABLES` commands to navigate the databases and `SHOW CREATE TABLE <table>` to inspect the declaration of the individual tables.

## In database `shared_sales`.

## In database `shared_entertain`

## In database `shared_schedule`

## In database `shared_bowling`.

## In database `shared_sales`

## In database `shared_entertain`

## In database `shared_schedule`

## In database `shared_bowling`

## In database `shared_recipes`