# Assignment 1: simple `SELECT` queries

## Connect to the database server

In [ ]:
import json
import pymysql 

pymysql.install_as_MySQLdb()

with open('cred.json') as f:
    creds = json.load(f)

connection_string = "mysql://{user}:{password}@{host}".format(**creds)

In [ ]:
%load_ext sql
%config SqlMagic.autocommit=True
%sql $connection_string

## Assignment

### 1. Switch to schema `shared_uni` and inspect what tables it contains

In [ ]:
%%sql

use shared_uni;

show tables;

### 2. Show the `SHOW CREATE TABLE` statement to inspect the definition of the `student` table
You may read more about the `SHOW CREATE TABLE` query in the MySQL documentation https://dev.mysql.com/doc/refman/5.7/en/show-create-table.html

In [ ]:
%%sql

show create table student;

### 3. Inspect the declaration of the table `department`
What is the name and data type of its primary key?

In [ ]:
%%sql 

-- add your query here

### 4. Write the query to show all students

There are many. The query may take a couple of seconds to execute.

In [ ]:
%%sql

SELECT * 
    FROM student

### 5. Write the query to show all departments

In [ ]:
%%sql 

-- Write your query

### 6. Show the full names of all male students from Texas ordered by last name/first_name

In [ ]:
%%sql 

SELECT first_name, last_name 
    FROM student 
    WHERE sex="M" and home_state="TX" 
    ORDER BY last_name, first_name

### 7. Show the student ids of all students named "Rebecca" aged 25 and over

In [ ]:
%%sql

-- write your query

### 8. Count the female students whose birthdate is today (Sept 13) -- version 1

In [ ]:
%%sql 

-- using wildcard 
SELECT count(*) 
    FROM student 
    WHERE sex="F" and date_of_birth LIKE "%-09-13"

### 9. Count the female students whose birthdate is today (Sept 13) -- version 2

Learn about the date functions and `YEAR()`, `MONTH()` and `DAY()` in particular:
https://dev.mysql.com/doc/refman/5.7/en/date-and-time-functions.html

In [ ]:
%%sql 

-- using date functions MONTH and DAY 
-- also rename the column in the result 

SELECT count(*) as number_of_birthdays 
    FROM student 
    WHERE sex="F" and MONTH(date_of_birth) = 9 and DAY(date_of_birth) = 13

### 10. List the full names of students who have birthdays today, ordered by age

In [ ]:
%%sql

-- your query here

### 11. Show the full names and dates of birth of students born in 1999 ordered by age

Learn about string functions: https://dev.mysql.com/doc/refman/5.7/en/string-functions.html and `CONCAT` in particular

In [ ]:
%%sql

SELECT CONCAT(first_name, " ", last_name) as full_name, date_of_birth 
    FROM student 
    WHERE date_of_birth between "1990-01-01" and "1990-12-01"
    ORDER by date_of_birth

### 12. Rewrite the query from 11 but use the `YEAR()` function instead of the `BETWEEN` operator

In [ ]:
%%sql

-- your query here

### 12. Show student full names and their ages in years, ordered by full name descending and only show the first 10
Pay attenting to the use of `LIMIT` and `DESC` (for descending sort)

In [ ]:
%%sql

SELECT concat(last_name, ', ', first_name) as full_name, floor(DATEDIFF(now(), date_of_birth)/365.25) as age
    FROM student 
    ORDER by full_name desc
    LIMIT 10

### 13. Show the name and date of birth of the youngest student in the university

In [ ]:
%%sql

--- your query here

### 14. Show the id of students majoring in MATH 
Hint: inspect the table `student_major`

In [ ]:
%%sql

-- your query here