In [1]:
import json
with open('cred.json') as f:
    creds = json.load(f)

connection_string = "mysql://{user}:{password}@{host}".format(**creds)

import pymysql 
pymysql.install_as_MySQLdb()

In [2]:
%load_ext sql
%config SqlMagic.autocommit=True
%sql $connection_string

# Problem: 

Find the most common list of products on an order.

In [3]:
import datajoint as dj

In [4]:
schema = dj.Schema('shared_sales')

Connecting dimitri@db.ust-db.link:3306

In [5]:
schema.spawn_missing_classes()

In [6]:
dj.Diagram(schema)

In [ ]:
q = Order.aggr(Order.Item, n='count(product_number)', list='GROUP_CONCAT(product_number)')

In [ ]:
q

In [ ]:
q

In [ ]:
q.fetch('list', order_by='n', limit=1)

In [9]:
%%sql

USE shared_sales

 * mysql://dimitri:***@db.ust-db.link
0 rows affected.

[]

In [10]:
%%sql

SELECT
    c,
    count(*) as count_value
FROM (
    SELECT order_number, 
        GROUP_CONCAT(product_number ORDER BY product_number) AS c
        FROM `order`
        JOIN order__item
        USING (order_number)
        GROUP BY order_number) AS _
    GROUP BY c
    ORDER BY count_value DESC
LIMIT 1

 * mysql://dimitri:***@db.ust-db.link
1 rows affected.

[('1,6,11,16,21,26,31,36', 23)]

In [11]:
%%sql

SELECT 
    COUNT(order_number) AS count, product_group 
FROM (
    SELECT order_number, GROUP_CONCAT(product_number ORDER BY product_number) AS product_group
    FROM order__item
    GROUP BY order_number) AS subquery
GROUP BY product_group
ORDER BY count DESC
LIMIT 1;

 * mysql://dimitri:***@db.ust-db.link
1 rows affected.

[(23, '1,6,11,16,21,26,31,36')]

In [12]:
%%sql

-- Show all products for each order
WITH q as
( 
    SELECT order_number, GROUP_CONCAT(product_number ORDER BY product_number) AS product_group
    FROM `order__item`
    GROUP BY order_number ) 

SELECT product_group, count(*) as `count` 
FROM q 
GROUP BY product_group 
ORDER BY `count` DESC LIMIT 1

 * mysql://dimitri:***@db.ust-db.link
1 rows affected.

[('1,6,11,16,21,26,31,36', 23)]

In [13]:
%%sql 

SELECT product_group, count(*) as `count` 
FROM ( 
    SELECT order_number, GROUP_CONCAT(product_number ORDER BY product_number) AS product_group
    FROM `order__item`
    GROUP BY order_number ) as q
GROUP BY product_group 
ORDER BY `count` DESC LIMIT 1

 * mysql://dimitri:***@db.ust-db.link
1 rows affected.

[('1,6,11,16,21,26,31,36', 23)]

In [ ]:
## Show all Orders that contain the Products (1, 6, 11, 16)

In [23]:
Order - (Order.proj() * (Product & 'product_number in (1, 6, 11, 16, 36)') - Order.Item())

*order_number  order_date     ship_date      customer_id    employee_id
+------------+ +------------+ +------------+ +------------+ +------------+
3              2017-09-02     2017-09-05     1002           707
11             2017-09-03     2017-09-05     1020           706
39             2017-09-08     2017-09-11     1004           704
91             2017-09-15     2017-09-19     1010           703
119            2017-09-21     2017-09-21     1013           701
148            2017-09-27     2017-10-01     1027           704
160            2017-10-01     2017-10-01     1021           706
175            2017-10-05     2017-10-08     1013           706
242            2017-10-19     2017-10-21     1010           705
329            2017-11-04     2017-11-06     1004           708
339            2017-11-06     2017-11-10     1005           705
373            2017-11-13     2017-11-16     1014           701
   ...
 (Total: 29)

In [ ]:
# Show all the triplets of products that most commonly appear together on rders.

In [ ]:
Order

In [ ]:
%%sql

SELECT 
    i1.product_number as p1, 
    i2.product_number as p2, 
    i3.product_number as p3, count(*) as n 
    
FROM 
  order__item as i1 
  JOIN order__item as i2 USING (order_number) 
  JOIN order__item as i3 USING (order_number)

WHERE i1.product_number < i2.product_number 
  AND i2.product_number < i3.product_number

GROUP BY p1, p2, p3
HAVING n > 100

# Transactions

In [ ]:
from faker import Faker

In [ ]:
fake = Faker()

In [ ]:
import datajoint as dj
schema = dj.Schema('shared_bank')

In [ ]:
@schema
class Account(dj.Manual):
    definition = """
    account_number : int
    ---
    customer_name : varchar(60) 
    balance : decimal(9, 2)
    """

In [ ]:
Account.insert(
    dict(
        account_number=fake.random.randint(10_000_000, 99_999_999),
        customer_name=fake.name(),
        balance=fake.random.randint(0, 100_000_00)/100)
        for i in range(100))

In [ ]:
Account()

In [ ]:
keys =Account.fetch('KEY')
account1 = fake.random.choice(keys)
account2 = fake.random.choice(keys)

In [ ]:
def transfer(account1, account2, amount):
    
    with Account.connection.transaction:

        current_balance = (Account & account1).fetch1('balance')
        if current_balance < amount:
            raise RuntimeError('Insufficient funds')

        Account.update1(dict(account1, balance=float(current_balance) - amount))

        b = (Account & account2).fetch1('balance')
        Account.update1(dict(account2, balance= float(b) + amount))

In [ ]:
Account & account1

In [ ]:
Account & account2

In [ ]:
transfer(account1, account2, 100000.00)

In [ ]:
Account & [account1, account2]

In [ ]:
%%sql

use shared_bank;

SHOW CREATE TABLE account;

In [ ]:
%%sql

SELECT * FROM account;

In [ ]:
%%sql

BEGIN TRANSACTION;
  
    UPDATE account SET balance = balance + 100
    WHERE account = 96295995;
    
    
    UPDATE account SET balance = balance - 100
    WHERE account 96610067;

COMMIT

In [ ]:
import pymysql

In [ ]:
import json
with open('cred.json') as f:
    creds = json.load(f)

In [ ]:
conn = pymysql.connect(**creds, autocommit=True)

In [ ]:
account1

In [ ]:
cursor = conn.cursor()
cursor.execute("""
    SELECT balance FROM shared_bank.account 
    WHERE account_number = %s
    """, (account1["account_number"],))

amount = 100

current_balance = cursor.fetchone()

cursor.execute("""
    UPDATE shared_bank.account 
    SET balance = balance - %s
    WHERE account_number = %s
    """, (amount, account1["account_number"],))

cursor.execute("""
    UPDATE shared_bank.account 
    SET balance = balance + %s
    WHERE account_number = %s
    """, (amount, account2["account_number"],))

In [ ]:
def transfer(cursor, account1, account2, amount):
    
    cursor.execute("BEGIN TRANSACTION")
    
    try:
        cursor.execute("""
            SELECT balance FROM shared_bank.account 
            WHERE account_number = %s
            """, (account1["account_number"],))

        current_balance = cursor.fetchone()

        if current_balance < amount:
            raise RuntimeError('Insufficient funds')

        cursor.execute("""
            UPDATE shared_bank.account 
            SET balance = balance - %s
            WHERE account_number = %s
            """, (amount, account1["account_number"],))

        cursor.execute("""
            UPDATE shared_bank.account 
            SET balance = balance + %s
            WHERE account_number = %s
            """, (amount, account2["account_number"],))
        
    except: 
        cursor.execute('CANCEL TRANSACTION')
        raise
    
    else:
        cursor.execute('COMMIT')

# Design Patterns

- Sequence
  * workflows
- Specialization / Generalization
  * student / faculty / staff
- Hierarchies
  * Ownership
  * Using composite primary keys
  * Secondary keys
- Parameterization
  * 
- Associations
  * Many-to-many relationships
  * Directed graphs 
  * Trees
  * Undirected graphs
- Master-part

In [ ]:
import datajoint as dj

In [ ]:
schema = dj.schema('dimitri_patterns')
schema.drop()
schema = dj.schema('dimitri_patterns')

# Sequence / Workflows

In [ ]:
# E.g. order / shipment / confirmation

In [ ]:
@schema
class Order(dj.Manual):
    definition = """
    order_number : int
    ---
    order_date : date
    """

In [ ]:
@schema
class Shipment(dj.Manual):
    definition = """
    -> Order
    ---
    ship_date : date
    """

In [ ]:
@schema
class Confirm(dj.Manual):
    definition = """
    -> Shipment
    ---
    confirm_date : date
    """

In [ ]:
dj.Diagram(schema)

In [ ]:
Confirm * Shipment

In [ ]:
@schema
class Order2(dj.Manual):
    definition = """
    order_number : int
    ---
    order_date : date
    """
    
@schema
class Shipment2(dj.Manual):
    definition = """
    shipment_id : int
    ---
    -> Order2
    unique index (order_id)
    ship_date : date
    """
    
@schema
class Confirm2(dj.Manual):
    definition = """
    confirm_id : int
    ---
    -> Shipment2
    unique index (shipment_id)
    confirm_date : date
    """

In [ ]:
dj.Diagram(schema)

# Two ways to model hierarchies

## Approach 1: Simple primary keys with secondary dependencies

In [ ]:
@schema
class Subject(dj.Manual):
    definition = """
    # Experiment Subject
    subject_id : int
    ---
    species = 'mouse' : enum('human', 'mouse', 'rat', 'worm')
    sex : enum('F', 'M', 'unknown')
    """

In [ ]:
Subject()

In [ ]:
@schema
class Session(dj.Manual):
    definition = """
    -> Subject
    session : int
    ---
    session_timestamp = CURRENT_TIMESTAMP : timestamp
    """

In [ ]:
Session.insert1(dict(session_id=1, subject_id=2), skip_duplicates=True)
Session.insert1(dict(session_id=2, subject_id=2), skip_duplicates=True)
Session.insert1(dict(session_id=3, subject_id=3), skip_duplicates=True)

In [ ]:
Session()

In [ ]:
@schema
class Scan(dj.Manual):
    definition = """
    -> Session
    scan_id : int
    ---
    laser_power : float  # mW
    """

In [ ]:
Scan()

In [ ]:
Scan.insert1(dict(scan_id=1, session_id=1, laser_power=3200))

In [ ]:
@schema
class Cell(dj.Manual):
    definition = """
    -> Scan
    cell_id : int
    ---
    cell_type : enum('E', 'I')   # excitatory or inhibitory
    """

In [ ]:
dj.Diagram(schema)

In [ ]:
@schema
class Subject2(dj.Manual):
    definition = """
    # Experiment Subject
    subject_id : int
    ---
    species = 'mouse' : enum('human', 'mouse', 'rat', 'worm')
    sex : enum('F', 'M', 'unknown')
    """

@schema
class Session2(dj.Manual):
    definition = """
    session : int
    ---
    -> Subject2
    session_timestamp = CURRENT_TIMESTAMP : timestamp
    """
    
@schema
class Scan2(dj.Manual):
    definition = """
    scan_id : int
    ---
    -> Session2
    laser_power : float  # mW
    """
    
@schema
class Cell2(dj.Manual):
    definition = """
    cell_id : int
    ---
    -> Scan2
    cell_type : enum('E', 'I')   # excitatory or inhibitory
    """

In [ ]:
dj.Diagram(schema)

In [ ]:
Cell.insert1(dict(cell_id=1, scan_id=1, cell_type="E"))

In [ ]:
Cell()

In [ ]:
# Give me cells for subject_id=1

Cell & (Scan & (Session & 'subject_id=2'))

In [ ]:
# Give me cells for all males

(Cell & (Scan & (Session & (Subject & 'sex="M"')))).make_sql()

In [ ]:
dj.Diagram(schema)

## Composite primary keys with primary dependencies

In [ ]:
schema = dj.schema('dimitri_hieararchy2')
schema.drop()
schema = dj.schema('dimitri_hieararchy2')

In [ ]:
@schema
class Subject(dj.Manual):
    definition = """
    # Experiment Subject
    subject_id : int
    ---
    species = 'mouse' : enum('human', 'mouse', 'rat')
    sex : enum('F', 'M', 'unknown')
    """
    
@schema
class Session(dj.Manual):
    definition = """
    -> Subject
    session_id : int
    ---
    session_timestamp = CURRENT_TIMESTAMP : timestamp
    """
    
@schema
class Scan(dj.Manual):
    definition = """
    -> Session
    scan_id : int
    ---
    laser_power : float  # mW
    """
    
@schema
class Cell(dj.Manual):
    definition = """
    -> Scan
    cell_id : int
    ---
    cell_type : enum('E', 'I')   # excitatory or inhibitory
    """

In [ ]:
dj.Diagram(schema)

In [ ]:
Subject()

In [ ]:
Session()

In [ ]:
Scan()

In [ ]:
Cell()

In [ ]:
# Give me cells for subject_id=1

Cell & 'subject_id=1'

In [ ]:
# Give me cells for all males

(Cell & (Subject & 'sex="M"')).make_sql()

In [ ]:
Cell * Subject

# Parameterization

In [ ]:
@schema
class Image(dj.Manual):
    definition = """
    image_id : int
    ---
    image : longblob
    """

In [ ]:
@schema
class EnhanceMethod(dj.Lookup):
    definition = """
    enhance_method : int
    ---
    method_name : varchar(16)
    """
    
    contents = ((1, "sharpen"), (2, "contrast"))

In [ ]:
@schema
class EnhancedImage(dj.Manual):
    definition = """
    -> Image
    -> EnhanceMethod
    ---
    enhanced_image : longblob
    """

In [ ]:
dj.Diagram(schema)

# Association 

Books and authors

Checking accounts and account owners

In [ ]:
@schema
class Book(dj.Manual):
    definition = """
    isbn : int
    ---
    title : varchar(300)
    """

In [ ]:
@schema
class Author(dj.Manual):
    definition = """
    author_id : int
    ---
    name : varchar(300)
    """

In [ ]:
@schema
class AuthorBook(dj.Manual):
    definition = """
    -> Author
    -> Book
    ---
    order : tinyint unsigned 
    unique index(book_id, order)
    """

In [ ]:
dj.Diagram(schema)

# Generalization / specialization

Employee, student, instructor

In [ ]:
@schema
class Person(dj.Manual):
    definition = """
    person_id : int
    ---
    date_of_birth : date
    gender : enum("male", "female", "unknown")
    """

In [ ]:
@schema
class Employee(dj.Manual):
    definition = """
    -> Person
    ---
    hire_date : date    
    """
    
@schema
class Instructor(dj.Manual):
    definition = """
    -> Employee
    ---
    department : varchar(30)
    """
    
@schema
class Student(dj.Manual):
    definition = """
    -> Person
    ---
    admission_date : date
    """

In [ ]:
dj.Diagram(schema)

# Directed graphs

In [ ]:
@schema
class Manager(dj.Manual):
    definition = """
    -> Employee
    ---
    -> Employee.proj(manager_id="person_id")
    """

In [ ]:
dj.Diagram(schema)

In [ ]:
Manager.drop()

In [ ]:
Employee()

In [ ]:
Manager()

```sql

CREATE TABLE managed_by (
   person_id : int NOT NULL,
   manager_id : int NOT NULL,
   
   PRIMARY KEY (person_id),
   
   FOREIGN KEY (person_id) REFERENCES employee (person_id),
   FOREIGN KEY (manager_id) reference employee (person_id))

# Undirected graphs

In [ ]:
# direcated friendship = full directed graph capability
@schema
class Friendship(dj.Manual):
    definition = """
    -> Person.proj(friend1 = "person_id")
    -> Person.proj(friend2 = "person_id")
    """

In [ ]:
dj.Diagram(schema)

In [ ]:
Friend.drop()

In [ ]:
@schema
class Relationship(dj.Manual):
    definition = """
    relationship_id : int
    """
    
    class Friend(dj.Part): 
        definition = """
        -> Relationship
        role : enum('one', 'two')
        ---
        -> Person
        """

In [ ]:
@schema
class Order(dj.Manual):
    definition = """
    order_id : int
    ---
    order_date : date
    """
    
    class Item(dj.Part):
        definition = """
        -> master
        order_item : int
        ---
        
        """

# Puzzle: 
Cities and states

In [ ]:
@schema
class State(dj.Manual):
    definition = """
    state : char (2)
    ---
    state_name : varchar(30)
    """
    
@schema
class City(dj.Manual):
    definition = """
    -> State
    city_name : varchar(30)
    """
    
@schema
class Capital(dj.Manual):
    definition = """
    -> State
    ---
    -> City
    """

In [ ]:
dj.Diagram(schema)

# In SQL 

```sql
CREATE TABLE state (
    state char(2) NOT NULL,
    state_name varchar(30) NOT NULL,
    PRIMARY KEY (state))
    
CREATE TABLE city (
    state char(2) NOT NULL,
    city_name varchar(30) NOT NULL,
    PRIMARY KEY (state, city_name),
    FOREIGN KEY (state) REFERENCES state(state))

CREATE TABLE capital (
    state char(2) NOT NULL,
    city_name varchar(30) NOT NULL,
    PRIMARY KEY (state),
    FOREIGN KEY (state, city_name) REFERENCES city (state, city_name))
```

In [ ]:

```sql
CREATE TABLE state (
    state char(2),
    state_name varchar(30),
    capital varchar(30),
    PRIMARY KEY (state),
    FOREIGN KEY (state, capital) REFERENCES city (state, city_name))
    
CREATE TABLE city (
    state char(2),
    city_name varchar(30),
    PRIMARY KEY (state, city_name))
    FOREIGN KEY (state) REFERENCES state(state)
```

# In SQL 

```sql
CREATE TABLE state (
    state char(2) NOT NULL,
    state_name varchar(30) NOT NULL,
    PRIMARY KEY (state))
    
CREATE TABLE city (
    city_id int NOT NULL,
    state char(2) NOT NULL,
    city_name varchar(30) NOT NULL,
    is_capital enum('yes'),
    PRIMARY KEY (state_id),
    UNIQUE INDEX(state, is_capital),
    FOREIGN KEY (state) REFERENCES state(state))
```