# Enrollment database

## Connect to the database server
Using SQL magic

In [1]:
import json
import pymysql 

pymysql.install_as_MySQLdb()

with open('cred.json') as f:
    creds = json.load(f)

connection_string = "mysql://{user}:{password}@{host}".format(**creds)

In [2]:
%load_ext sql
%config SqlMagic.autocommit=True
%sql $connection_string

In [3]:
%%sql

create database if not exists dimitri_enroll;

 * mysql://dimitri:***@db.ust-data-sci.net
0 rows affected.

[]

In [4]:
%%sql

use dimitri_enroll;

show tables;

 * mysql://dimitri:***@db.ust-data-sci.net
0 rows affected.
2 rows affected.

[('Course',), ('Person',)]

In [5]:
%%sql

create table Person (
    person_id int unsigned not null,
    name varchar(30) not null,
    major varchar(30),
    primary key(person_id)
)

 * mysql://dimitri:***@db.ust-data-sci.net
(pymysql.err.OperationalError) (1050, "Table 'Person' already exists")
[SQL: create table Person (
    person_id int unsigned not null,
    name varchar(30) not null,
    major varchar(30),
    primary key(person_id)
)]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [6]:
%%sql

create table Course(
    course_number char(8) not null, 
    course_name varchar(60) not null,
    credit_hours decimal(2, 1) not null,
    department varchar(16) not null,
    primary key(course_number)
)

 * mysql://dimitri:***@db.ust-data-sci.net
(pymysql.err.OperationalError) (1050, "Table 'Course' already exists")
[SQL: create table Course(
    course_number char(8) not null,
    course_name varchar(60) not null,
    credit_hours decimal(2, 1) not null,
    department varchar(16) not null,
    primary key(course_number)
)]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

# Foreign key definitions

A foreign key: a column or several columns in the child table referencing the primary key column(s) in the parent table. 

\* More generally, foreign keys can reference other sets of columns than primary key or even other keys. However, in common practice and in this class foreign keys will always reference the primary key in the referenced table.

## Effects of a foreign key constraint

1. Restrict inserts in the child table
2. Restrict deletes (and updates of primary key values) in the parent table 
3. An index is created in the child table to speed up searches on the foreign key.

As a result, the child table is prevented from having values in its foreign keys columns in the absence of entries in the parent table with matching primary key values.

Importantly, unlike other types of links in other data models, no actual link is created between individual rows of both tables. Referential integrity is maintained by restricting dta manipulations.

In [ ]:
%%sql

create table Section(
    section_number int unsigned not null,
    course_number char(8) not null,
    semester enum('Fall', 'Spring', 'Summer') not null,
    year year not null,

    PRIMARY KEY(section_number),
    UNIQUE INDEX(course_number, semester, year),
    FOREIGN KEY (course_number) REFERENCES Course(course_number))

In [ ]:
%%sql

create table Enrollment(
    person_id int unsigned not null,
    section_number int unsigned not null,
    grade enum('A', 'A-', 'B', 'B+', 'B-', 'C', 'D', 'F'),
    
    PRIMARY KEY(person_id, section_number),
    FOREIGN KEY (person_id) REFERENCES Person(person_id),
    FOREIGN KEY (section_number) REFERENCES Section(section_number)
)

In [ ]:
%%sql

create table Prereq(
    course_number char(8) not null,
    prereq_number char(8) not null,
    
    PRIMARY KEY(course_number, prereq_number),
    FOREIGN KEY (course_number) REFERENCES Course(course_number),
    FOREIGN KEY (prereq_number) REFERENCES Course(course_number))

In [ ]:
%%sql

select * FROM Course;

In [ ]:
%%sql

INSERT INTO Course (course_number, course_name, credit_hours, department) VALUES 
   ('MATH101', 'Basic Arithmetic', '1.0', 'MATH'),
    ('MATH102', 'Fractions', '1.0', 'MATH'),
    ('MATH103', 'Long division', '1.5', 'MATH')

In [ ]:
%%sql
select * FROM Course;

In [ ]:
%%sql
select * FROM Section;

In [ ]:
%%sql 
INSERT INTO Section (section_number, course_number, semester, year) VALUES
    (1, 'MATH101', 'Fall', 2019)

In [ ]:
%%sql 
INSERT INTO Section (section_number, course_number, semester, year) VALUES
    (2, 'MATH101', 'Fall', 2019)

In [ ]:
%%sql 
INSERT INTO Section (section_number, course_number, semester, year) VALUES
    (2, 'MATH101', 'Spring', 2019)

In [ ]:
%%sql 
INSERT INTO Section (section_number, course_number, semester, year) VALUES
    (3, 'MATH104', 'Spring', 2019)

In [ ]:
%%sql 
INSERT INTO Section (section_number, course_number, semester, year) VALUES
    (3, 'MATH102', 'Spring', 2019)

In [ ]:
%%sql

DELETE FROM Course WHERE course_number="MATH105"

In [ ]:
%%sql

DELETE FROM Course WHERE course_number="MATH102"

In [ ]:
%%sql

DELETE FROM Course;

In [ ]:
%%sql

SELECT * FROM Person;

In [ ]:
%%sql

INSERT into Person (person_id, name) VALUES (1, 'Alice'), (2, 'Bob'), (3, 'Carol'), (4, 'David')

In [ ]:
%%sql 

SELECT * FROM Person;

In [ ]:
%%sql

SELECT * FROM Enrollment;

In [ ]:
%%sql 

SELECT * FROM Section;

In [ ]:
%%sql 

SELECT * FROM Enrollment;

In [ ]:
%%sql

INSERT into Enrollment (person_id, section_number) VALUES (1, 1), (1, 2), (2, 1), (2, 2), (1, 3)

In [ ]:
%%sql

INSERT into Enrollment VALUES (4, 1, NULL)

In [ ]:
%%sql

INSERT into Enrollment VALUES (4, 2, 'A')

In [ ]:
%%sql

SELECT * FROM Enrollment;