# Enrollment database

## Connect to the database server
Using SQL magic

In [ ]:
import json
import pymysql 

pymysql.install_as_MySQLdb()

with open('cred.json') as f:
    creds = json.load(f)

connection_string = "mysql://{user}:{password}@{host}".format(**creds)

In [ ]:
%load_ext sql
%config SqlMagic.autocommit=True
%sql $connection_string

In [ ]:
%%sql

create database if not exists dimitri_enroll;

In [ ]:
%%sql

use dimitri_enroll;

show tables;

In [ ]:
%%sql

create table Person (
    person_id int unsigned not null,
    name varchar(30) not null,
    major varchar(30),
    primary key(person_id)
)

In [ ]:
%%sql

create table Course(
    course_number char(8) not null, 
    course_name varchar(60) not null,
    credit_hours decimal(2, 1) not null,
    department varchar(16) not null,
    primary key(course_number)
)

# Foreign key definitions

A foreign key: set of of columns in the referencing table whose values must match the corresponding column values in a row of the referenced table.

## Effects of a foreign key constraint

1. Insert in the referencing table will fail if the foreign key column contains a value that is not present in the referenced table.
2. Delete in the referenced table will fail if the primary key of the deleted rows has the same value as the foreign key column in a row of the referencing table.
3. An index is created in the referencing table to make searches fast on the foreign key columns.

In [ ]:
%%sql

create table Section(
    section_number int unsigned not null,
    course_number char(8) not null,
    semester enum('Fall', 'Spring', 'Summer') not null,
    year year not null,

    PRIMARY KEY(section_number),
    UNIQUE INDEX(course_number, semester, year),
    FOREIGN KEY (course_number) REFERENCES Course(course_number) ON UPDATE RESTRICT ON DELETE RESTRICT)

In [ ]:
%%sql

create table Enrollment(
    person_id int unsigned not null,
    section_number int unsigned not null,
    grade enum('A', 'A-', 'B', 'B+', 'B-', 'C', 'D', 'F'),
    
    PRIMARY KEY(person_id, section_number),
    FOREIGN KEY (person_id) REFERENCES Person(person_id),
    FOREIGN KEY (section_number) REFERENCES Section(section_number)
)

In [ ]:
%%sql

create table Prereq(
    course_number char(8) not null,
    prereq_number char(8) not null,
    
    PRIMARY KEY(course_number, prereq_number),
    FOREIGN KEY (course_number) REFERENCES Course(course_number),
    FOREIGN KEY (prereq_number) REFERENCES Course(course_number))

In [ ]:
%%sql

select * FROM Course;

In [ ]:
%%sql

INSERT INTO Course (course_number, course_name, credit_hours, department) VALUES 
   ('MATH101', 'Basic Arithmetic', '1.0', 'MATH'),
    ('MATH102', 'Fractions', '1.0', 'MATH'),
    ('MATH103', 'Long division', '1.5', 'MATH')

In [ ]:
%%sql
select * FROM Course;

In [ ]:
%%sql
select * FROM Section;

In [ ]:
%%sql 
INSERT INTO Section (section_number, course_number, semester, year) VALUES
    (1, 'MATH101', 'Fall', 2019)

In [ ]:
%%sql 
INSERT INTO Section (section_number, course_number, semester, year) VALUES
    (2, 'MATH101', 'Fall', 2019)

In [ ]:
%%sql 
INSERT INTO Section (section_number, course_number, semester, year) VALUES
    (2, 'MATH101', 'Spring', 2019)

In [ ]:
%%sql 
INSERT INTO Section (section_number, course_number, semester, year) VALUES
    (3, 'MATH104', 'Spring', 2019)

In [ ]:
%%sql 
INSERT INTO Section (section_number, course_number, semester, year) VALUES
    (3, 'MATH102', 'Spring', 2019)

In [ ]:
%%sql

DELETE FROM Course WHERE course_number="MATH105"

In [ ]:
%%sql

DELETE FROM Course WHERE course_number="MATH102"

In [ ]:
%%sql

DELETE FROM Course;

In [ ]:
%%sql

SELECT * FROM Person;

In [ ]:
%%sql

INSERT into Person (person_id, name) VALUES (1, 'Alice'), (2, 'Bob'), (3, 'Carol'), (4, 'David')

In [ ]:
%%sql 

SELECT * FROM Person;

In [ ]:
%%sql

SELECT * FROM Enrollment;

In [ ]:
%%sql 

SELECT * FROM Section;

In [ ]:
%%sql 

SELECT * FROM Enrollment;

In [ ]:
%%sql

INSERT into Enrollment (person_id, section_number) VALUES (1, 1), (1, 2), (2, 1), (2, 2), (1, 3)

In [ ]:
%%sql

INSERT into Enrollment VALUES (4, 1, NULL)

In [ ]:
%%sql

INSERT into Enrollment VALUES (4, 2, 'A')

In [ ]:
%%sql

SELECT * FROM Enrollment;