In [1]:
from faker import Faker

In [2]:
faker = Faker()

In [3]:
faker.catch_phrase()

'Synergized web-enabled orchestration'

In [4]:
faker.color_name()

'Green'

In [5]:
print(faker.credit_card_full())

Diners Club / Carte Blanche
Laurie Duffy
30443652750544 11/21
CVC: 423

In [6]:
faker.date_of_birth()

datetime.date(1924, 10, 30)

In [7]:
help(faker.ean13)

Help on method ean13 in module faker.providers.barcode.en_US:

ean13(leading_zero=None, prefixes=()) method of faker.providers.barcode.en_US.Provider instance
    Generate an EAN-13 barcode.

    If ``leading_zero`` is ``True``, the leftmost digit of the barcode will
    be set to ``0``. If ``False``, the leftmost digit cannot be ``0``. If
    ``None`` (default), the leftmost digit can be any digit.

    If a value for ``prefixes`` is specified, the result will begin with one
    of the sequences in ``prefixes`` and will ignore ``leading_zero``.

    This method uses the standard barcode provider's |ean13| under the
    hood with the ``prefixes`` argument set to the correct value to attain
    the behavior described above.

    .. note::
       EAN-13 barcode that starts with a zero can be converted to UPC-A
       by dropping the leading zero. This may cause problems with readers
       that treat all of these code as UPC-A codes and drop the first digit
       when reading it.

       You can set the argument ``prefixes`` ( or ``leading_zero`` for
       convenience) explicitly to avoid or to force the generated barcode to
       start with a zero. You can also generate actual UPC-A barcode with
       |EnUsBarcodeProvider.upc_a|.

    :sample:
    :sample: leading_zero=False
    :sample: leading_zero=True
    :sample: prefixes=('00',)
    :sample: prefixes=('45', '49')

In [8]:
faker.phone_number()

'001-486-907-7031x050'

In [9]:
print(faker.paragraph())

International event try pass plant by. Mention message yet leg carry measure son recently. Benefit decide everybody fear add despite.

In [10]:
faker.license_plate()

'93Qâ€¢104'

In [11]:
faker.street_address()

'8243 Alexandra Motorway Suite 428'

In [12]:
faker.coordinate()

Decimal('45.258473')

In [13]:
dir(faker)

['__class__',
 '__deepcopy__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_factories',
 '_factory_map',
 '_locales',
 '_map_provider_method',
 '_select_factory',
 '_unique_proxy',
 '_weights',
 'aba',
 'add_provider',
 'address',
 'administrative_unit',
 'am_pm',
 'android_platform_token',
 'ascii_company_email',
 'ascii_email',
 'ascii_free_email',
 'ascii_safe_email',
 'bank_country',
 'bban',
 'binary',
 'boolean',
 'bothify',
 'bs',
 'building_number',
 'cache_pattern',
 'catch_phrase',
 'century',
 'chrome',
 'city',
 'city_prefix',
 'city_suffix',
 'color',
 'color_name',
 'company',
 'company_email',
 'company_suffix',
 'coordinate',
 'country',
 'country_calling_code',
 'country_code',
 'credit_card_expire',
 'credit_card_full',
 'credit_card_number',
 'credit_card_provider',
 'credit_card_security_code',
 'cryptocurrency',
 'cryptocurrency_code',
 'cryptocurrency_name',
 'csv',
 'currency',
 'currency_code',
 'currency_name',
 'currency_symbol',
 'current_country',
 'current_country_code',
 'date',
 'date_between',
 'date_between_dates',
 'date_object',
 'date_of_birth',
 'date_this_century',
 'date_this_decade',
 'date_this_month',
 'date_this_year',
 'date_time',
 'date_time_ad',
 'date_time_between',
 'date_time_between_dates',
 'date_time_this_century',
 'date_time_this_decade',
 'date_time_this_month',
 'date_time_this_year',
 'day_of_month',
 'day_of_week',
 'del_arguments',
 'dga',
 'domain_name',
 'domain_word',
 'dsv',
 'ean',
 'ean13',
 'ean8',
 'ein',
 'email',
 'factories',
 'file_extension',
 'file_name',
 'file_path',
 'firefox',
 'first_name',
 'first_name_female',
 'first_name_male',
 'first_name_nonbinary',
 'fixed_width',
 'format',
 'free_email',
 'free_email_domain',
 'future_date',
 'future_datetime',
 'generator_attrs',
 'get_arguments',
 'get_formatter',
 'get_providers',
 'hex_color',
 'hexify',
 'hostname',
 'http_method',
 'iana_id',
 'iban',
 'image',
 'image_url',
 'internet_explorer',
 'invalid_ssn',
 'ios_platform_token',
 'ipv4',
 'ipv4_network_class',
 'ipv4_private',
 'ipv4_public',
 'ipv6',
 'isbn10',
 'isbn13',
 'iso8601',
 'items',
 'itin',
 'job',
 'json',
 'language_code',
 'language_name',
 'last_name',
 'last_name_female',
 'last_name_male',
 'last_name_nonbinary',
 'latitude',
 'latlng',
 'lexify',
 'license_plate',
 'linux_platform_token',
 'linux_processor',
 'local_latlng',
 'locale',
 'locales',
 'localized_ean',
 'localized_ean13',
 'localized_ean8',
 'location_on_land',
 'longitude',
 'mac_address',
 'mac_platform_token',
 'mac_processor',
 'md5',
 'military_apo',
 'military_dpo',
 'military_ship',
 'military_state',
 'mime_type',
 'month',
 'month_name',
 'msisdn',
 'name',
 'name_female',
 'name_male',
 'name_nonbinary',
 'nic_handle',
 'nic_handles',
 'null_boolean',
 'numerify',
 'opera',
 'paragraph',
 'paragraphs',
 'parse',
 'password',
 'past_date',
 'past_datetime',
 'phone_number',
 'port_number',
 'postalcode',
 'postalcode_in_state',
 'postalcode_plus4',
 'postcode',
 'postcode_in_state',
 'prefix',
 'prefix_female',
 'prefix_male',
 'prefix_nonbinary',
 'pricetag',
 'profile',
 'provider',
 'providers',
 'psv',
 'pybool',
 'pydecimal',
 'pydict',
 'pyfloat',
 'pyint',
 'pyiterable',
 'pylist',
 'pyset',
 'pystr',
 'pystr_format',
 'pystruct',
 'pytimezone',
 'pytuple',
 'random',
 'random_choices',
 'random_digit',
 'random_digit_not_null',
 'random_digit_not_null_or_empty',
 'random_digit_or_empty',
 'random_element',
 'random_elements',
 'random_int',
 'random_letter',
 'random_letters',
 'random_lowercase_letter',
 'random_number',
 'random_sample',
 'random_uppercase_letter',
 'randomize_nb_elements',
 'rgb_color',
 'rgb_css_color',
 'ripe_id',
 'safari',
 'safe_color_name',
 'safe_domain_name',
 'safe_email',
 'safe_hex_color',
 'secondary_address',
 'seed',
 'seed_instance',
 'seed_locale',
 'sentence',
 'sentences',
 'set_arguments',
 'set_formatter',
 'sha1',
 'sha256',
 'simple_profile',
 'slug',
 'ssn',
 'state',
 'state_abbr',
 'street_address',
 'street_name',
 'street_suffix',
 'suffix',
 'suffix_female',
 'suffix_male',
 'suffix_nonbinary',
 'swift',
 'swift11',
 'swift8',
 'tar',
 'text',
 'texts',
 'time',
 'time_delta',
 'time_object',
 'time_series',
 'timezone',
 'tld',
 'tsv',
 'unique',
 'unix_device',
 'unix_partition',
 'unix_time',
 'upc_a',
 'upc_e',
 'uri',
 'uri_extension',
 'uri_page',
 'uri_path',
 'url',
 'user_agent',
 'user_name',
 'uuid4',
 'weights',
 'windows_platform_token',
 'word',
 'words',
 'year',
 'zip',
 'zipcode',
 'zipcode_in_state',
 'zipcode_plus4']

In [14]:
faker.words(4)

['indeed', 'maintain', 'energy', 'do']

## Learn about Cursors

In [15]:
import json
with open('cred.json') as f:
    creds = json.load(f)

In [16]:
list(creds)

['host', 'user', 'password']

In [17]:
import pymysql

# establish a database connection
conn = pymysql.connect(host=creds['host'], user=creds['user'], passwd=creds['password'])

In [21]:
cursor = conn.cursor(cursor=pymysql.cursors.DictCursor)

In [22]:
cursor.execute("""
CREATE SCHEMA dimitri_test
""")

ProgrammingError: (1007, "Can't create database 'dimitri_test'; database exists")

In [23]:
cursor.execute("""
CREATE TABLE dimitri_test.fake_person(
person_id int not NULL,
first_name varchar(30) NOT NULL,
last_name varchar(30) NOT NULL,
date_of_birth date NOT NULL,
primary key(person_id)
)
"""
)

0

In [24]:
# insert 
cursor.execute("""INSERT INTO dimitri_test.fake_person (person_id, first_name, last_name, date_of_birth) VALUES
(%s, %s, %s, %s)
""", (1, faker.first_name(), faker.last_name(), faker.date_of_birth()))

1

In [25]:
for i in range(2, 100):
    cursor.execute("""
    INSERT INTO 
    dimitri_test.fake_person (person_id, first_name, last_name, date_of_birth) 
    VALUES (%s, %s, %s, %s)
    """, (i, faker.first_name(), faker.last_name(), faker.date_of_birth()))

In [26]:
cursor.execute("""
DROP TABLE dimitri_test.fake_person
""")

0

In [27]:
import datetime

In [28]:
cursor.execute("""use dimitri_test""")

0

In [30]:
cursor.execute("""SELECT * FROM fake_person""")

ProgrammingError: (1146, "Table 'dimitri_test.fake_person' doesn't exist")

In [31]:
cursor.fetchone()

In [32]:
cursor.fetchall()

()

In [33]:
cursor.execute("""SELECT * FROM dimitri_test.fake_person""")
for rec in cursor:
    print(rec)

ProgrammingError: (1146, "Table 'dimitri_test.fake_person' doesn't exist")

In [ ]:
import datetime

In [ ]:
faker.date_between(datetime.date(2018, 2, 3), 'today')

In [ ]:
cursor.execute("""
drop table fake_death
""")

In [ ]:
cursor.execute("""
CREATE TABLE dimitri_test.fake_death(
    person_id int not null,
    date_of_death date NOT NULL,
    primary key(person_id), 
    foreign key (person_id) REFERENCES dimitri_test.fake_person (person_id))
""")

In [ ]:
cursor.execute("""
CREATE TABLE hotel_reserviation(
    
    hotel varchar(20) not null
    room  int not null,
    reservation_date date,
    person_id int not null,
    
    unique index (person_id, reservation_date),    
    primary key (hotel, room, reservation_date),
    foreign key (person_id) references fake_person(person_id)
""")

In [ ]:
cursor.execute("""
CREATE TABLE bank_account (
    
    bank_id  int not null, 
    account int not null,
    
    primary key(bank_id, account)

""")

cursor.execute("""
CREATE TABLE bank_account_owner (
    
    bank_id  int not null, 
    account int not null,
    person_id int not null,
    
    primary key(bank_id, account, person_id),
    foreign key (person_id) references fake_person(person_id),
    foreign key (bank_id, account) references fake_person(bank_id, account),

""")

In [ ]:
cursor.execute("""
SELECT * FROM fake_person
""")
cursor.fetchone()

In [ ]:
cursor.execute("""INSERT into fake_death (date_of_death) values ('2020-10-09')""")

In [ ]:
cursor.execute("""INSERT into fake_death (person_id, date_of_death) values (1000, '2020-09-09')""")

In [ ]:
persons = cursor.execute("""SELECT person_id, date_of_birth FROM dimitri_test.fake_person""")
for rec in cursor.fetchall():
    cursor.execute("""
    INSERT INTO dimitri_test.fake_death (person_id, date_of_death) VALUES (%s, %s)
    """, (rec['person_id'], faker.date_between(rec['date_of_birth'], rec['date_of_birth'] + datetime.timedelta(days=40000))))

In [ ]:
cursor.execute("""
SELECT first_name, floor(DATEDIFF(date_of_death, date_of_birth)/365.25) as died_at
FROM dimitri_test.fake_person NATURAL JOIN dimitri_test.fake_death""")

for rec in cursor:
    print(rec)

In [ ]:
cursor.execute("""
DROP TABLE dimitri_test.fake_death
""")

In [ ]:
Tuple -> Row
Attribute -> Field/column
Attribute value -> cell
Relation -> Table
Domain -> data type