# Aggregation queries

In this assigment, we will fetch data from a relational database server directly into Python variables. Using these new skills, we will complete the problems from Chapters 12, 13, and 14 in *SQL Queries for Mere Mortals*.

## Concepts

Review the MySQL aggregate functions: https://dev.mysql.com/doc/refman/8.0/en/group-by-functions.html

Three types of queries

1. Aggregation functions with no `GROUP BY` clause produce 1 row. 
2. Aggregation functions combined with a `GROUP BY` clause. The unique key of the result is composed of the columns of the `GROUP BY` clause.
3. Most common pattern: `JOIN` or `LEFT JOIN` of a table pair in a one-to-many relationship, grouped by the primary key of the left table. This aggregates the right entity set with respect to the left entity set. 

Note that MySQL with the default settings allows mixing aggregated and non-aggregated values (See https://dev.mysql.com/doc/refman/5.7/en/sql-mode.html#sqlmode_only_full_group_by). So you have to watch avoid invalid mixes of values.

Using `HAVING` is equivalent to using a `WHERE` clause in an outer query.

# Aggregation Queries

Queries using aggregation functions, `GROUP BY`, and `HAVING` clauses. Using `LEFT JOIN` in combination with `GROUP BY`

In [1]:
import json
import pymysql 

pymysql.install_as_MySQLdb()

with open('cred.json') as f:
    creds = json.load(f)

connection_string = "mysql://{user}:{password}@{host}".format(**creds)

In [2]:
%load_ext sql
%config SqlMagic.autocommit=True
%sql $connection_string

### Increasing complexity of queries

In [3]:
%%sql

USE shared_sales

 * mysql://dimitri:***@db.ust-db.link
0 rows affected.

[]

## Aggregation functions MAX, MIN, AVG, SUM, COUNT

In [17]:
%%sql
-- show the max retail price and the average retail price of products

SELECT COUNT(*) AS n, MAX(retail_price) max_price, AVG(retail_price) avg_price 
FROM product

 * mysql://dimitri:***@db.ust-db.link
1 rows affected.

[(40, Decimal('1800.00'), Decimal('196.033500'))]

In [8]:
%%sql

SELECT * 
FROM product;

 * mysql://dimitri:***@db.ust-db.link
40 rows affected.

[(1, 'Trek 9000 Mountain Bike', '', Decimal('1200.00'), 6, 2),
 (2, 'Eagle FS-3 Mountain Bike', '', Decimal('1800.00'), 8, 2),
 (3, 'Dog Ear Cyclecomputer', '', Decimal('75.00'), 20, 1),
 (4, 'Victoria Pro All Weather Tires', '', Decimal('54.95'), 20, 4),
 (5, 'Dog Ear Helmet Mount Mirrors', '', Decimal('7.45'), 12, 1),
 (6, 'Viscount Mountain Bike', '', Decimal('635.00'), 5, 2),
 (7, 'Viscount C-500 Wireless Bike Computer', '', Decimal('49.00'), 30, 1),
 (8, 'Kryptonite Advanced 2000 U-Lock', '', Decimal('50.00'), 20, 1),
 (9, 'Nikoma Lok-Tight U-Lock', '', Decimal('33.00'), 12, 1),
 (10, 'Viscount Microshell Helmet', '', Decimal('36.00'), 20, 1),
 (11, 'GT RTS-2 Mountain Bike', '', Decimal('1650.00'), 5, 2),
 (12, 'Shinoman 105 SC Brakes', '', Decimal('23.50'), 16, 4),
 (13, 'Shinoman Dura-Ace Headset', '', Decimal('67.50'), 20, 4),
 (14, 'Eagle SA-120 Clipless Pedals', '', Decimal('139.95'), 20, 4),
 (15, 'ProFormance Toe-Klips 2G', '', Decimal('4.99'), 40, 4),
 (16, 'ProFormance ATB All-Terrain Pedal', '', Decimal('28.00'), 40, 4),
 (17, 'Shinoman Deluxe TX-30 Pedal', '', Decimal('45.00'), 60, 4),
 (18, 'Viscount CardioSport Sport Watch', '', Decimal('179.00'), 12, 1),
 (19, 'Viscount Tru-Beat Heart Transmitter', '', Decimal('47.00'), 20, 1),
 (20, 'Dog Ear Monster Grip Gloves', '', Decimal('15.00'), 30, 1),
 (21, 'Dog Ear Aero-Flow Floor Pump', '', Decimal('55.00'), 25, 1),
 (22, "Pro-Sport 'Dillo Shades", '', Decimal('82.00'), 18, 1),
 (23, 'Ultra-Pro Rain Jacket', '', Decimal('85.00'), 30, 3),
 (24, 'StaDry Cycling Pants', '', Decimal('69.00'), 22, 3),
 (25, 'King Cobra Helmet', '', Decimal('139.00'), 30, 1),
 (26, 'Glide-O-Matic Cycling Helmet', '', Decimal('125.00'), 24, 1),
 (27, 'X-Pro All Weather Tires', '', Decimal('24.00'), 20, 6),
 (28, 'Turbo Twin Tires', '', Decimal('29.00'), 18, 6),
 (29, 'Ultra-2K Competition Tire', '', Decimal('34.00'), 22, 6),
 (30, 'Clear Shade 85-T Glasses', '', Decimal('45.00'), 14, 1),
 (31, 'True Grip Competition Gloves', '', Decimal('22.00'), 20, 1),
 (32, 'Kool-Breeze Rocket Top Jersey', '', Decimal('32.00'), 12, 3),
 (33, 'Wonder Wool Cycle Socks', '', Decimal('19.00'), 30, 3),
 (34, 'TransPort Bicycle Rack', '', Decimal('27.00'), 14, 1),
 (35, 'HP Deluxe Panniers', '', Decimal('39.00'), 10, 1),
 (36, 'Cosmic Elite Road Warrior Wheels', '', Decimal('165.00'), 22, 4),
 (37, 'AeroFlo ATB Wheels', '', Decimal('189.00'), 40, 4),
 (38, 'Cycle-Doc Pro Repair Stand', '', Decimal('166.00'), 12, 1),
 (39, 'Road Warrior Hitch Pack', '', Decimal('175.00'), 6, 5),
 (40, 'Ultimate Export 2G Car Rack', '', Decimal('180.00'), 8, 5)]

In [ ]:
%%sql

SELECT ProductNumber, MAX(RetailPrice) as max_price, AVG(RetailPrice) as avg_price 
FROM Products

In [25]:
%%sql

-- aggregation with condition

SELECT AVG(retail_price) as avg_price 
FROM product 
WHERE category_id NOT IN (
    SELECT category_id 
    FROM category
    WHERE category_description = "Bikes")

 * mysql://dimitri:***@db.ust-db.link
1 rows affected.

[(Decimal('71.009444'),)]

In [26]:
%%sql
-- show products above average price
-- The following does NOT work

SELECT * 
FROM products 
WHERE retail_price > avg(retail_price)

 * mysql://dimitri:***@db.ust-db.link
(pymysql.err.ProgrammingError) (1146, "Table 'shared_sales.products' doesn't exist")
[SQL: -- show products above average price
-- The following does NOT work

SELECT *
FROM products
WHERE retail_price > avg(retail_price)]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [28]:
%%sql
-- show products above average price
-- Use a scalar subquery

SELECT * 
FROM product 
WHERE retail_price > (SELECT avg(retail_price) FROM product)

 * mysql://dimitri:***@db.ust-db.link
4 rows affected.

[(1, 'Trek 9000 Mountain Bike', '', Decimal('1200.00'), 6, 2),
 (2, 'Eagle FS-3 Mountain Bike', '', Decimal('1800.00'), 8, 2),
 (6, 'Viscount Mountain Bike', '', Decimal('635.00'), 5, 2),
 (11, 'GT RTS-2 Mountain Bike', '', Decimal('1650.00'), 5, 2)]

In [30]:
%%sql

-- what not to do:

SELECT *
FROM product
GROUP BY category_id

 * mysql://dimitri:***@db.ust-db.link
6 rows affected.

[(1,), (2,), (3,), (4,), (5,), (6,)]

In [31]:
%%sql

-- this is good

SELECT category_id
FROM product
GROUP BY category_id

 * mysql://dimitri:***@db.ust-db.link
6 rows affected.

[(1,), (2,), (3,), (4,), (5,), (6,)]

In [32]:
%%sql

SELECT DISTINCT category_id
FROM product

 * mysql://dimitri:***@db.ust-db.link
6 rows affected.

[(1,), (2,), (3,), (4,), (5,), (6,)]

In [36]:
%%sql

SELECT category_id, count(*) as n, ROUND(AVG(retail_price), 2) as avg_price
FROM product
GROUP BY category_id

 * mysql://dimitri:***@db.ust-db.link
6 rows affected.

[(1, 18, Decimal('66.19')),
 (2, 4, Decimal('1321.25')),
 (3, 4, Decimal('51.25')),
 (4, 9, Decimal('79.77')),
 (5, 2, Decimal('177.50')),
 (6, 3, Decimal('29.00'))]

In [40]:
%%sql 

-- using in a subquery

SELECT * FROM (
    SELECT category_id, AVG(retail_price) as avg_price
    FROM product
    GROUP BY category_id) as _ NATURAL JOIN category

 * mysql://dimitri:***@db.ust-db.link
6 rows affected.

[(1, Decimal('66.191667'), 'Accessories'),
 (2, Decimal('1321.250000'), 'Bikes'),
 (3, Decimal('51.250000'), 'Clothing'),
 (4, Decimal('79.765556'), 'Components'),
 (5, Decimal('177.500000'), 'Car racks'),
 (6, Decimal('29.000000'), 'Tires')]

In [44]:
%%sql 

-- pre-join before group

SELECT category_id, category_description, avg(retail_price) as avg_price 
FROM category NATURAL LEFT JOIN product
GROUP BY category_id

 * mysql://dimitri:***@db.ust-db.link
6 rows affected.

[(1, 'Accessories', Decimal('66.191667')),
 (2, 'Bikes', Decimal('1321.250000')),
 (3, 'Clothing', Decimal('51.250000')),
 (4, 'Components', Decimal('79.765556')),
 (5, 'Car racks', Decimal('177.500000')),
 (6, 'Tires', Decimal('29.000000'))]

In [59]:
%%sql

-- show number of products in each  category with retail price > 100.00

SELECT category.*, count(*) as n
FROM category NATURAL LEFT JOIN product 
WHERE retail_price > 100
GROUP BY category_id

 * mysql://dimitri:***@db.ust-db.link
4 rows affected.

[(1, 'Accessories', 4),
 (2, 'Bikes', 4),
 (4, 'Components', 3),
 (5, 'Car racks', 2)]

In [58]:
%%sql 

SELECT category.*, count(product_number) as number_of_products
FROM category NATURAL LEFT JOIN (
    SELECT * FROM product WHERE retail_price > 100) as _
GROUP BY category_id

 * mysql://dimitri:***@db.ust-db.link
6 rows affected.

[(1, 'Accessories', 4),
 (2, 'Bikes', 4),
 (3, 'Clothing', 0),
 (4, 'Components', 3),
 (5, 'Car racks', 2),
 (6, 'Tires', 0)]

In [65]:
%%sql

-- show the number of orders placed by each customer

SELECT customer_id, count(order_number) as number_of_orders
FROM customer NATURAL LEFT JOIN `order` 
GROUP BY customer_id

 * mysql://dimitri:***@db.ust-db.link
28 rows affected.

[(1001, 44),
 (1002, 40),
 (1003, 35),
 (1004, 39),
 (1005, 40),
 (1006, 27),
 (1007, 36),
 (1008, 31),
 (1009, 37),
 (1010, 32),
 (1011, 33),
 (1012, 39),
 (1013, 36),
 (1014, 41),
 (1015, 29),
 (1016, 38),
 (1017, 44),
 (1018, 26),
 (1019, 23),
 (1020, 37),
 (1021, 42),
 (1022, 20),
 (1023, 25),
 (1024, 41),
 (1025, 41),
 (1026, 35),
 (1027, 33),
 (1028, 0)]

In [85]:
%%sql

-- show all customers who have placed over 40 orders since the start of 2016

SELECT * FROM (
    SELECT customer_id, count(order_number) as number_of_orders
    FROM customer NATURAL LEFT JOIN `order` 
    WHERE order_date > "2016-01-01"
    GROUP BY customer_id) as _
WHERE number_of_orders > 40

 * mysql://dimitri:***@db.ust-db.link
6 rows affected.

[(1001, 44), (1014, 41), (1017, 44), (1021, 42), (1024, 41), (1025, 41)]

In [87]:
%%sql

-- show all customers who have placed over 40 orders since the start of 2016

SELECT customer_id, count(order_number) as number_of_orders
FROM customer NATURAL LEFT JOIN `order` 
WHERE order_date > "2016-01-01"
GROUP BY customer_id
HAVING number_of_orders > 40
ORDER BY number_of_orders

 * mysql://dimitri:***@db.ust-db.link
6 rows affected.

[(1014, 41), (1024, 41), (1025, 41), (1021, 42), (1001, 44), (1017, 44)]

In [96]:
%%sql

-- show the customer who has spent the most money

SELECT customer.*, sum(quoted_price * quantity_ordered) as total
FROM customer NATURAL LEFT JOIN 
   (SELECT * FROM `order` NATURAL JOIN `order__item`) as _
GROUP BY customer_id
ORDER BY total DESC
LIMIT 1

 * mysql://dimitri:***@db.ust-db.link
1 rows affected.

[(1012, 'Liz', 'Keyser', '13920 S.E. 40th Street', 'Bellevue', 'WA', '98006', 425, '555-2556', Decimal('262174.17'))]

In [ ]:
%%sql

-- show averages prices per category categories for products with retail price > 100.00

SELECT Categories.*, AVG(RetailPrice) as avg_price 
FROM Categories NATURAL JOIN Products
GROUP BY CategoryID
HAVING avg_price > 100

In [ ]:
%%sql

-- Categories with the average prices > 100

SELECT * FROM (
    SELECT Categories.*, AVG(RetailPrice) as avg_price 
    FROM Categories NATURAL JOIN Products
    GROUP BY CategoryID) as q
WHERE avg_price > 100

In [ ]:
%%sql

SELECT * FROM (
    SELECT CategoryID, AVG(RetailPrice) as avg_price
    FROM Products
    GROUP BY CategoryID
) as q WHERE avg_price > 100

In [ ]:
%%sql

select * from Products
WHERE RetailPrice > 100

In [ ]:
%%sql
-- show empty orders 

SELECT * 
FROM Orders 
WHERE OrderNumber NOT IN (
    SELECT OrderNumber 
    FROM Order_Details)

In [ ]:
%%sql
-- show empty orders

SELECT Orders.* 
FROM Orders NATURAL LEFT JOIN Order_Details 
WHERE ProductNumber IS NULL

In [ ]:
%%sql

-- bad because mixes aggregated and random 

SELECT * FROM Orders  NATURAL LEFT JOIN Order_Details
GROUP BY OrderNumber

In [ ]:
%%sql

-- show empty orders

SELECT Orders.*, COUNT(ProductNumber) as nitems 
FROM Orders NATURAL LEFT JOIN Order_Details
GROUP BY OrderNumber
HAVING nitems=0

In [ ]:
%%sql

SELECT orders.*, ProductNumber as nitems FROM orders  NATURAL LEFT JOIN order_details

## Example problems

In [ ]:
%%sql

-- Customers and the number of orders that they made

SELECT CustomerID, CustFirstName, CustLastName, count(OrderNumber) as norders
FROM Customers NATURAL LEFT JOIN Orders
GROUP BY CustomerID
ORDER BY norders

In [ ]:
%%sql

-- orders with their total amounts

SELECT OrderNumber, OrderDate, IFNULL(sum(QuotedPrice * QuantityOrdered), 0) as total_amount
FROM Orders NATURAL LEFT JOIN Order_Details 
GROUP BY OrderNumber
ORDER BY total_amount

In [ ]:
%%sql

-- customers and the total $$$ spent

SELECT CustomerID, CustLastName, sum(total_amount) money_spent
FROM customers NATURAL LEFT JOIN (
    SELECT CustomerID, IFNULL(sum(QuotedPrice * QuantityOrdered), 0) as total_amount
    FROM Orders NATURAL LEFT JOIN Order_Details 
    GROUP BY OrderNumber) as q
GROUP BY CustomerID
ORDER BY money_spent DESC

In [ ]:
%%sql

-- customers and the total $$$ spent

SELECT CustomerID, CustLastName, IFNULL(sum(QuotedPrice * QuantityOrdered), 0) money_spent
FROM Customers NATURAL LEFT JOIN (SELECT * FROM Orders NATURAL JOIN Order_Details) as q
GROUP BY CustomerID
ORDER BY money_spent DESC

# Summary of principles 
1. Without a `GROUP BY`, aggregation functions collapse the table into a single row.
2. With `GROUP BY`, the grouping attributes become the new primary key of the result.  
3. Do not mix aggregated and non-aggregated values in the result with or without a `GROUP BY`.
4. `HAVING` plays the same role as the `WHERE` clause in a nesting outer query so it can use the output of the aggregation functions.
5. `LEFT JOIN` is often follwed with a `GROUP BY` by the primary key attributes of the left table. In this scenario the entities in the right table are aggregated for each matching row in the left table.

### Chapter 12 (total aggregation -- no grouping)

In [ ]:
Problem 1. 
“How many customers do we have in the state of California?”

Viescas, John L.. SQL Queries for Mere Mortals (p. 460). Pearson Education. Kindle Edition.

In [ ]:
“What is the average retail price of a mountain bike?” 

Viescas, John L.. SQL Queries for Mere Mortals (p. 467). Pearson Education. Kindle Edition.

In [ ]:
“What was the date of our most recent order?”

Viescas, John L.. SQL Queries for Mere Mortals (p. 467). Pearson Education. Kindle Edition.

In [ ]:
%%sql 
SELECT OrderNumber, OrderDate as latest_Order
FROM Orders
Order By latest_order DESC
LIMIT 1

In [ ]:
%%sql
SELECT max(OrderDate) as last_date 
FROM Orders

In [ ]:
%%sql
-- Where was the Last order to a customer in California

SELECT max(OrderDate) as last_date
FROM Orders
WHERE CustomerID in (SELECT CustomerID FROM Customers WHERE CustState="TX")

### Chapter 13 (aggregation with grouping)

In [ ]:
“Display for each product the product name and the total sales.”

Viescas, John L.. SQL Queries for Mere Mortals (p. 490). Pearson Education. Kindle Edition.

### Chapter 14 (aggregation with grouping and filtering with HAVING)

In [ ]:
“Show me the subject categories that have fewer than three full professors teaching that subject.”

Viescas, John L.. SQL Queries for Mere Mortals (p. 513). Pearson Education. Kindle Edition.

In [ ]:
%%sql
use shared_school

In [ ]:
%%sql

SELECT Categories.*, count(StaffID) as n 
   FROM Categories NATURAL LEFT JOIN (
       SELECT * FROM Faculty_Categories NATURAL JOIN Faculty WHERE Title="Professor") as q
   GROUP BY CategoryID
   HAVING n < 3

In [ ]:
“How many orders are for only one product?”

Viescas, John L.. SQL Queries for Mere Mortals (p. 528). Pearson Education. Kindle Edition.

In [ ]:
%%sql
use shared_sales

In [ ]:
%%sql

SELECT count(*) FROM (
    SELECT Orders.*, count(ProductNumber) as n
       FROM Orders NATURAL LEFT JOIN Order_Details
        GROUP BY OrderNumber
        HAVING n=1) as q

In [ ]:
%%sql

# Homework --- Due Nov 12

## Chapter 12

**Problem 1 (Sales):** Show the total amount of order number 8.
    
    Answer $1492.60

**Problem 2 (School):** List the most senior staff members (earliest hired).
    
    Answer 1 row.

## Chapter 13

**Problem 3 (Sales):** List vendors along with the average number of days they take to deliver the order.
    
    Answer 10 rows.

**Problem 4 (Sales):** List vendors along with the number of products each sells.
    
    Answer 10 rows.

**Problem 5 (School):** List staff members and the number of classes each is scheduled to teach.
    
    Answer 27 rows.

## Chapter 14

**Problem 6 (Sales):** Count the orders that only have one product
    
    1 row

**Problem 7 (School):**  List staff members that teach fewer than three classes
    
    7 rows

**Problem 8 (Recipes):** List recipes that use more than three teaspoons of salt.
    
    1 row

# Aggregations in Datajoint

In [4]:
import datajoint as dj

In [5]:
schema = dj.Schema('shared_sales')
schema.spawn_missing_classes()

Connecting dimitri@db.ust-db.link:3306

In [6]:
dj.Diagram(schema)

In [76]:
Customer.aggr(Order, n='count(order_number)', 
              duration='datediff(max(order_date), min(order_date))') & 'n>30'

*customer_id   n      duration
+------------+ +----+ +----------+
1001           44     179
1002           40     180
1003           35     168
1004           39     177
1005           40     172
1007           36     180
1008           31     172
1009           37     178
1010           32     171
1011           33     179
1012           39     179
1013           36     175
   ...
 (Total: 21)

In [90]:
# show total amount spent by customer

Customer.aggr(Order * Order.Item, 
              spent='sum(quantity_ordered * quoted_price)')

*customer_id   spent
+------------+ +-----------+
1001           34807.96
1002           220811.99
1003           35109.37
1004           222916.60
1005           248250.81
1006           238622.16
1007           169642.87
1008           159776.02
1009           163649.73
1010           186217.65
1011           188026.72
1012           262174.17
   ...
 (Total: 27)

In [88]:
Order.Item()

*order_number  *product_numbe quoted_price   quantity_order
+------------+ +------------+ +------------+ +------------+
1              1              1200.00        2
1              6              635.00         3
1              11             1650.00        4
1              16             28.00          1
1              21             55.00          3
1              26             121.25         5
1              40             174.60         6
2              27             24.00          4
2              40             180.00         4
3              1              1164.00        5
3              6              615.95         5
3              11             1650.00        1
   ...
 (Total: 3973)

In [99]:
dj.U('customer_state').aggr(Customer, n='count(customer_id)')

*customer_stat n
+------------+ +----+
CA             7
OR             4
TX             6
WA             11
 (Total: 4)

In [98]:
Customer()

*customer_id   customer_first customer_last_ customer_stree customer_city  customer_state customer_zipco customer_area_ customer_phone
+------------+ +------------+ +------------+ +------------+ +------------+ +------------+ +------------+ +------------+ +------------+
1001           Suzanne        Viescas        15127 NE 24th, Redmond        WA             98052          425            555-2686
1002           William        Thompson       122 Spring Riv Duvall         WA             98019          425            555-2681
1003           Gary           Hallmark       Route 2, Box 2 Auburn         WA             98002          253            555-2676
1004           Robert         Brown          672 Lamont Ave Houston        TX             77201          713            555-2491
1005           Dean           McCrae         4110 Old Redmo Redmond        WA             98052          425            555-2506
1006           John           Viescas        15127 NE 24th, Redmond        WA             98052          425            555-2511
1007           Mariya         Sergienko      901 Pine Avenu Portland       OR             97208          503            555-2526
1008           Neil           Patterson      233 West Valle San Diego      CA             92199          619            555-2541
1009           Andrew         Cencini        507 - 20th Ave Seattle        WA             98105          206            555-2601
1010           Angel          Kennedy        667 Red River  Austin         TX             78710          512            555-2571
1011           Alaina         Hallmark       Route 2, Box 2 Woodinville    WA             98072          425            555-2631
1012           Liz            Keyser         13920 S.E. 40t Bellevue       WA             98006          425            555-2556
   ...
 (Total: 28)