# Aggregation queries

In this assigment, we will fetch data from a relational database server directly into Python variables. Using these new skills, we will complete the problems from Chapters 12, 13, and 14 in *SQL Queries for Mere Mortals*.

## Concepts

Review the MySQL aggregate functions: https://dev.mysql.com/doc/refman/8.0/en/aggregate-functions.html

Three types of queries

1. Aggregation functions with no `GROUP BY` clause produce 1 row. 
2. Aggregation functions combined with a `GROUP BY` clause. The unique key of the result is composed of the columns of the `GROUP BY` clause.
3. Most common pattern: `JOIN` or `LEFT JOIN` of a table pair in a one-to-many relationship, grouped by the primary key of the left table. This aggregates the right entity set with respect to the left entity set. 

Note that MySQL with the default settings allows mixing aggregated and non-aggregated values (See https://dev.mysql.com/doc/refman/5.7/en/sql-mode.html#sqlmode_only_full_group_by). So you have to watch avoid invalid mixes of values.

Using `HAVING` is equivalent to using a `WHERE` clause in an outer query.

# Aggregation Queries

Queries using aggregation functions, `GROUP BY`, and `HAVING` clauses. Using `LEFT JOIN` in combination with `GROUP BY`

In [1]:
import json
import pymysql 

pymysql.install_as_MySQLdb()

with open('cred.json') as f:
    creds = json.load(f)

connection_string = "mysql://{user}:{password}@{host}".format(**creds)

%load_ext sql
%config SqlMagic.autocommit=True
%sql $connection_string

In [2]:
import datajoint as dj
sales = dj.create_virtual_module('sales', 'shared_sales')
airport = dj.create_virtual_module('airport', 'shared_airport')
dj.Diagram(sales) + dj.Diagram(airport)

[2022-10-19 00:31:07,508][INFO]: Connecting dimitri@db.ust-data-sci.net:3306
[2022-10-19 00:31:08,382][INFO]: Connected dimitri@db.ust-data-sci.net:3306

### Increasing complexity of queries

In [3]:
%%sql

USE shared_sales

 * mysql://dimitri:***@db.ust-data-sci.net
0 rows affected.

[]

## Aggregation functions MAX, MIN, AVG, SUM, COUNT

In [4]:
%%sql

SELECT *
FROM product 
LIMIT 10;

 * mysql://dimitri:***@db.ust-data-sci.net
10 rows affected.

[(1, 'Trek 9000 Mountain Bike', '', Decimal('1200.00'), 6, 2),
 (2, 'Eagle FS-3 Mountain Bike', '', Decimal('1800.00'), 8, 2),
 (3, 'Dog Ear Cyclecomputer', '', Decimal('75.00'), 20, 1),
 (4, 'Victoria Pro All Weather Tires', '', Decimal('54.95'), 20, 4),
 (5, 'Dog Ear Helmet Mount Mirrors', '', Decimal('7.45'), 12, 1),
 (6, 'Viscount Mountain Bike', '', Decimal('635.00'), 5, 2),
 (7, 'Viscount C-500 Wireless Bike Computer', '', Decimal('49.00'), 30, 1),
 (8, 'Kryptonite Advanced 2000 U-Lock', '', Decimal('50.00'), 20, 1),
 (9, 'Nikoma Lok-Tight U-Lock', '', Decimal('33.00'), 12, 1),
 (10, 'Viscount Microshell Helmet', '', Decimal('36.00'), 20, 1)]

In [5]:
%%sql
-- show the max retail price and the average retail price of products

SELECT COUNT(*) AS n, MAX(retail_price) max_price, 
    AVG(retail_price) avg_price 
FROM product

 * mysql://dimitri:***@db.ust-data-sci.net
1 rows affected.

[(40, Decimal('1800.00'), Decimal('196.033500'))]

In [6]:
%%sql

SELECT count(*) n,
MAX(retail_price) max_price, 
AVG(retail_price) avg_price 
FROM product

 * mysql://dimitri:***@db.ust-data-sci.net
1 rows affected.

[(40, Decimal('1800.00'), Decimal('196.033500'))]

In [7]:
%%sql

-- aggregation with condition
-- show the average retail price for non-bikes

SELECT AVG(retail_price) as avg_price 
FROM product 
WHERE category_id NOT IN (
    SELECT category_id 
    FROM category
    WHERE category_description = "Bikes")

 * mysql://dimitri:***@db.ust-data-sci.net
1 rows affected.

[(Decimal('71.009444'),)]

In [8]:
%%sql
-- show products above average price
-- The following does NOT work

SELECT * 
FROM product 
WHERE retail_price > avg(retail_price)

 * mysql://dimitri:***@db.ust-data-sci.net
(pymysql.err.ProgrammingError) (1111, 'Invalid use of group function')
[SQL: -- show products above average price
-- The following does NOT work

SELECT *
FROM product
WHERE retail_price > avg(retail_price)]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [9]:
%%sql
-- show products above average price
-- Use a scalar subquery

SELECT * 
FROM product 
WHERE retail_price > (SELECT avg(retail_price) FROM product)

 * mysql://dimitri:***@db.ust-data-sci.net
4 rows affected.

[(1, 'Trek 9000 Mountain Bike', '', Decimal('1200.00'), 6, 2),
 (2, 'Eagle FS-3 Mountain Bike', '', Decimal('1800.00'), 8, 2),
 (6, 'Viscount Mountain Bike', '', Decimal('635.00'), 5, 2),
 (11, 'GT RTS-2 Mountain Bike', '', Decimal('1650.00'), 5, 2)]

In [10]:
%%sql

-- what not to do:

SELECT *
FROM product
GROUP BY category_id

 * mysql://dimitri:***@db.ust-data-sci.net
6 rows affected.

[(3, 'Dog Ear Cyclecomputer', '', Decimal('75.00'), 20, 1),
 (1, 'Trek 9000 Mountain Bike', '', Decimal('1200.00'), 6, 2),
 (23, 'Ultra-Pro Rain Jacket', '', Decimal('85.00'), 30, 3),
 (4, 'Victoria Pro All Weather Tires', '', Decimal('54.95'), 20, 4),
 (39, 'Road Warrior Hitch Pack', '', Decimal('175.00'), 6, 5),
 (27, 'X-Pro All Weather Tires', '', Decimal('24.00'), 20, 6)]

In [11]:
%%sql

-- this is good

SELECT category_id
FROM product
GROUP BY category_id

 * mysql://dimitri:***@db.ust-data-sci.net
6 rows affected.

[(1,), (2,), (3,), (4,), (5,), (6,)]

In [12]:
%%sql

SELECT DISTINCT category_id
FROM product

 * mysql://dimitri:***@db.ust-data-sci.net
6 rows affected.

[(1,), (2,), (3,), (4,), (5,), (6,)]

In [16]:
%%sql
-- show the numbers and average price of products in each category

SELECT category_id, 
   count(*) as n, 
   ROUND(AVG(retail_price), 2) as avg_price
FROM  product
GROUP BY category_id

 * mysql://dimitri:***@db.ust-data-sci.net
6 rows affected.

[(1, 18, Decimal('66.19')),
 (2, 4, Decimal('1321.25')),
 (3, 4, Decimal('51.25')),
 (4, 9, Decimal('79.77')),
 (5, 2, Decimal('177.50')),
 (6, 3, Decimal('29.00'))]

In [17]:
%%sql 

-- using in a subquery

SELECT * FROM (
    SELECT category_id, round(AVG(retail_price), 2) as avg_price
    FROM product
    GROUP BY category_id) as _ NATURAL JOIN category

 * mysql://dimitri:***@db.ust-data-sci.net
6 rows affected.

[(1, Decimal('66.19'), 'Accessories'),
 (2, Decimal('1321.25'), 'Bikes'),
 (3, Decimal('51.25'), 'Clothing'),
 (4, Decimal('79.77'), 'Components'),
 (5, Decimal('177.50'), 'Car racks'),
 (6, Decimal('29.00'), 'Tires')]

In [19]:
%%sql 

-- pre-join before group

SELECT category.*, avg(retail_price) as avg_price 
FROM category NATURAL LEFT JOIN product
GROUP BY category_id

 * mysql://dimitri:***@db.ust-data-sci.net
6 rows affected.

[(1, 'Accessories', Decimal('66.191667')),
 (2, 'Bikes', Decimal('1321.250000')),
 (3, 'Clothing', Decimal('51.250000')),
 (4, 'Components', Decimal('79.765556')),
 (5, 'Car racks', Decimal('177.500000')),
 (6, 'Tires', Decimal('29.000000'))]

In [21]:
%%sql

-- show number of products in each  category with retail price > 100.00

SELECT category.*, count(*) as n
FROM category NATURAL JOIN product 
WHERE retail_price > 100
GROUP BY category_id

 * mysql://dimitri:***@db.ust-data-sci.net
4 rows affected.

[(1, 'Accessories', 4),
 (2, 'Bikes', 4),
 (4, 'Components', 3),
 (5, 'Car racks', 2)]

In [23]:
%%sql 
-- show the number of items in each category priced over $100
SELECT category.*, count(product_number) as number_of_products
FROM category NATURAL LEFT JOIN (
    SELECT * FROM product WHERE retail_price > 100) as _
GROUP BY category_id

 * mysql://dimitri:***@db.ust-data-sci.net
6 rows affected.

[(1, 'Accessories', 4),
 (2, 'Bikes', 4),
 (3, 'Clothing', 0),
 (4, 'Components', 3),
 (5, 'Car racks', 2),
 (6, 'Tires', 0)]

In [29]:
%%sql

-- show the top 10 customers who placed most orders

SELECT customer_id, count(order_number) as number_of_orders
FROM customer NATURAL LEFT JOIN `order` 
GROUP BY customer_id
ORDER BY number_of_orders DESC
LIMIT 10

 * mysql://dimitri:***@db.ust-data-sci.net
10 rows affected.

[(1001, 44),
 (1017, 44),
 (1021, 42),
 (1024, 41),
 (1025, 41),
 (1014, 41),
 (1002, 40),
 (1005, 40),
 (1004, 39),
 (1012, 39)]

In [30]:
%%sql

-- show all customers who have placed over 40 orders since 
-- the start of 2016

SELECT * FROM (
    SELECT customer_id, count(order_number) as number_of_orders
    FROM customer NATURAL JOIN `order` 
    WHERE order_date > "2016-01-01"
    GROUP BY customer_id) as _
WHERE number_of_orders > 40

 * mysql://dimitri:***@db.ust-data-sci.net
6 rows affected.

[(1001, 44), (1014, 41), (1017, 44), (1021, 42), (1024, 41), (1025, 41)]

In [31]:
%%sql

-- show all customers who have placed over 40 orders 
-- since the start of 2016

SELECT customer_id, count(order_number) as number_of_orders
FROM customer NATURAL LEFT JOIN `order` 
WHERE order_date > "2016-01-01"
GROUP BY customer_id
HAVING number_of_orders > 40
ORDER BY number_of_orders DESC

 * mysql://dimitri:***@db.ust-data-sci.net
6 rows affected.

[(1001, 44), (1017, 44), (1021, 42), (1024, 41), (1025, 41), (1014, 41)]

In [32]:
%%sql

-- show the customer who has spent the most money

SELECT customer.*, sum(quoted_price * quantity_ordered) as total
FROM customer NATURAL LEFT JOIN 
   (SELECT * FROM `order` NATURAL JOIN `order__item`) as _
GROUP BY customer_id
ORDER BY total DESC
LIMIT 1

 * mysql://dimitri:***@db.ust-data-sci.net
1 rows affected.

[(1012, 'Liz', 'Keyser', '13920 S.E. 40th Street', 'Bellevue', 'WA', '98006', 425, '555-2556', Decimal('262174.17'))]

In [33]:
%%sql

SELECT customer.*, sum(quoted_price * quantity_ordered) as total
FROM customer NATURAL JOIN `order` NATURAL JOIN `order__item`
GROUP BY customer_id
ORDER BY total DESC
LIMIT 1

 * mysql://dimitri:***@db.ust-data-sci.net
1 rows affected.

[(1012, 'Liz', 'Keyser', '13920 S.E. 40th Street', 'Bellevue', 'WA', '98006', 425, '555-2556', Decimal('262174.17'))]

In [35]:
%%sql

-- show averages prices per category for products with 
-- retail price > 100.00

SELECT category.*, round(AVG(retail_price), 2) as avg_price 
FROM category NATURAL JOIN product
WHERE retail_price > 100
GROUP BY category_id

 * mysql://dimitri:***@db.ust-data-sci.net
4 rows affected.

[(1, 'Accessories', Decimal('152.25')),
 (2, 'Bikes', Decimal('1321.25')),
 (4, 'Components', Decimal('164.65')),
 (5, 'Car racks', Decimal('177.50'))]

In [36]:
%%sql

-- Categories with the average prices > 100

SELECT * FROM (
    SELECT category.*, AVG(retail_price) as avg_price 
    FROM category NATURAL JOIN product
    GROUP BY category_id) as q
WHERE avg_price > 100

 * mysql://dimitri:***@db.ust-data-sci.net
2 rows affected.

[(2, 'Bikes', Decimal('1321.250000')), (5, 'Car racks', Decimal('177.500000'))]

In [37]:
%%sql

-- Categories with the average prices > 100

SELECT category.*, AVG(retail_price) as avg_price 
FROM category NATURAL JOIN product
GROUP BY category_id
HAVING avg_price > 100

 * mysql://dimitri:***@db.ust-data-sci.net
2 rows affected.

[(2, 'Bikes', Decimal('1321.250000')), (5, 'Car racks', Decimal('177.500000'))]

In [39]:
%%sql
-- show empty orders 

SELECT * 
FROM `order` 
WHERE order_number NOT IN (
    SELECT order_number 
    FROM order__item)

 * mysql://dimitri:***@db.ust-data-sci.net
11 rows affected.

[(198, datetime.date(2017, 10, 8), datetime.date(2017, 10, 10), 1002, 703),
 (216, datetime.date(2017, 10, 12), datetime.date(2017, 10, 12), 1016, 707),
 (305, datetime.date(2017, 11, 1), datetime.date(2017, 11, 5), 1013, 708),
 (361, datetime.date(2017, 11, 12), datetime.date(2017, 11, 13), 1016, 706),
 (484, datetime.date(2017, 12, 9), datetime.date(2017, 12, 10), 1021, 707),
 (523, datetime.date(2017, 12, 15), datetime.date(2017, 12, 17), 1003, 704),
 (629, datetime.date(2018, 1, 8), datetime.date(2018, 1, 12), 1014, 704),
 (632, datetime.date(2018, 1, 8), datetime.date(2018, 1, 12), 1001, 706),
 (689, datetime.date(2018, 1, 15), datetime.date(2018, 1, 16), 1015, 705),
 (753, datetime.date(2018, 1, 28), datetime.date(2018, 1, 30), 1013, 701),
 (816, datetime.date(2018, 2, 9), datetime.date(2018, 2, 12), 1011, 701)]

In [48]:
%%sql
-- show empty orders

SELECT * 
FROM `order` NATURAL LEFT JOIN order__item
WHERE product_number is NULL

 * mysql://dimitri:***@db.ust-data-sci.net
11 rows affected.

[(198, datetime.date(2017, 10, 8), datetime.date(2017, 10, 10), 1002, 703, None, None, None),
 (216, datetime.date(2017, 10, 12), datetime.date(2017, 10, 12), 1016, 707, None, None, None),
 (305, datetime.date(2017, 11, 1), datetime.date(2017, 11, 5), 1013, 708, None, None, None),
 (361, datetime.date(2017, 11, 12), datetime.date(2017, 11, 13), 1016, 706, None, None, None),
 (484, datetime.date(2017, 12, 9), datetime.date(2017, 12, 10), 1021, 707, None, None, None),
 (523, datetime.date(2017, 12, 15), datetime.date(2017, 12, 17), 1003, 704, None, None, None),
 (629, datetime.date(2018, 1, 8), datetime.date(2018, 1, 12), 1014, 704, None, None, None),
 (632, datetime.date(2018, 1, 8), datetime.date(2018, 1, 12), 1001, 706, None, None, None),
 (689, datetime.date(2018, 1, 15), datetime.date(2018, 1, 16), 1015, 705, None, None, None),
 (753, datetime.date(2018, 1, 28), datetime.date(2018, 1, 30), 1013, 701, None, None, None),
 (816, datetime.date(2018, 2, 9), datetime.date(2018, 2, 12), 1011, 701, None, None, None)]

In [50]:
%%sql

-- bad because mixes aggregated and random 

SELECT * FROM `order`  NATURAL LEFT JOIN order__item
GROUP BY order_number
LIMIT 10

 * mysql://dimitri:***@db.ust-data-sci.net
10 rows affected.

[(1, datetime.date(2017, 9, 2), datetime.date(2017, 9, 5), 1018, 707, 1, Decimal('1200.00'), 2),
 (2, datetime.date(2017, 9, 2), datetime.date(2017, 9, 4), 1001, 703, 27, Decimal('24.00'), 4),
 (3, datetime.date(2017, 9, 2), datetime.date(2017, 9, 5), 1002, 707, 1, Decimal('1164.00'), 5),
 (4, datetime.date(2017, 9, 2), datetime.date(2017, 9, 4), 1009, 703, 1, Decimal('1200.00'), 4),
 (5, datetime.date(2017, 9, 2), datetime.date(2017, 9, 2), 1024, 708, 1, Decimal('1200.00'), 4),
 (6, datetime.date(2017, 9, 2), datetime.date(2017, 9, 6), 1014, 702, 2, Decimal('1746.00'), 5),
 (7, datetime.date(2017, 9, 2), datetime.date(2017, 9, 5), 1001, 708, 14, Decimal('139.95'), 3),
 (8, datetime.date(2017, 9, 2), datetime.date(2017, 9, 2), 1003, 703, 16, Decimal('28.00'), 2),
 (9, datetime.date(2017, 9, 2), datetime.date(2017, 9, 5), 1007, 708, 24, Decimal('69.00'), 1),
 (10, datetime.date(2017, 9, 2), datetime.date(2017, 9, 5), 1012, 701, 1, Decimal('1200.00'), 2)]

In [56]:
%%sql

-- show empty orders

SELECT `order`.*, COUNT(product_number) as nitems 
FROM `order` NATURAL LEFT JOIN order__item
GROUP BY order_number
HAVING nitems = 0

 * mysql://dimitri:***@db.ust-data-sci.net
11 rows affected.

[(198, datetime.date(2017, 10, 8), datetime.date(2017, 10, 10), 1002, 703, 0),
 (216, datetime.date(2017, 10, 12), datetime.date(2017, 10, 12), 1016, 707, 0),
 (305, datetime.date(2017, 11, 1), datetime.date(2017, 11, 5), 1013, 708, 0),
 (361, datetime.date(2017, 11, 12), datetime.date(2017, 11, 13), 1016, 706, 0),
 (484, datetime.date(2017, 12, 9), datetime.date(2017, 12, 10), 1021, 707, 0),
 (523, datetime.date(2017, 12, 15), datetime.date(2017, 12, 17), 1003, 704, 0),
 (629, datetime.date(2018, 1, 8), datetime.date(2018, 1, 12), 1014, 704, 0),
 (632, datetime.date(2018, 1, 8), datetime.date(2018, 1, 12), 1001, 706, 0),
 (689, datetime.date(2018, 1, 15), datetime.date(2018, 1, 16), 1015, 705, 0),
 (753, datetime.date(2018, 1, 28), datetime.date(2018, 1, 30), 1013, 701, 0),
 (816, datetime.date(2018, 2, 9), datetime.date(2018, 2, 12), 1011, 701, 0)]

In [59]:
%%sql

SELECT `order`.*, product_number as nitems 
FROM `order`  NATURAL LEFT JOIN order__item
LIMIT 10

 * mysql://dimitri:***@db.ust-data-sci.net
10 rows affected.

[(1, datetime.date(2017, 9, 2), datetime.date(2017, 9, 5), 1018, 707, 1),
 (1, datetime.date(2017, 9, 2), datetime.date(2017, 9, 5), 1018, 707, 6),
 (1, datetime.date(2017, 9, 2), datetime.date(2017, 9, 5), 1018, 707, 11),
 (1, datetime.date(2017, 9, 2), datetime.date(2017, 9, 5), 1018, 707, 16),
 (1, datetime.date(2017, 9, 2), datetime.date(2017, 9, 5), 1018, 707, 21),
 (1, datetime.date(2017, 9, 2), datetime.date(2017, 9, 5), 1018, 707, 26),
 (1, datetime.date(2017, 9, 2), datetime.date(2017, 9, 5), 1018, 707, 40),
 (2, datetime.date(2017, 9, 2), datetime.date(2017, 9, 4), 1001, 703, 27),
 (2, datetime.date(2017, 9, 2), datetime.date(2017, 9, 4), 1001, 703, 40),
 (3, datetime.date(2017, 9, 2), datetime.date(2017, 9, 5), 1002, 707, 1)]

## Example problems

In [66]:
%%sql

-- Customers and the number of orders that they made

SELECT customer_id, customer_first_name, customer_last_name, 
  count(order_number) as norders
FROM customer NATURAL LEFT JOIN `order`
GROUP BY customer_id
ORDER BY norders DESC
LIMIT 10

 * mysql://dimitri:***@db.ust-data-sci.net
10 rows affected.

[(1001, 'Suzanne', 'Viescas', 44),
 (1017, 'Manuela', 'Seidel', 44),
 (1021, 'Estella', 'Pundt', 42),
 (1024, 'Mark', 'Rosales', 41),
 (1014, 'Sam', 'Abolrous', 41),
 (1025, 'Maria', 'Patterson', 41),
 (1005, 'Dean', 'McCrae', 40),
 (1002, 'William', 'Thompson', 40),
 (1012, 'Liz', 'Keyser', 39),
 (1004, 'Robert', 'Brown', 39)]

In [69]:
%%sql

-- orders with their total amounts

SELECT `order`.*, IFNULL(sum(quoted_price * quantity_ordered), 0) as total_amount
FROM `order` NATURAL LEFT JOIN `order__item` 
GROUP BY order_number
ORDER BY total_amount 
LIMIT 10

 * mysql://dimitri:***@db.ust-data-sci.net
10 rows affected.

[(629, datetime.date(2018, 1, 8), datetime.date(2018, 1, 12), 1014, 704, Decimal('0.00')),
 (361, datetime.date(2017, 11, 12), datetime.date(2017, 11, 13), 1016, 706, Decimal('0.00')),
 (816, datetime.date(2018, 2, 9), datetime.date(2018, 2, 12), 1011, 701, Decimal('0.00')),
 (484, datetime.date(2017, 12, 9), datetime.date(2017, 12, 10), 1021, 707, Decimal('0.00')),
 (305, datetime.date(2017, 11, 1), datetime.date(2017, 11, 5), 1013, 708, Decimal('0.00')),
 (689, datetime.date(2018, 1, 15), datetime.date(2018, 1, 16), 1015, 705, Decimal('0.00')),
 (753, datetime.date(2018, 1, 28), datetime.date(2018, 1, 30), 1013, 701, Decimal('0.00')),
 (523, datetime.date(2017, 12, 15), datetime.date(2017, 12, 17), 1003, 704, Decimal('0.00')),
 (216, datetime.date(2017, 10, 12), datetime.date(2017, 10, 12), 1016, 707, Decimal('0.00')),
 (632, datetime.date(2018, 1, 8), datetime.date(2018, 1, 12), 1001, 706, Decimal('0.00'))]

In [72]:
%%sql

-- customers and the total $$$ spent

SELECT customer_id, customer_last_name, sum(total_amount) money_spent
FROM customer NATURAL LEFT JOIN (
    SELECT `order`.*, IFNULL(sum(quoted_price * quantity_ordered), 0) as total_amount
    FROM `order` NATURAL LEFT JOIN `order__item` 
    GROUP BY order_number) as q
GROUP BY customer_id
ORDER BY money_spent DESC
LIMIT 10

 * mysql://dimitri:***@db.ust-data-sci.net
10 rows affected.

[(1012, 'Keyser', Decimal('262174.17')),
 (1017, 'Seidel', Decimal('258544.43')),
 (1005, 'McCrae', Decimal('248250.81')),
 (1006, 'Viescas', Decimal('238622.16')),
 (1025, 'Patterson', Decimal('229550.43')),
 (1013, 'Patterson', Decimal('225582.11')),
 (1004, 'Brown', Decimal('222916.60')),
 (1002, 'Thompson', Decimal('220811.99')),
 (1014, 'Abolrous', Decimal('217587.07')),
 (1020, 'Bonnicksen', Decimal('211354.30'))]

In [75]:
%%sql

-- customers and the total $$$ spent

SELECT customer_id, customer_last_name, 
   IFNULL(sum(quoted_price * quantity_ordered), 0) money_spent
FROM customer NATURAL LEFT JOIN `order` NATURAL JOIN `order__item`
GROUP BY customer_id
ORDER BY money_spent DESC
LIMIT 10

 * mysql://dimitri:***@db.ust-data-sci.net
10 rows affected.

[(1012, 'Keyser', Decimal('262174.17')),
 (1017, 'Seidel', Decimal('258544.43')),
 (1005, 'McCrae', Decimal('248250.81')),
 (1006, 'Viescas', Decimal('238622.16')),
 (1025, 'Patterson', Decimal('229550.43')),
 (1013, 'Patterson', Decimal('225582.11')),
 (1004, 'Brown', Decimal('222916.60')),
 (1002, 'Thompson', Decimal('220811.99')),
 (1014, 'Abolrous', Decimal('217587.07')),
 (1020, 'Bonnicksen', Decimal('211354.30'))]

# Summary of principles 
1. Without a `GROUP BY`, aggregation functions collapse the table into a single row.
2. With `GROUP BY`, the grouping attributes become the new primary key of the result.  
3. Do not mix aggregated and non-aggregated values in the result with or without a `GROUP BY`.
4. `HAVING` plays the same role as the `WHERE` clause in a nesting outer query so it can use the output of the aggregation functions.
5. `LEFT JOIN` is often follwed with a `GROUP BY` by the primary key attributes of the left table. In this scenario the entities in the right table are aggregated for each matching row in the left table.

### Chapter 12 (total aggregation -- no grouping)

Problem 1. 
“How many customers do we have in the state of California?”

Viescas, John L.. SQL Queries for Mere Mortals (p. 460). Pearson Education. Kindle Edition.

In [80]:
dj.U().aggr(sales.Customer() & 'customer_state="CA"', n='count(*)')

n
+---+
7
 (Total: 1)

In [84]:
%%sql

SELECT count(*) as n FROM customer WHERE customer_state="CA"

 * mysql://dimitri:***@db.ust-data-sci.net
1 rows affected.

[(7,)]

In [ ]:
“What is the average retail price of a mountain bike?” 

Viescas, John L.. SQL Queries for Mere Mortals (p. 467). Pearson Education. Kindle Edition.

In [ ]:
“What was the date of our most recent order?”

Viescas, John L.. SQL Queries for Mere Mortals (p. 467). Pearson Education. Kindle Edition.

In [88]:
%%sql 
SELECT order_number, order_date as latest_order
FROM `order`
ORDER BY latest_order DESC
LIMIT 1

 * mysql://dimitri:***@db.ust-data-sci.net
1 rows affected.

[(944, datetime.date(2018, 3, 1))]

In [87]:
%%sql
SELECT max(order_date) as last_date 
FROM `order`

 * mysql://dimitri:***@db.ust-data-sci.net
1 rows affected.

[(datetime.date(2018, 3, 1),)]

In [92]:
%%sql
-- When was the last order to a customer in California

SELECT max(order_date) as last_date
FROM `order`
WHERE customer_id in 
(SELECT customer_id FROM customer WHERE customer_state="WA")

 * mysql://dimitri:***@db.ust-data-sci.net
1 rows affected.

[(datetime.date(2018, 3, 1),)]

In [97]:
%%sql 
SELECT max(order_date) as last_date
FROM `order` NATURAL JOIN customer
WHERE customer_state="WA"

 * mysql://dimitri:***@db.ust-data-sci.net
1 rows affected.

[(datetime.date(2018, 3, 1),)]

In [96]:
dj.U().aggr(sales.Order * sales.Customer & 'customer_state="WA"', 
            last_date='max(order_date)')

last_date
+------------+
2018-03-01
 (Total: 1)

### Chapter 13 (aggregation with grouping)

In [ ]:
“Display for each product the product name and the total sales.”

Viescas, John L.. SQL Queries for Mere Mortals (p. 490). Pearson Education. Kindle Edition.

### Chapter 14 (aggregation with grouping and filtering with HAVING)

In [ ]:
“Show me the subject categories that have fewer than three full professors teaching that subject.”

Viescas, John L.. SQL Queries for Mere Mortals (p. 513). Pearson Education. Kindle Edition.

In [ ]:
%%sql
use shared_school

In [ ]:
%%sql

SELECT Categories.*, count(StaffID) as n 
   FROM Categories NATURAL LEFT JOIN (
       SELECT * FROM Faculty_Categories NATURAL JOIN Faculty WHERE Title="Professor") as q
   GROUP BY CategoryID
   HAVING n < 3

In [ ]:
“How many orders are for only one product?”

Viescas, John L.. SQL Queries for Mere Mortals (p. 528). Pearson Education. Kindle Edition.

In [ ]:
%%sql
use shared_sales

In [ ]:
%%sql

SELECT count(*) FROM (
    SELECT Orders.*, count(ProductNumber) as n
       FROM Orders NATURAL LEFT JOIN Order_Details
        GROUP BY OrderNumber
        HAVING n=1) as q

In [ ]:
%%sql

# Homework --- Due Nov 12

## Chapter 12

**Problem 1 (Sales):** Show the total amount of order number 8.
    
    Answer $1492.60

**Problem 2 (School):** List the most senior staff members (earliest hired).
    
    Answer 1 row.

## Chapter 13

**Problem 3 (Sales):** List vendors along with the average number of days they take to deliver the order.
    
    Answer 10 rows.

**Problem 4 (Sales):** List vendors along with the number of products each sells.
    
    Answer 10 rows.

**Problem 5 (School):** List staff members and the number of classes each is scheduled to teach.
    
    Answer 27 rows.

## Chapter 14

**Problem 6 (Sales):** Count the orders that only have one product
    
    1 row

**Problem 7 (School):**  List staff members that teach fewer than three classes
    
    7 rows

**Problem 8 (Recipes):** List recipes that use more than three teaspoons of salt.
    
    1 row

# Aggregations in Datajoint

In [ ]:
import datajoint as dj

In [ ]:
schema = dj.Schema('shared_sales')
schema.spawn_missing_classes()

In [ ]:
dj.Diagram(schema)

In [ ]:
Customer.aggr(Order, n='count(order_number)', 
              duration='datediff(max(order_date), min(order_date))') & 'n>30'

In [ ]:
# show total amount spent by customer

Customer.aggr(Order * Order.Item, 
              spent='sum(quantity_ordered * quoted_price)')

In [ ]:
Order.Item()

In [ ]:
dj.U('customer_state').aggr(Customer, n='count(customer_id)')

In [ ]:
Customer()

### Show all the triplets of products that appear together on at least 100 unique orders

In [101]:
P1 = sales.Product.proj(p1 = 'product_number')
P2 = sales.Product.proj(p2 = 'product_number')
P3 = sales.Product.proj(p3 = 'product_number')

In [103]:
triplets = P1 * P2 * P3 & 'p1 < p2' & 'p2 < p3'

In [106]:
triplets - (
triplets * Order - \ 
   Order.Item.proj(p1='product_number') - 
   Order.Item.proj(p2='product_number') -
   Order.Item.proj(p3='product_number'))

*p1    *p2    *p3    *order_number  *product_numbe quoted_price   quantity_order
+----+ +----+ +----+ +------------+ +------------+ +------------+ +------------+
3      4      5      1              1              1200.00        2
3      4      6      1              1              1200.00        2
3      4      7      1              1              1200.00        2
3      4      8      1              1              1200.00        2
3      4      9      1              1              1200.00        2
3      4      10     1              1              1200.00        2
3      4      11     1              1              1200.00        2
3      4      12     1              1              1200.00        2
3      4      13     1              1              1200.00        2
3      4      14     1              1              1200.00        2
3      4      15     1              1              1200.00        2
3      4      16     1              1              1200.00        2
   ...
 (Total: 39253240)

** Challenge: Find the most common list of products on an order (Hint: The same list of 8 products is found on 23 orders. You may find the GROUP_CONCAT function helpful. Note that it has an ORDER_BY option)

In [112]:
dj.U('item_list').aggr(
sales.Order.aggr(
    sales.Order.Item, 
    item_list = 'GROUP_CONCAT(product_number ORDER BY product_number)'),
    n='count(item_list)')

*item_list     n
+------------+ +---+
1              7
1,10,15,20,25, 1
1,10,18,26,34  1
1,11,16,21,26, 2
1,11,17,29,35  2
1,11,19,27,35  3
1,11,21,31     8
1,11,21,33     3
1,11,21,34     8
1,11,21,35     3
1,11,21,36     2
1,11,21,37     1
   ...
 (Total: 351)

In [121]:
%%sql
SELECT order_number, GROUP_CONCAT(product_number ORDER BY product_number) item_list
FROM `order` NATURAL JOIN order__item
GROUP BY order_number

 * mysql://dimitri:***@db.ust-data-sci.net
933 rows affected.

[(1, '1,6,11,16,21,26,40'),
 (2, '27,40'),
 (3, '1,6,11,16,21,26,31,36'),
 (4, '1,9,17,25,39'),
 (5, '1,14,31'),
 (6, '2,7,12,17,22,27,32'),
 (7, '14,27'),
 (8, '16,22,28,34,40'),
 (9, '24'),
 (10, '1,24'),
 (11, '1,6,11,16,21,26,31,36'),
 (12, '10'),
 (13, '1,11,28,38'),
 (14, '1,14,40'),
 (15, '1,9,17,29,37'),
 (16, '9,14,19,24,29,34,39'),
 (17, '1,7,13,19,25,36'),
 (18, '12,20,28,36'),
 (19, '1,6,11,20,25,30,35,40'),
 (20, '1,37'),
 (21, '3,13,33'),
 (22, '1,7,17,29,35'),
 (23, '1,6,11,16,21,29,34,39'),
 (24, '9,14,19,24,29,34'),
 (25, '1,11,17,29,35'),
 (26, '1,7,13,24,30,36'),
 (27, '1,7,13,26,32,38'),
 (28, '7,27'),
 (29, '38'),
 (30, '1,9,17,29,37'),
 (31, '16'),
 (32, '1,7,19,25,31,37'),
 (33, '1,7,13,19,33,39'),
 (34, '8,28'),
 (35, '1,14,32'),
 (36, '5'),
 (37, '8,18,28,38'),
 (38, '39'),
 (39, '1,6,11,16,21,26,31,36'),
 (40, '6,19,32'),
 (41, '10,16,22,28,34,40'),
 (42, '1,9,19,27,35'),
 (43, '1,6,11,16,28,33,38'),
 (44, '1,7,13,26,32,38'),
 (45, '1,6,11,16,25,30,35,40'),
 (46, '35'),
 (47, '1'),
 (48, '1,20,33'),
 (49, '13,19,25,31,37'),
 (50, '5,15,25,35'),
 (51, '1'),
 (52, '30'),
 (53, '1,6,11,16,21,34,39'),
 (54, '10'),
 (55, '10'),
 (56, '6,16,26,36'),
 (57, '1,14,20,26,32,38'),
 (58, '1,7,13,19,31,37'),
 (59, '1,6,11,21,26,31,36'),
 (60, '1,6,11,16,28,33,38'),
 (61, '1,9,17,25,33'),
 (62, '7,21,27,33,39'),
 (63, '1,27'),
 (64, '1,6,11,16,21,28,33,38'),
 (65, '1,11,21,34'),
 (66, '1,6,11,16,21,29,34,39'),
 (67, '10,16,22,28,34,40'),
 (68, '19'),
 (69, '6,16,26,36'),
 (70, '9,22,35'),
 (71, '1,14,30'),
 (72, '16,22,27,32,37'),
 (73, '1,7,13,25,31,37'),
 (74, '1,6,11,16,21,26,33,38'),
 (75, '1,9,14,19,24,29,34,39'),
 (76, '18'),
 (77, '1,7,13,19,30,36'),
 (78, '1,11,21,34'),
 (79, '1,7,13,28,34,40'),
 (80, '1,6,11,16,29,34,39'),
 (81, '39'),
 (82, '1,6,11,16,21,32,37'),
 (83, '10,36'),
 (84, '16,21,35,40'),
 (85, '16,21,26,31,36'),
 (86, '1,6,11,18,28,33,38'),
 (87, '1,21,34'),
 (88, '36'),
 (89, '15,31,39'),
 (90, '33'),
 (91, '1,6,11,16,26,31,36'),
 (92, '1,14,32'),
 (93, '3'),
 (94, '1,7,13,26,32,38'),
 (95, '5,11,17,29,35'),
 (96, '1,17,27,37'),
 (97, '1,14,30'),
 (98, '1,33'),
 (99, '1,25'),
 (100, '3,11,19,27,35'),
 (101, '7,15,31,39'),
 (102, '1,9,17,25,33'),
 (103, '1,6,19,24,29,34,39'),
 (104, '1,37'),
 (105, '2,8,14,20,26,32'),
 (106, '32'),
 (107, '17,22,27,32,37'),
 (108, '31'),
 (109, '39'),
 (110, '16,21,26,37'),
 (111, '2,8,14,20,26,32'),
 (112, '16,36'),
 (113, '1,25,38'),
 (114, '17,30'),
 (115, '8,16,24,32,40'),
 (116, '1,12,20,28,36'),
 (117, '1,6,18,28,33,38'),
 (118, '33'),
 (119, '1,6,11,16,26,31,36'),
 (120, '1,9,17,25,38'),
 (121, '1,14,29'),
 (122, '1,9,17,25,33'),
 (123, '6,12,18,24,30,36'),
 (124, '1,33'),
 (125, '1,17,30'),
 (126, '9,14,19,24,29,34,39'),
 (127, '1,7,13,19,25,36'),
 (128, '21,33'),
 (129, '24'),
 (130, '1,6,13,18,28,33,38'),
 (131, '1,17,30'),
 (132, '1,37'),
 (133, '9'),
 (134, '16,21,26,31,37'),
 (135, '6,14,22,30,38'),
 (136, '1,11,19,27,35'),
 (137, '16,21,26,37'),
 (138, '10,16,22,28,34,40'),
 (139, '32'),
 (140, '1,6,11,22,27,32,37'),
 (141, '1,7,13,19,25,35'),
 (142, '1,27'),
 (143, '17,30'),
 (144, '1,14,27'),
 (145, '1,36'),
 (146, '18'),
 (147, '1,14,37'),
 (148, '1,6,11,16,21,26,31,36'),
 (149, '1,38'),
 (150, '1,11,21,31'),
 (151, '24'),
 (152, '2,7,12,17,22,27,32'),
 (153, '7,13,19,34,40'),
 (154, '14,36'),
 (155, '10,20,30,40'),
 (156, '1,6,19,24,29,34,39'),
 (157, '1,11,21,33'),
 (158, '21'),
 (159, '10,20,30,40'),
 (160, '1,6,11,16,21,26,31,36'),
 (161, '1,16,36'),
 (162, '11,31'),
 (163, '1,7,13,26,32,38'),
 (164, '1,24'),
 (165, '1,6,11,20,25,30,35,40'),
 (166, '7,13,19,25,40'),
 (167, '1,9,21,29,37'),
 (168, '1,7,13,19,29,35'),
 (169, '9,14,19,24,29,34,39'),
 (170, '1,7,13,26,32,38'),
 (171, '38'),
 (172, '1,11,21,34'),
 (173, '22,35'),
 (174, '1,36'),
 (175, '1,6,11,16,21,26,31,36'),
 (176, '7,17,27,37'),
 (177, '1,9,17,25,36'),
 (178, '16,21,31,36'),
 (179, '1,6,11,17,22,27,32,37'),
 (180, '21,40'),
 (181, '1,11,24,34'),
 (182, '1,6,18,28,33,38'),
 (183, '1,7,12,17,22,27,32,37'),
 (184, '1,6,11,16,21,30,35,40'),
 (185, '1,18,28,38'),
 (186, '5,25'),
 (187, '22,35'),
 (188, '1,37'),
 (189, '5,15,25,35'),
 (190, '29'),
 (191, '8,13,18,28,33,38'),
 (192, '17,22,32,37'),
 (193, '1,6,20,25,30,35,40'),
 (194, '1,14,31'),
 (195, '39'),
 (196, '1,7,13,19,25,40'),
 (197, '18'),
 (199, '9,15,21,27,33,39'),
 (200, '1,7,13,24,30,36'),
 (201, '5'),
 (202, '39'),
 (203, '1,6,16,21,31,36'),
 (204, '24'),
 (205, '1,6,11,16,21,34,39'),
 (206, '1,14,31'),
 (207, '14,31'),
 (208, '9,14,19,24,29,34,39'),
 (209, '13,33'),
 (210, '1,6,11,24,29,34,39'),
 (211, '6'),
 (212, '3'),
 (213, '16,36'),
 (214, '13,26,39'),
 (215, '1,6,18,28,33,38'),
 (217, '1,11,30,40'),
 (218, '1,7,13,19,33,39'),
 (219, '1,7,13,19,25,38'),
 (220, '1,6,11,22,27,32,37'),
 (221, '6,14,22,30,38'),
 (222, '1,11,24,34'),
 (223, '1,11,29,39'),
 (224, '1,9,20,28,36'),
 (225, '1,7,13,26,32,38'),
 (226, '20,30,40'),
 (227, '1,6,11,16,25,30,35,40'),
 (228, '17'),
 (229, '6,26'),
 (230, '26'),
 (231, '8,13,18,28,33,38'),
 (232, '7,13,19,25,31,37'),
 (233, '1,24'),
 (234, '10,36'),
 (235, '9,17,25,38'),
 (236, '5,10,15,20,25,30,35,40'),
 (237, '2,7,12,17,22,27,32'),
 (238, '1,24,37'),
 (239, '1,6,11,16,21,35,40'),
 (240, '5,18,31'),
 (241, '14,27,40'),
 (242, '1,6,11,16,21,26,31,36'),
 (243, '1,6,16,21,26,31,36'),
 (244, '11'),
 (245, '10,18,26,34'),
 (246, '1,15,21,27,33,39'),
 (247, '1,9,17,25,33'),
 (248, '1,7,19,25,31,37'),
 (249, '1,7,13,19,25,38'),
 (250, '1,14,34'),
 (251, '6,11,16,21,26,31,36'),
 (252, '1,9,14,19,24,29,34,39'),
 (253, '1,27'),
 (254, '13,26,39'),
 (255, '16'),
 (256, '1,6,11,16,24,29,34,39'),
 (257, '1,13,19,25,31,37'),
 (258, '1,6,11,16,24,29,34,39'),
 (259, '36'),
 (260, '1,9,17,25,39'),
 (261, '1,15,28'),
 (262, '16'),
 (263, '1,11,21,33'),
 (264, '21'),
 (265, '2,7,12,17,22,27,32,37'),
 (266, '1,9,17,25,36'),
 (267, '1,25,38'),
 (268, '1,6,11,16,21,26,32,37'),
 (269, '1,6,13,18,28,33,38'),
 (270, '1,15,31,39'),
 (271, '1,9,19,27,35'),
 (272, '1,16,26,36'),
 (273, '1,9,17,30,38'),
 (274, '18'),
 (275, '5'),
 (276, '1,11,19,27,35'),
 (277, '12,20,28,36'),
 (278, '1,24,37'),
 (279, '1,11,21,39'),
 (280, '1,14,40'),
 (281, '1,6,11,16,21,33,38'),
 (282, '1,14,32'),
 (283, '19,39'),
 (284, '1,6,11,16,21,27,32,37'),
 (285, '1,17,27,37'),
 (286, '1,29'),
 (287, '9,29'),
 (288, '8,28'),
 (289, '9,19,29,39'),
 (290, '1,17,30'),
 (291, '1,14,30'),
 (292, '1,7,13,19,25,35'),
 (293, '1,7,13,19,25,36'),
 (294, '1,15,20,25,30,35,40'),
 (295, '1,9,17,25,34'),
 (296, '1,34'),
 (297, '6,26'),
 (298, '1,26'),
 (299, '19,39'),
 (300, '1,6,11,30,35,40'),
 (301, '1,14,40'),
 (302, '1,14,36'),
 (303, '8,13,18,28,33,38'),
 (304, '16,21,27,32,37'),
 (306, '1,20,33'),
 (307, '1,7,13,19,30,36'),
 (308, '1,19,29,39'),
 (309, '5,13,21,29,37'),
 (310, '1,6,11,24,29,34,39'),
 (311, '16,26,31,36'),
 (312, '15,21,27,33,39'),
 (313, '1,15,31,39'),
 (314, '20,40'),
 (315, '1,7,13,25,31,37'),
 (316, '38'),
 (317, '1,13,21,29,37'),
 (318, '6'),
 (319, '1,38'),
 (320, '21'),
 (321, '1,7,13,24,30,36'),
 (322, '36'),
 (323, '1,12,17,22,27,32,37'),
 (324, '8'),
 (325, '1,6,12,17,22,27,32,37'),
 (326, '8'),
 (327, '1,9,17,25,34'),
 (328, '36'),
 (329, '1,6,11,16,21,26,31,36'),
 (330, '7,17,27,37'),
 (331, '1,6,11,20,25,30,35,40'),
 (332, '1,11,21,38'),
 (333, '7,13,19,32,38'),
 (334, '1,7,13,24,30,36'),
 (335, '1,11,29,39'),
 (336, '1,6,11,16,21,26,31,38'),
 (337, '1,19,29,39'),
 (338, '1,9,17,32,40'),
 (339, '1,6,11,16,26,31,36'),
 (340, '1,14,28'),
 (341, '34'),
 (342, '1,14,39'),
 (343, '1,14,39'),
 (344, '5,11,17,29,35'),
 (345, '1,9,17,25,36'),
 (346, '16,21,26,31,36'),
 (347, '11,24,37'),
 (348, '7,13,19,30,36'),
 (349, '14,38'),
 (350, '6'),
 (351, '1,13,19,25,31,37'),
 (352, '9,22,35'),
 (353, '1,6,11,16,21,26,35,40'),
 (354, '1,7,13,19,32,38'),
 (355, '1,12,20,28,36'),
 (356, '2,12,22,32'),
 (357, '7,12,17,22,27,32,37'),
 (358, '1,6,11,16,21,26,33,38'),
 (359, '1,6,11,16,30,35,40'),
 (360, '1,6,11,16,21,26,37'),
 (362, '1,6,11,16,21,26,37'),
 (363, '1,6,11,16,21,26,34,39'),
 (364, '3,13,33'),
 (365, '20,40'),
 (366, '1,6,16,21,26,31,36'),
 (367, '1,6,11,16,21,37'),
 (368, '1,22'),
 (369, '34'),
 (370, '1,9,17,28,36'),
 (371, '9,22,35'),
 (372, '1,8,13,18,28,33,38'),
 (373, '1,6,11,16,21,26,31,36'),
 (374, '1,12,22,32'),
 (375, '2,8,14,20,26,32'),
 (376, '16,21,26,32,37'),
 (377, '8,14,20,26,32,38'),
 (378, '1,6,13,18,28,33,38'),
 (379, '1,11,30,40'),
 (380, '24'),
 (381, '1,6,17,22,27,32,37'),
 (382, '14'),
 (383, '1,6,11,16,21,30,35,40'),
 (384, '1,39'),
 (385, '1,6,11,16,21,26,32,37'),
 (386, '1,9,17,25,33'),
 (387, '1,6,11,16,21,26,31,36'),
 (388, '1,9,17,25,33'),
 (389, '7,17,27,37'),
 (390, '1,6,11,16,21,26,34,39'),
 (391, '6,12,18,24,30,36'),
 (392, '1,11,27,37'),
 (393, '1,28'),
 (394, '15,28'),
 (395, '6'),
 (396, '5,15,25,35'),
 (397, '26'),
 (398, '1,6,11,16,21,26,31,40'),
 (399, '1,6,11,16,21,26,31,36'),
 (400, '1,7,13,19,30,36'),
 (401, '16,21,33,38'),
 (402, '1,9,17,29,37'),
 (403, '1,6,11,16,21,30,35,40'),
 (404, '2'),
 (405, '1,17,27,37'),
 (406, '1,9,22,30,38'),
 (407, '7,27'),
 (408, '30'),
 (409, '1,21,34'),
 (410, '6,19,32'),
 (411, '1'),
 (412, '10,16,22,28,34,40'),
 (413, '22,35'),
 (414, '1,6,11,20,25,30,35,40'),
 (415, '1,24,37'),
 (416, '1,7,13,19,29,35'),
 (417, '38'),
 (418, '1,14,24,34'),
 (419, '11'),
 (420, '1,14,22,30,38'),
 (421, '21,39'),
 (422, '1,34'),
 (423, '1,7,13,19,32,38'),
 (424, '35'),
 (425, '17,29,35'),
 (426, '14,22,30,38'),
 (427, '5,18,31'),
 (428, '1,15,20,25,30,35,40'),
 (429, '37'),
 (430, '29'),
 (431, '1,7,13,27,33,39'),
 (432, '16,33,38'),
 (433, '1,6,16,21,26,31,36'),
 (434, '1,6,11,16,21,26,31,37'),
 (435, '12'),
 (436, '15,35'),
 (437, '1,9,17,28,36'),
 (438, '7,12,17,22,27,32,37'),
 (439, '1,25,38'),
 (440, '1,36'),
 (441, '1,6,11,16,26,31,36'),
 (442, '12,20,28,36'),
 (443, '16,21,26,31,40'),
 (444, '8,13,18,28,33,38'),
 (445, '1,11,17,29,35'),
 (446, '15,35'),
 (447, '1,9,24,32,40'),
 (448, '14,31'),
 (449, '1,6,11,16,21,26,31,36'),
 (450, '1,6,11,16,21,26,31'),
 (451, '21'),
 (452, '39'),
 (453, '1,7,13,26,32,38'),
 (454, '1,15,28'),
 (455, '18,38'),
 (456, '26'),
 (457, '2,10,18,26,34'),
 (458, '9,17,25,34'),
 (459, '8,18,28,38'),
 (460, '6'),
 (461, '1,13,21,29,37'),
 (462, '10,30'),
 (463, '21,34'),
 (464, '11,24,37'),
 (465, '1,6,11,16,21,27,32,37'),
 (466, '1,15,21,27,33,39'),
 (467, '1,11,33'),
 (468, '1,9,17,25,33'),
 (469, '2,15,28'),
 (470, '7,15,31,39'),
 (471, '34'),
 (472, '1,38'),
 (473, '10,15,20,25,30,35,40'),
 (474, '9,15,21,27,33,39'),
 (475, '20,25,30,35,40'),
 (476, '18,38'),
 (477, '1,7,13,19,30,36'),
 (478, '9,14,19,24,29,34,39'),
 (479, '1,7,21,27,33,39'),
 (480, '6,14,22,30,38'),
 (481, '7,15,31,39'),
 (482, '24'),
 (483, '6,16,26,36'),
 (485, '10,15,20,25,30,35,40'),
 (486, '5,10,15,20,25,30,35,40'),
 (487, '1,16,26,36'),
 (488, '10,30'),
 (489, '5,25'),
 (490, '1,14,29'),
 (491, '1,7,22,28,34,40'),
 (492, '1,7,13,26,32,38'),
 (493, '1,30'),
 (494, '34'),
 (495, '1,15,21,27,33,39'),
 (496, '1,14,36'),
 (497, '9,14,19,24,29,34,39'),
 (498, '1,6,17,22,27,32,37'),
 (499, '1,11,21,34'),
 (500, '1,11,21,31'),
 (501, '9,17,26,34'),
 (502, '1,11,21,38'),
 (503, '1,9,21,29,37'),
 (504, '37'),
 (505, '1,6,20,25,30,35,40'),
 (506, '1,26'),
 (507, '9,19,29,39'),
 (508, '1,11,30,40'),
 (509, '1,18,28,38'),
 (510, '9,17,25,33'),
 (511, '1,11,21,37'),
 (512, '8'),
 (513, '1,6,15,20,25,30,35,40'),
 (514, '1,10,18,26,34'),
 (515, '10,18,26,34'),
 (516, '1,13,33'),
 (517, '5,10,15,20,25,30,35'),
 (518, '9,29'),
 (519, '5,15,25,35'),
 (520, '1,12,17,22,27,32,37'),
 (521, '1,31'),
 (522, '15'),
 (524, '29'),
 (525, '3,9,15,21,27,33'),
 (526, '9,29'),
 (527, '7'),
 (528, '2,22'),
 (529, '1,9,17,25,33'),
 (530, '1,6,11,16,21,31,36'),
 (531, '1,7,13,19,25,36'),
 (532, '5,11,17,29,35'),
 (533, '1,6,11,16,30,35,40'),
 (534, '5,25'),
 (535, '1,24,37'),
 (536, '10,15,20,25,30,35,40'),
 (537, '9,17,30,38'),
 (538, '1,6,11,20,25,30,35,40'),
 (539, '1,6,11,16,21,26,32,37'),
 (540, '1,7,13,29,35'),
 (541, '1,11,25,35'),
 (542, '6,19,32'),
 (543, '24'),
 (544, '1,11,16,21,26,31,36'),
 (545, '1,6,11,16,21,32,37'),
 (546, '17,37'),
 (547, '1,9,17,30,38'),
 (548, '1,7,13,27,33,39'),
 (549, '28'),
 (550, '10,16,22,28,34,40'),
 (551, '9,14,19,24,29,34'),
 (552, '1,6,11,16,27,32,37'),
 (553, '1,11,21,36'),
 (554, '1,9,17,25,33'),
 (555, '3,8,13,18,28,33,38'),
 (556, '1,9,17,28,36'),
 (557, '1,11,16,21,26,31,36'),
 (558, '1,6,20,25,30,35,40'),
 (559, '1,8,13,18,28,33,38'),
 (560, '1,16,22,28,34,40'),
 (561, '1'),
 (562, '7'),
 (563, '1,7,13,19,34,40'),
 (564, '16,29'),
 (565, '1,28'),
 (566, '10,16,22,28,34,40'),
 (567, '14,29'),
 (568, '29'),
 (569, '1,7,13,19,33,39'),
 (570, '15,25,35'),
 (571, '1,14,38'),
 (572, '15,21,27,33,39'),
 (573, '5,11,17,29,35'),
 (574, '9'),
 (575, '1,6,11,16,21,26,31,36'),
 (576, '16'),
 (577, '12,20,28,36'),
 (578, '8,18,28,38'),
 (579, '1,6,11,16,21,26,39'),
 (580, '19,39'),
 (581, '16,21,30,35,40'),
 (582, '1,6,14,19,24,29,34,39'),
 (583, '7,13,19,33,39'),
 (584, '1,14,24,34'),
 (585, '1,18,31'),
 (586, '6'),
 (587, '21,31'),
 (588, '9,17,29,37'),
 (589, '10,36'),
 (590, '1,6,11,16,30,35,40'),
 (591, '1,7,13,19,37'),
 (592, '1,6,11,28,33,38'),
 (593, '13'),
 (594, '1,9,18,26,34'),
 (595, '19'),
 (596, '16,21,26,32,37'),
 (597, '1,6,11,16,25,30,35,40'),
 (598, '1,6,11,22,27,32,37'),
 (599, '1,11,35'),
 (600, '1,6,11,16,21,26,31,36'),
 (601, '12'),
 (602, '11'),
 (603, '9,17,28,36'),
 (604, '1,14,27'),
 (605, '1,7,21,27,33,39'),
 (606, '1,14,33'),
 (607, '1,35'),
 (608, '7,17,27,37'),
 (609, '1,14,22,30,38'),
 (610, '1,6,11,16,29,34,39'),
 (611, '1,15,20,25,30,35,40'),
 (612, '1,6,19,24,29,34,39'),
 (613, '21'),
 (614, '1,21,34'),
 (615, '1,6,11,16,21,26,31,36'),
 (616, '18,38'),
 (617, '1,6,11,16,24,29,34,39'),
 (618, '1,11,21,31'),
 (619, '3'),
 (620, '1,6,11,16,21,28,33,38'),
 (621, '30'),
 (622, '1,9,22,30,38'),
 (623, '13,33'),
 (624, '12,20,28,36'),
 (625, '1,7,13,27,33,39'),
 (626, '1,27,40'),
 (627, '1,34'),
 (628, '40'),
 (630, '1,11,21,34'),
 (631, '1,7,13,19,33,39'),
 (633, '1,35'),
 (634, '1,17,27,37'),
 (635, '8,14,20,26,32,38'),
 (636, '1,6,11,16,21,26,31,36'),
 (637, '1,6,11,16,21,29,34,39'),
 (638, '8,28'),
 (639, '1,14,20,26,32,38'),
 (640, '6,19,32'),
 (641, '1,11,21,35'),
 (642, '1,9,17,29,37'),
 (643, '1,9,17,37'),
 (644, '3,16,29'),
 (645, '10,36'),
 (646, '38'),
 (647, '3,13,33'),
 (648, '9'),
 (649, '17,29,35'),
 (650, '1,14,40'),
 (651, '1,7,13,19,31,37'),
 (652, '9,14,19,24,29,34,39'),
 (653, '21,31'),
 (654, '1,6,11,16,21,33,38'),
 (655, '1,9,17,25,36'),
 (656, '7,17,27,37'),
 (657, '9,22,30,38'),
 (658, '1,9,17,28,36'),
 (659, '1,21,34'),
 (660, '1,7,13,19,25,40'),
 (661, '2,15,28'),
 (662, '1,6,16,21,26,31,36'),
 (663, '1,9,17,25,33'),
 (664, '21,38'),
 (665, '1,11,21,31'),
 (666, '2,22'),
 (667, '9,14,19,24,29,34'),
 (668, '1,9,19,27,35'),
 (669, '1,7,13,19,32,38'),
 (670, '12,25,38'),
 (671, '1,6,11,16,21,33,38'),
 (672, '1,9,17,25,33'),
 (673, '6,19,32'),
 (674, '1,30'),
 (675, '1,9,17,25,34'),
 (676, '1,6,11,16,21,32,37'),
 (677, '1,7,13,19,25,38'),
 (678, '1,6,11,16,21,26,39'),
 (679, '1,6,11,16,21,26,31,39'),
 (680, '8,14,20,26,32,38'),
 (681, '16,21,26,40'),
 (682, '1,7,12,17,22,27,32,37'),
 (683, '26'),
 (684, '1,6,11,16,21,26,31,36'),
 (685, '1,6,11,16,21,26,37'),
 (686, '1,7,13,19,33,39'),
 (687, '1,7,13,29,35'),
 (688, '1,9,17,25,39'),
 (690, '1,11,21,31'),
 (691, '1,6,11,18,28,33,38'),
 (692, '9,29'),
 (693, '1,11,21,31'),
 (694, '1,7,13,19,34,40'),
 (695, '1,24'),
 (696, '1,6,11,20,25,30,35,40'),
 (697, '1,20,33'),
 (698, '9,17,25,40'),
 (699, '9,19,29,39'),
 (700, '1,28'),
 (701, '19,29,39'),
 (702, '1,6,16,21,26,31,36'),
 (703, '20,40'),
 (704, '1,21'),
 (705, '21,36'),
 (706, '8,18,28,38'),
 (707, '25'),
 (708, '1,6,13,18,28,33,38'),
 (709, '7,12,17,22,27,32,37'),
 (710, '1,9,17,25,33'),
 (711, '1,6,14,19,24,29,34,39'),
 (712, '1,9,17,25,35'),
 (713, '25'),
 (714, '1,6,11,16,21,26,31,37'),
 (715, '1,7,13,19,25,37'),
 (716, '17,37'),
 (717, '1,7,13,19,29,35'),
 (718, '12,25,38'),
 (719, '1,22,35'),
 (720, '9,22,35'),
 (721, '9,17,25,37'),
 (722, '1,11,33'),
 (723, '9,21,29,37'),
 (724, '1,9,18,26,34'),
 (725, '1,21'),
 (726, '3,8,13,18,28,33'),
 (727, '1,6,11,16,21,34,39'),
 (728, '9,22,35'),
 (729, '1,14,40'),
 (730, '1,9,17,35'),
 (731, '1,13,19,25,31,37'),
 (732, '18,28,33,38'),
 (733, '8,16,24,32,40'),
 (734, '1'),
 (735, '1,7,13,19,34,40'),
 (736, '17,27,37'),
 (737, '30'),
 (738, '1,11,21,34'),
 (739, '26'),
 (740, '1,6,11,16,28,33,38'),
 (741, '2,8,14,20,26,32'),
 (742, '5,13,21,29,37'),
 (743, '1,11,25,35'),
 (744, '1,6,11,16,21,26,31,38'),
 (745, '1,6,11,19,24,29,34,39'),
 (746, '1,7,13,26,32,38'),
 (747, '1,7,13,19,25,35'),
 (748, '5,13,21,29,37'),
 (749, '8'),
 (750, '1,6,15,20,25,30,35,40'),
 (751, '1,9,17,32,40'),
 (752, '1,6,11,16,21,26,34,39'),
 (754, '38'),
 (755, '6,11,16,21,26,31,36'),
 (756, '1,26,39'),
 (757, '1,6,11,16,21,35,40'),
 (758, '28'),
 (759, '8,21,34'),
 (760, '1,6,11,21,26,31,36'),
 (761, '1,7,13,19,25,38'),
 (762, '1,6,11,16,21,26,31,36'),
 (763, '1,36'),
 (764, '13,33'),
 (765, '1,9,17,25,33'),
 (766, '1,36'),
 (767, '1,7,13,19,25,39'),
 (768, '17'),
 (769, '1,6,11,16,21,26,31,36'),
 (770, '10'),
 (771, '1,33'),
 (772, '1,11,26,36'),
 (773, '24'),
 (774, '1,9,19,27,35'),
 (775, '3,9,15,21,27,33'),
 (776, '1,11,21,36'),
 (777, '1,18,28,38'),
 (778, '14,27,40'),
 (779, '9,14,19,24,29,34,39'),
 (780, '5,10,15,20,25,30,35,40'),
 (781, '1,9,17,25,36'),
 (782, '39'),
 (783, '2,10,18,26,34'),
 (784, '1,14,38'),
 (785, '1,14,35'),
 (786, '16,21,35,40'),
 (787, '1,6,11,16,21,27,32,37'),
 (788, '1,11,21,35'),
 (789, '1,17,27,37'),
 (790, '1,7,13,19,25,40'),
 (791, '1,14,40'),
 (792, '1,35'),
 (793, '9,22,35'),
 (794, '1,26,39'),
 (795, '1,22,35'),
 (796, '1,14,34'),
 (797, '1,6,11,16,21,26,31,36'),
 (798, '7,13,29,35'),
 (799, '1,7,13,19,30,36'),
 (800, '1,17,27,37'),
 (801, '1,16,22,28,34,40'),
 (802, '9,29'),
 (803, '18,38'),
 (804, '5,11,17,29,35'),
 (805, '1,14,30'),
 (806, '1,9,17,31,39'),
 (807, '1,11,24,34'),
 (808, '9,22,35'),
 (809, '1,7,17,29,35'),
 (810, '15,25,35'),
 (811, '16,36'),
 (812, '1,17,27,37'),
 (813, '1,6,11,16,21,26,31,36'),
 (814, '9'),
 (815, '6,11,16,21,26,31,36'),
 (817, '16,25,30,35,40'),
 (818, '1,9,17,37'),
 (819, '1,6,11,16,21,26,40'),
 (820, '24'),
 (821, '1,31'),
 (822, '1,9,17,25,33'),
 (823, '29'),
 (824, '1,22'),
 (825, '1,24,37'),
 (826, '1,7,13,19,25,31'),
 (827, '5,13,21,29,37'),
 (828, '1,7,13,19,25,40'),
 (829, '1,7,13,19,32,38'),
 (830, '1,37'),
 (831, '1,16,29'),
 (832, '39'),
 (833, '1,9,17,27,35'),
 (834, '7,12,17,22,27,32,37'),
 (835, '1,19,32'),
 (836, '6,16,26,36'),
 (837, '1,11,21,35'),
 (838, '1,6,11,16,28,33,38'),
 (839, '1,9,21,29,37'),
 (840, '13,26,39'),
 (841, '1,6,11,16,22,27,32,37'),
 (842, '1,26'),
 (843, '1,24'),
 (844, '1,11,21,34'),
 (845, '18'),
 (846, '5,13,21,29,37'),
 (847, '1,6,11,16,21,35,40'),
 (848, '1,9,17,29,37'),
 (849, '1,27'),
 (850, '16,21,34,39'),
 (851, '9,14,19,24,29,34,39'),
 (852, '1,6,11,16,21,26,40'),
 (853, '1,6,11,16,21,31,36'),
 (854, '2'),
 (855, '35'),
 (856, '1,7,13,19,34,40'),
 (857, '25'),
 (858, '1,19,29,39'),
 (859, '6,19,32'),
 (860, '7,13,19,25,35'),
 (861, '1,12,17,22,27,32,37'),
 (862, '2,12,22,32'),
 (863, '1'),
 (864, '1,6,11,16,21,26,31,37'),
 (865, '1,6,11,16,21,26,31,38'),
 (866, '25'),
 (867, '1,9,17,25,39'),
 (868, '7,17,27,37'),
 (869, '1,38'),
 (870, '1,11,19,27,35'),
 (871, '1,15,31,39'),
 (872, '1,6,11,16,21,26,33,38'),
 (873, '1,11,24,34'),
 (874, '1,18,28,38'),
 (875, '16,36'),
 (876, '12,25,38'),
 (877, '24'),
 (878, '1,14,33'),
 (879, '1,11,21,34'),
 (880, '1,33'),
 (881, '1,14,19,24,29,34,39'),
 (882, '1,15,31,39'),
 (883, '1,7,13,19,32,38'),
 (884, '1'),
 (885, '13,33'),
 (886, '9,14,19,24,29,34,39'),
 (887, '16,21,26,31,40'),
 (888, '1,12,20,28,36'),
 (889, '29'),
 (890, '38'),
 (891, '1,6,11,16,21,26,31,36'),
 (892, '35'),
 (893, '9,22,35'),
 (894, '1,38'),
 (895, '1,6,11,28,33,38'),
 (896, '1,9,17,29,37'),
 (897, '10,16,22,28,34,40'),

In [123]:
%%sql
SELECT item_list, count(*) as n
FROM  (SELECT order_number, 
       GROUP_CONCAT(product_number ORDER BY product_number) item_list
FROM `order` NATURAL JOIN order__item
GROUP BY order_number) as q
GROUP BY item_list
ORDER BY n DESC
LIMIT 1

 * mysql://dimitri:***@db.ust-data-sci.net
1 rows affected.

[('1,6,11,16,21,26,31,36', 23)]