In [1]:
import datajoint as dj

In [2]:
schema = dj.schema('dimitri_university')

[2022-09-06 17:53:21,513][INFO]: Connecting dimitri@db.ust-db.link:3306

OperationalError: (2003, "Can't connect to MySQL server on 'db.ust-db.link' ([Errno 8] nodename nor servname provided, or not known)")

In [ ]:
schema.drop()

In [ ]:
@schema
class Student(dj.Manual):
    definition = """
    student_id : int unsigned   # university-wide ID number
    ---
    first_name      : varchar(40)
    last_name       : varchar(40)
    sex             : enum('F', 'M', 'U')
    date_of_birth   : date
    home_address    : varchar(120) # mailing street address
    home_city       : varchar(60)  # mailing address
    home_state      : char(2)      # US state acronym: e.g. OH
    home_zip        : char(10)     # zipcode e.g. 93979-4979
    home_phone      : varchar(20)  # e.g. 414.657.6883x0881
    """

In [ ]:
%%sql

CREATE TABLE student (
    student_id   int unsigned not NULL  COMMENT "university-wide ID number",
    first_name   varchar(40) NOT NULL,
    last_name    varchar(40) NOT NULL,
    sex             enum('F', 'M', 'U') NOT NULL,
    date_of_birth   date NOT NULL,
    home_address    varchar(120) NOT NULL COMMENT "mailing street address",
    home_city       varchar(60) NOT NULL COMMENT "mailing address",
    home_state      char(2) NOT NULL, 
    home_zip        char(10)    NOT NULL,
    home_phone      varchar(20)  NOT NULL,
    PRIMARY KEY (student_id)
)

In [ ]:
    
@schema
class Department(dj.Manual):
    definition = """
    dept : varchar(6)   # abbreviated department name, e.g. BIOL
    ---
    dept_name    : varchar(200)  # full department name
    dept_address : varchar(200)  # mailing address
    dept_phone   : varchar(20)
    """

In [ ]:
dj.Diagram(schema)

In [ ]:
StudentMajor.drop()

In [ ]:
StudentMajor.drop()

In [ ]:
@schema
class StudentMajor(dj.Manual):
    definition = """
    -> Student 
    ---
    -> Department
    declare_date : date  
    """

In [ ]:
%%SQL

create table student_major (
   student_id  int unsigned not null
    dept varchar(6) not null,
    primary key (student_id, dept),
    foreign key (student_id) reference student(student_id),
    foreign key (dept) reference department(dept)
)

In [ ]:
@schema
class Hotel(dj.Manual):
    definition = """
    hotel : varchar(6)     
    """

In [ ]:
@schema
class Room(dj.Manual):
    definition = """
    -> Hotel
    room : int
    """

In [ ]:
@schema
class Reservation(dj.Manual):
    definition = """
    -> Room
    night : date 
    ---
    -> Student
    """

In [ ]:
dj.Diagram(schema)

In [ ]:
@schema
class Bank(dj.Manual):
    definition = """
    bank : varchar(6)    
    """

In [ ]:
Bank.insert1(('First',))

In [ ]:
Bank().make_sql()

In [ ]:
@schema
class Account(dj.Manual):
    definition = """
    -> Bank
    account : int
    """

In [ ]:
@schema
class AccountOwner(dj.Manual):
    definition = """
    -> Account
    account : int
    -> Student
    ---
    """

In [ ]:
Account()

In [ ]:
StudentMajor()

In [ ]:
@schema
class Student(dj.Manual):
    definition = """
    student_id : int unsigned   # university-wide ID number
    ---
    first_name      : varchar(40)
    last_name       : varchar(40)
    sex             : enum('F', 'M', 'U')
    date_of_birth   : date
    home_address    : varchar(120) # mailing street address
    home_city       : varchar(60)  # mailing address
    home_state      : char(2)      # US state acronym: e.g. OH
    home_zip        : char(10)     # zipcode e.g. 93979-4979
    home_phone      : varchar(20)  # e.g. 414.657.6883x0881
    """

In [ ]:

@schema
class StudentMajor(dj.Manual):
    definition = """
    -> Student
    ---
    -> Department
    declare_date :  date  # when student declared her major
    """

In [ ]:
StudentMajor()

In [ ]:
dj.Diagram(schema)

In [ ]:
@schema
class Course(dj.Manual):
    definition = """
    -> Department
    course  : int unsigned   # course number, e.g. 1010
    ---
    course_name :  varchar(200)  # e.g. "Neurobiology of Sensation and Movement."
    credits     :  decimal(3,1)  # number of credits earned by completing the course
    """
    
@schema
class Term(dj.Manual):
    definition = """
    term_year : year
    term      : enum('Spring', 'Summer', 'Fall')
    """

@schema
class Section(dj.Manual):
    definition = """
    -> Course
    -> Term
    section : char(1)
    ---
    auditorium   :  varchar(12)
    """
    
@schema
class CurrentTerm(dj.Manual):
    definition = """
    -> Term
    """

@schema
class Enroll(dj.Manual):
    definition = """
    -> Student
    -> Section
    """

@schema
class LetterGrade(dj.Manual):
    definition = """
    grade : char(2)
    ---
    points : decimal(3,2)
    """

@schema
class Grade(dj.Manual):
    definition = """
    -> Enroll
    ---
    -> LetterGrade
    """

In [ ]:
dj.Diagram(schema)

In [ ]:
CurrentTerm()

In [ ]:
dj.Diagram(schema)

In [ ]:
CurrentTerm.describe()

In [ ]:
@schema
class Prom(dj.Manual):
    definition = """
    -> CurrentTerm
    ---    
    """

In [ ]:
isinstance(IndexError(), IndexError)

In [ ]:
try:
    raise IndexError()
except Exception as e:
    print(isinstance(e, IndexError))

In [ ]:
Prom()

In [ ]:
Term().insert1(('2020', 'Spring'))

In [ ]:
CurrentTerm.insert1((' ', '2019', 'Fall'))

In [ ]:
CurrentTerm()

In [ ]:
Prom.describe();

In [ ]:
set((1,2,3)).difference(({'_'}))

In [ ]:
{'1213'}